Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Initialize on_verack handler to prevent race condition (BUG #132)
  src/net/net.cpp
Due: unittests, Network

fix: Prevent duplicate inbound connections from same IP (BUG #133)
  src/net/net.cpp
Due: unittests, Network

fix: Improve duplicate peer detection to prevent race conditions (BUG #133 v2)
  src/net/net.cpp
Due: unittests, Network

fix: Add peer before Connect() to prevent TOCTOU race (BUG #133 v3)
  src/net/net.cpp
Due: unittests, Network

fix: Read socket continuously in ReceiveMessages loop (BUG #134)
  src/net/net.cpp
Due: unittests, Network

fix: Add retry mechanism for socket reads during handshake (BUG #134 v2)
  src/net/net.cpp
Due: unittests, Network

fix: Add 10ms delay between socket read retries (BUG #134 v3)
  src/net/net.cpp
Due: unittests, Network

feat: Complete Phase 6 event-driven networking port with tests
  Makefile
  src/core/node_context.h
  src/net/async_broadcaster.cpp
  src/net/async_broadcaster.h
  src/net/connman.cpp
  src/net/connman.h
  src/net/feeler.cpp
  src/net/feeler.h
  src/net/net.cpp
  src/net/net.h
  src/net/node.cpp
  src/net/node.h
  src/net/peers.cpp
  src/net/peers.h
  src/net/sock.cpp
  src/net/sock.h
  src/net/socket.cpp
  src/net/socket.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/test/connman_tests.cpp
Due: unittests, Network

fix: Include connman.h in node_context.cpp for unique_ptr destructor
  src/core/node_context.cpp
Due: unittests

fix: Update test assertions to match CNode default state
  src/test/connman_tests.cpp
Due: none

docs: Mark Phase 6 Testing and Validation complete
  docs/developer/LIBEVENT-NETWORKING-PORT-PLAN.md
Due: none

fix: Remove duplicate P2P socket binding - CConnman handles it
  src/node/dilithion-node.cpp
Due: unittests

chore: Remove hardcoded version strings from node output
  src/node/dilithion-node.cpp
Due: unittests

fix: Remove leftover p2p_socket.Close() reference
  src/node/dilithion-node.cpp
Due: unittests

fix: Detect non-blocking connect() completion in SocketHandler (BUG #135)
  src/net/connman.cpp
Due: unittests, Network

fix: Add self-connection prevention and handshake debug logging (BUG #136)
  src/net/connman.cpp
  src/net/connman.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Loop to accept all pending connections (BUG #137)
  src/net/connman.cpp
Due: unittests, Network

fix: Register handlers BEFORE starting CConnman threads (BUG #138)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add logging around on_version call to trace handler execution
  src/net/net.cpp
Due: unittests, Network

debug: Add receive path logging to trace VERSION message reception
  src/net/connman.cpp
Due: unittests, Network

fix: Send VERSION after connection completes, not before (BUG #139)
  src/net/connman.cpp
  src/net/connman.h
  src/net/node.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Make HTTP server failure non-fatal (BUG #140)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add handler entry log to trace VERSION handler (BUG #141)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add more granular debug to VERSION handler (BUG #141 v2)
  src/node/dilithion-node.cpp
Due: unittests

fix: Release cs_vNodes before processing messages (BUG #141)
  src/net/connman.cpp
Due: unittests, Network

debug: Add VERSION-HANDLER-4/5 debug output around GetNode (BUG #141)
  .claude/settings.local.json
  src/node/dilithion-node.cpp
Due: unittests

cleanup: Remove BUG #141 debug output
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Update CPeer state when VERSION sent from SocketHandler (BUG #142)
  src/net/connman.cpp
Due: unittests, Network

debug: Add logging for VERSION send in SocketHandler
  src/net/connman.cpp
Due: unittests, Network

fix: Use CConnman instead of deprecated g_connection_manager (BUG #143)
  .claude/settings.local.json
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add ThreadMessageHandler debug logging (BUG #144)
  .claude/settings.local.json
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/connman.cpp
Due: unittests, Network

fix: Mark CNode for disconnect on handshake timeout (BUG #144)
  src/net/peers.cpp
Due: unittests, Network

debug: Add more detailed message queue logging (BUG #144)
  src/net/connman.cpp
Due: unittests, Network

debug: Enhanced TMH logging to show pending node IDs (BUG #145)
  src/net/connman.cpp
Due: unittests, Network

debug: Add comprehensive TMH iteration logging (BUG #145)
  src/net/connman.cpp
Due: unittests, Network

debug: Add verack callback step logging (BUG #145)
  src/node/dilithion-node.cpp
Due: unittests

fix: Prevent infinite loop in AddrMan::Select() (BUG #145)
  src/net/addrman.cpp
Due: unittests, Network

cleanup: Remove BUG #145 debug output from TMH and verack callback
  src/net/connman.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

debug: Add BUG #146 debug logging for peer state tracking
  src/net/net.cpp
  src/net/peers.cpp
Due: unittests, Network
