Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

debug: Add MSGHANDLER-SKIP logging for disconnect + message loss detection
  src/net/connman.cpp
Due: unittests, Network

debug: Add MSGHANDLER-LOOP iteration counter
  src/net/connman.cpp
Due: unittests, Network

refactor: Remove unused CMessageProcessorQueue
  Makefile
  src/core/node_context.h
  src/net/message_queue.cpp
  src/net/message_queue.h
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Add CancelStalledChunk to prevent IBD deadlock
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

debug: Add hash tracing to diagnose IBD stall
  .claude/settings.local.json
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Disable legacy inv-based block requests during IBD
  src/node/dilithion-node.cpp
Due: unittests

fix: Permanently disable legacy inv-based block requests
  src/node/dilithion-node.cpp
Due: unittests

fix: Disable all legacy block request paths
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

debug: Add stall cancellation tracing
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Remove stale message_queue.h include from net.cpp
  src/net/net.cpp
Due: unittests, Network

fix: Continue headers sync after receiving full 2000-header batch (BUG #147)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add headers.size() trace
  src/node/dilithion-node.cpp
Due: unittests

fix: Advance IBD window when blocks connect (BUG #148) - enables parallel downloading
  src/node/dilithion-node.cpp
Due: unittests

fix: Remove overly strict GETHEADERS locator validation (BUG #149)
  src/net/net.cpp
Due: unittests, Network

debug: Add height info to HaveData skip message
  src/node/dilithion-node.cpp
Due: unittests

fix: Handle blocks with data but not connected to chain (BUG #150)
  src/node/dilithion-node.cpp
Due: unittests

perf: Increase chunk stall timeout from 2s to 30s
  src/net/block_fetcher.h
Due: unittests, Network

perf: Increase peer stall threshold from 100 to 500
  src/net/peers.h
Due: unittests, Network

perf: Skip RandomX PoW for blocks at/below checkpoint (BUG #151)
  src/node/dilithion-node.cpp
Due: unittests

fix: Use chain height instead of parent lookup for checkpoint optimization
  src/node/dilithion-node.cpp
Due: unittests

fix: Use canonical RandomX hash for chainstate indexing (BUG #152)
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD protocol reliability fixes (BUG #153, #154, #155)
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/connman.cpp
  src/net/connman.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Credit chunk via height when blocks arrive late (BUG #156)
  src/node/dilithion-node.cpp
Due: unittests

perf: Increase chunk size to 64 blocks and reduce stall timeout to 10s
  .claude/settings.local.json
  src/net/block_fetcher.h
Due: unittests, Network

perf: Phase 1 IBD speed fix - Bitcoin Core parameters
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

feat: Implement async block validation queue for improved IBD performance
  src/core/node_context.cpp
  src/core/node_context.h
  src/node/block_validation_queue.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Improve block validation queue handling during IBD
  src/node/block_validation_queue.cpp
Due: unittests

refactor: Enhance block validation and fetching mechanisms for improved IBD performance
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/peers.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Add missing include for CBlockValidationQueue
  src/core/node_context.cpp
Due: unittests

fix: Add missing include in ibd_coordinator.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Add block_validation_queue.cpp to Makefile
  Makefile
Due: none

fix: Correct include path for blockchain_storage.h
  src/node/block_validation_queue.cpp
Due: unittests

fix: Include complete types in validation queue header
  src/node/block_validation_queue.h
Due: unittests

fix: Correct uint256.h include path
  src/node/block_validation_queue.h
Due: unittests

debug: Add temp debug logging for peer rejection analysis
  src/net/peers.cpp
Due: unittests, Network

fix: Update download window tracking in OnChunkBlockReceived
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD height-based tracking to survive chunk cancellation
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Remove duplicate chunk tracking from MarkBlockReceived
  src/net/block_fetcher.cpp
Due: unittests, Network

perf: Async orphan block processing to unblock P2P thread
  .claude/settings.local.json
  docs/analysis/IBD-BOTTLENECKS-AND-IMPROVEMENTS.md
  docs/analysis/ORPHAN-BLOCK-HANDLING-BOTTLENECKS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/block_fetcher.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

perf: IBD hang fixes - gradual backpressure and smart window advancement
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/block_validation_queue.cpp
  src/node/block_validation_queue.h
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network
