Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

Phase 7 PR7.1: doc + header re-scope + cross-reference sweep
  HANDOFF_OVERNIGHT.md
  src/node/fork_manager.h
Due: unittests

fix(txindex): BaseIndex pattern + hardening [queue: TXINDEX-PR7G]
  docs/TX-INDEX-RUNBOOK.md
  docs/TX-INDEX.md
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/tx_index_integration_tests.cpp
  src/test/tx_index_tests.cpp
Due: unittests, RPC

build: fix make depends dilithium step (use existing pattern rule)
  Makefile
Due: none

fix(txindex): BaseIndex pattern + hardening [queue: TXINDEX-PR7G] (#33)
  docs/TX-INDEX-RUNBOOK.md
  docs/TX-INDEX.md
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/tx_index_integration_tests.cpp
  src/test/tx_index_tests.cpp
Due: unittests, RPC

Phase 7 PR7.2: fork-staging legacy-path regression tests + docblock correction
  Makefile
  src/node/fork_manager.h
  src/test/fork_staging_legacy_path_tests.cpp
Due: unittests

feat(rpc): port getindexinfo from Bitcoin Core v28.0
  docs/TX-INDEX.md
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/tx_index_tests.cpp
Due: unittests, RPC

feat(rpc): port getindexinfo from Bitcoin Core v28.0 (#34)
  docs/TX-INDEX.md
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/tx_index_tests.cpp
Due: unittests, RPC

Phase 7 PR7.2-followup: Layer-2 red-team fixes (LOW-1 + MEDIUM-1)
  src/node/fork_manager.h
  src/test/fork_staging_legacy_path_tests.cpp
Due: unittests

v4.0.22: chain-coherence + peer hardening (sync to main) (#35)
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Network, RPC

Phase 8 PR8.0: regtest peering structural fix (EDA-bypass + 0s timestamp gap)
  src/consensus/pow.cpp
  src/core/chainparams.cpp
Due: unittests, Consensus

feat(mempool): persist module skeleton + tests [PR-MP-1]
  Makefile
  src/node/mempool.cpp
  src/node/mempool.h
  src/node/mempool_persist.cpp
  src/node/mempool_persist.h
  src/test/mempool_persist_tests.cpp
Due: unittests

feat(mempool): wire persistence + --persistmempool flag [PR-MP-2]
  docs/MEMPOOL-PERSISTENCE.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  test/functional/feature_mempool_persist.py
Due: unittests

feat(mempool): persist module skeleton + tests [PR-MP-1] (#36)
  Makefile
  src/node/mempool.cpp
  src/node/mempool.h
  src/node/mempool_persist.cpp
  src/node/mempool_persist.h
  src/test/mempool_persist_tests.cpp
Due: unittests

mempool: wire persistence + --persistmempool flag [PR-MP-2] (#37)
  docs/MEMPOOL-PERSISTENCE.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  test/functional/feature_mempool_persist.py
Due: unittests

feat(rpc): port small-RPCs cluster from Bitcoin Core v28.0
  Makefile
  docs/SMALL-RPCS-CLUSTER.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/rpc_small_cluster_tests.cpp
Due: unittests, RPC

feat(rpc): savemempool RPC handler [PR-MP-3]
  docs/MEMPOOL-PERSISTENCE.md
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/mempool_persist_tests.cpp
Due: unittests, RPC

Phase 8 PR8.2 (Phase 1 milestone): 4-node regtest harness scaffolding
  Makefile
  scripts/four_node_local.sh
Due: none

fix(rpc): drop getblockstats from cluster + chainparams init [PR #38]
  docs/SMALL-RPCS-CLUSTER.md
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/rpc_small_cluster_tests.cpp
Due: unittests, RPC

feat(rpc): savemempool RPC handler [PR-MP-3] (#39)
  docs/MEMPOOL-PERSISTENCE.md
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/mempool_persist_tests.cpp
Due: unittests, RPC

build: gitignore cross-session handoff working drafts
  .gitignore
Due: none

feat(storage): undo-data read accessor [PR-BA-1]
  Makefile
  src/node/undo_data.h
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/test/undo_data_tests.cpp
Due: unittests

feat(policy): estimatesmartfee core + persistence [PR-EF-1]
  Makefile
  src/policy/fee_persist.cpp
  src/policy/fee_persist.h
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fee_estimator_tests.cpp
  src/test/fee_persist_tests.cpp
Due: unittests

Phase 8 PR8.3 (v0.1.3 reframe): multi-miner stress test mimicking mainnet topology
  scripts/four_node_local.sh
Due: none

fix(rpc): savemempool red-team findings [PR-MP-FIX]
  docs/MEMPOOL-PERSISTENCE.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/permissions.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/mempool_persist_tests.cpp
Due: unittests, RPC

fix(storage): undo-data red-team findings [PR-BA-1]
  src/node/utxo_set.h
  src/test/undo_data_tests.cpp
Due: unittests

fix(rpc): cluster red-team findings: B1 + C1+C4-C8 [PR #38]
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/rpc_small_cluster_tests.cpp
Due: unittests, RPC

Phase 8 PR8.2-followup (partial): scenario 2 (peer-rotation via kill/restart)
  scripts/four_node_local.sh
Due: none

Phase 8 PR8.2-followup-2: scenario 3 (FindMostWorkChain organic observation)
  scripts/four_node_local.sh
Due: none

fix(policy): estimatesmartfee red-team findings [PR-EF-1]
  src/policy/fee_persist.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fee_persist_tests.cpp
Due: unittests

Phase 8 PR8.4: bypass quantification orchestration script
  tools/run_phase8_bypass_quantification.sh
Due: none

fix(rpc): cluster shutdown-flag isolation across tests [PR #38]
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/rpc_small_cluster_tests.cpp
Due: unittests, RPC

Phase 8 PR8.5: PR7.2 deferred-finding cleanup + Case 5 fork-timeout
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
  src/test/fork_staging_legacy_path_tests.cpp
Due: unittests

feat(storage): undo-data read accessor [PR-BA-1] (#40)
  Makefile
  src/node/undo_data.h
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/test/undo_data_tests.cpp
Due: unittests

Phase 8 PR8.6-followup: Layer-2 red-team MEDIUM-1 + MEDIUM-3 + LOW-1 fixes
  src/node/fork_candidate.h
  src/test/fork_staging_legacy_path_tests.cpp
Due: unittests

rpc: small RPCs cluster (5 of 6) [T1.B] (#38)
  Makefile
  docs/SMALL-RPCS-CLUSTER.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/rpc_small_cluster_tests.cpp
Due: unittests, RPC

feat(policy): estimatesmartfee core + persistence [PR-EF-1] (#41)
  Makefile
  src/policy/fee_persist.cpp
  src/policy/fee_persist.h
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fee_estimator_tests.cpp
  src/test/fee_persist_tests.cpp
Due: unittests

fix(rpc): savemempool red-team findings [PR-MP-FIX] (#42)
  docs/MEMPOOL-PERSISTENCE.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/permissions.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/mempool_persist_tests.cpp
Due: unittests, RPC

Phase 9 PR9.1: --usenewpeerman help-text refresh + post-Phase-8 wording
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

Phase 9 PR9.3: --usenewpeerman burn-in telemetry RPCs
  src/net/connman.h
  src/rpc/permissions.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, Network, RPC

Phase 9 PR9.2: --usenewpeerman flip operator runbook
  docs/runbooks/usenewpeerman-flip-runbook.md
Due: none
