Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

Phase 9 PR9.6-followup: Layer-2 + Cursor MEDIUM fixes
  docs/runbooks/usenewpeerman-flip-runbook.md
  src/rpc/server.cpp
Due: unittests, RPC

feat(index): coinstatsindex (BaseIndex pattern) [PR-BA-2]
  Makefile
  docs/COINSTATSINDEX.md
  docs/TX-INDEX.md
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/kernel/coinstats.cpp
  src/kernel/coinstats.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/coinstatsindex_integration_tests.cpp
  src/test/coinstatsindex_tests.cpp
Due: unittests, RPC

feat(policy): estimatesmartfee mempool/chainstate wiring [PR-EF-2]
  Makefile
  docs/FEE-ESTIMATION.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/mempool.cpp
  src/node/mempool.h
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fee_wiring_tests.cpp
Due: unittests

Phase 10 PR10.1: per-RPC unit tests for Phase 9 telemetry surface
  Makefile
  src/rpc/server.h
  src/test/phase_9_telemetry_rpc_tests.cpp
Due: unittests, RPC

fix(fees-wiring): F#1 close shutdown UAF on expiration thread
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

fix(fees-wiring): F#2 IBD-gate the block-connect callback
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(fees-wiring): F#3 estimator-notify out of cs everywhere
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

fix(fees-wiring): F#5 idempotent processBlock on rollback replay
  src/policy/fees.cpp
Due: unittests

fix(fees-wiring): F#8 add bypass_fee_check to ReplaceTransaction
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

fix(coinstatsindex): add obj/kernel dir to Makefile [M1]
  Makefile
Due: none

fix(coinstatsindex): correct cs_main lock state in chain.cpp comments [L4]
  src/consensus/chain.cpp
Due: unittests, Consensus

fix(fees-wiring): F#9 correct LoadFeeEstimates ordering rationale
  src/node/dilithion-node.cpp
Due: unittests

fix(fees-wiring): F#10 doc the connect-then-cleanup ordering
  docs/FEE-ESTIMATION.md
Due: none

fix(fees-wiring): F#7 TODO note on triple block deserialization
  src/consensus/chain.cpp
Due: unittests, Consensus

feat(rpc): port testmempoolaccept from Bitcoin Core v28.0 [T1.B-2]
  Makefile
  docs/SMALL-RPCS-CLUSTER.md
  src/node/mempool.cpp
  src/node/mempool.h
  src/rpc/permissions.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/testmempoolaccept_tests.cpp
Due: unittests, RPC

fix(fees-wiring): F#4 expand test coverage to match docstring
  src/node/mempool.cpp
  src/node/mempool.h
  src/test/fee_wiring_tests.cpp
Due: unittests

fix(coinstatsindex): symmetric underflow handling in CoinStatsApplyBlock [L1]
  src/kernel/coinstats.cpp
Due: unittests

fix(coinstatsindex): rename hashSerialized -> hashChainCommitment + caveat docs [H2]
  docs/COINSTATSINDEX.md
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/kernel/coinstats.cpp
  src/kernel/coinstats.h
  src/test/coinstatsindex_tests.cpp
Due: unittests

fix(coinstatsindex): full WipeIndex on meta-vs-record mismatch [M3]
  src/index/coinstatsindex.cpp
Due: unittests

fix(coinstatsindex): IsCorrupted gate + EraseBlock rollback ordering + parent-mismatch detection [H1, H3]
  src/index/coinstatsindex.cpp
Due: unittests

test(coinstatsindex): unit tests for H1, H2, H3, M3 fixes
  src/test/coinstatsindex_tests.cpp
Due: none

fix(coinstatsindex): RAII guard for g_force_eraseblock_failure hook [L2]
  src/test/coinstatsindex_tests.cpp
Due: none

fix(coinstatsindex): rename + correct live_callback_gated_until_synced test [M4]
  src/test/coinstatsindex_tests.cpp
Due: none

fix(coinstatsindex): expose IsCorrupted via getindexinfo [M2]
  docs/COINSTATSINDEX.md
  src/rpc/server.cpp
  src/test/coinstatsindex_integration_tests.cpp
Due: unittests, RPC

Phase 10 PR10.2: atomic-snapshot getter APIs eliminate two RPC race windows
  src/net/block_tracker.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/peers.cpp
  src/net/peers.h
  src/rpc/server.cpp
  src/test/phase_9_telemetry_rpc_tests.cpp
Due: unittests, Network, RPC

fix(testmempoolaccept): prefix mempool reject reasons with 'Failed to add to mempool:' [H1]
  src/rpc/server.cpp
Due: unittests, RPC

fix(testmempoolaccept): document divergences + reject negative maxfeerate [H2 M3 M4 M9 M10 M12 L2 L3]
  docs/SMALL-RPCS-CLUSTER.md
  src/rpc/server.cpp
Due: unittests, RPC

Phase 10 PR10.3: block_fetcher fork-bias path mechanism-isolation log + harness scenario 6b
  scripts/four_node_local.sh
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

Phase 10 PR10.5a: aggregator script for Phase 8 bypass quantification
  tools/aggregate_phase8_bypass_quantification.py
Due: none

fix(testmempoolaccept): add test-only state-integrity accessors [H3]
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

fix(testmempoolaccept): expand tests + replace UB stubs [H3 H4 M3 M4 M5 M6 M7 M8 M11 L2]
  src/test/testmempoolaccept_tests.cpp
Due: none

feat(index): coinstatsindex (BaseIndex pattern) [PR-BA-2] (#43)
  Makefile
  docs/COINSTATSINDEX.md
  docs/TX-INDEX.md
  src/consensus/chain.cpp
  src/index/coinstatsindex.cpp
  src/index/coinstatsindex.h
  src/kernel/coinstats.cpp
  src/kernel/coinstats.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/coinstatsindex_integration_tests.cpp
  src/test/coinstatsindex_tests.cpp
Due: unittests, Consensus, RPC

feat(rpc): port testmempoolaccept from Bitcoin Core v28.0 [T1.B-2] (#46)
  Makefile
  docs/SMALL-RPCS-CLUSTER.md
  src/node/mempool.cpp
  src/node/mempool.h
  src/rpc/permissions.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/testmempoolaccept_tests.cpp
Due: unittests, RPC

fix(fees-wiring): stub g_fee_estimator + removeTx/processTx for fuzz
  src/test/fuzz/fuzz_stubs.cpp
Due: none

fix(zmq): replace fragile sleep with handshake warmup loop [F6]
  src/test/zmq_tests.cpp
Due: none

fix(zmq): mutation-test the shared-socket refcount contract [F2]
  src/test/zmq_tests.cpp
Due: none

fix(zmq): add distclean target that wipes libzmq build [F8]
  Makefile
Due: none

fix(zmq): TODO + same-thread assertion on mapPublishNotifiers [F9]
  src/zmq/zmqpublishnotifier.cpp
Due: unittests

fix(zmq): tighten IPv6 detection for bare addresses [F1]
  src/test/zmq_tests.cpp
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqutil.cpp
  src/zmq/zmqutil.h
Due: unittests

fix(zmq): make bind-failure test actually exercise clean state [F3]
  src/test/zmq_tests.cpp
Due: none
