Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

docs: Add Bug #26 resolution summary
  BUG-26-RESOLUTION-SUMMARY.md
Due: none

chore: Release v1.0.14 - Increase testnet difficulty 6x
  releases/RELEASE-NOTES-v1.0.14.md
  src/core/chainparams.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD implementation - VERACK handler + GetHeadersHandler empty locator support (Bug #29)
  src/node/dilithion-node.cpp
Due: unittests

fix: Add VERACK handler support and headers manager improvements for IBD
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/net.cpp
  src/net/net.h
Due: unittests, Network

feat: Implement headers-first IBD + fix Bug #30 (block persistence)
  src/consensus/chain.cpp
  src/miner/controller.cpp
  src/net/net.cpp
  src/node/blockchain_storage.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus, Network

feat: Complete IBD block download integration
  src/node/dilithion-node.cpp
Due: unittests

fix: GetHeadersHandler must always send HEADERS response (Bug #31)
  src/node/dilithion-node.cpp
Due: unittests

fix: Bug #32 - Mining template not updating on block arrival
  src/node/dilithion-node.cpp
Due: unittests

fix: Bug #33 - Fix three critical IBD bugs breaking header processing
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Queue blocks for download after headers received (Bug #34)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add detailed logging to ProcessHeaders to diagnose Bug #34 issue
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Bug #35 - Remove deadlock in UpdatePeerState (blocked Bug #34 fix)
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Bug #36 - Register peers with BlockFetcher on handshake complete
  src/node/dilithion-node.cpp
Due: unittests

debug: Add logging to SelectPeerForDownload to diagnose Bug #36
  src/node/dilithion-node.cpp
Due: unittests

debug: Add detailed logging to SelectPeerForDownload for diagnosis
  src/net/block_fetcher.cpp
Due: unittests, Network

debug: Change SelectPeerForDownload logging to stdout with flush
  src/net/block_fetcher.cpp
Due: unittests, Network

debug: Add logging to trace GETDATA message processing
  src/net/net.cpp
Due: unittests, Network

fix: Bug #38 - First header assigned wrong height during IBD
  src/net/headers_manager.cpp
Due: unittests, Network

chore: Remove debug logging from IBD and network code
  src/net/block_fetcher.cpp
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

cleanup: Remove Bug #39 diagnostic logging
  src/net/net.cpp
Due: unittests, Network

fix: Bug #40 and #41 - HeadersManager synchronization with blockchain
  BUG-40-HEADERSMANAGER-NOT-UPDATING.md
  BUG-41-HEADERSMANAGER-STARTUP-INIT.md
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus, Network

Release v1.0.16 - Bug #40 and #41 IBD fixes
  releases/RELEASE-NOTES-v1.0.16.md
  src/node/dilithion-node.cpp
Due: unittests

fix: Update macOS build workflow - use 'submodules: true' instead of 'recursive'
  .github/workflows/build-macos.yml
Due: none

fix: Manually checkout RandomX submodule instead of auto-checkout
  .github/workflows/build-macos.yml
Due: none

docs: Update website to v1.0.16
  website/index.html
Due: none

fix: Bug #42 - Parse IPv4 addresses for inbound P2P connections
  BUG-42-FIX-INBOUND-ADDRESS-PARSING.md
  src/net/net.cpp
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

Revert "fix: Bug #42 - Parse IPv4 addresses for inbound P2P connections"
  BUG-42-FIX-INBOUND-ADDRESS-PARSING.md
  src/net/net.cpp
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Bug #43 - Relay received blocks to other peers
  src/node/dilithion-node.cpp
Due: unittests

fix: Bug #44 - Populate VERSION message addr_recv, addr_from, and nonce fields
  src/net/net.cpp
  src/net/net.h
Due: unittests, Network

fix: Bug #45 - Non-blocking socket partial read causing message corruption
  BUG-45-FIXED.md
  src/net/net.cpp
  src/net/net.h
Due: unittests, Network

fix: Bug #46 - Implement proper chain reorganization support
  BUG-46-CHAIN-REORG-FIXED.md
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

fix: Bugs #46, #47, #48 - Chain reorg, PoW validation, and header corruption
  BUG-46-47-48-COMPLETE-SOLUTION.md
  BUG-48-HEADERS-DESERIALIZATION-SESSION.md
  BUG-48-ROOT-CAUSE-FOUND.md
  src/consensus/pow.cpp
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/blockchain_storage.cpp
Due: unittests, Consensus, Network

chore: Update dilithion.org website to v1.0.17
  website/index.html
Due: none

fix: Bug #49 - Remove incorrect CVE-2012-2459 check causing orphan block rejection
  src/consensus/validation.cpp
Due: unittests, Consensus

fix: Additional BUG #49 improvements - IBD backoff, peer reconnection, fork detection
  BUG-49-DEPLOYMENT-COMPLETE.md
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Force single-threaded RandomX init to prevent hang on multi-CPU systems
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography
