Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: Coverity CID 1675184 - Prevent integer overflow in HTTP parsing
  src/rpc/server.cpp
Due: unittests, RPC

fix: Coverity CID 1675280/1675273/1675308 - Handle unchecked return values
  src/rpc/server.cpp
Due: unittests, RPC

fix: Coverity CID 1675184 - Pre-compute bounds to prevent loop overflow
  src/rpc/server.cpp
Due: unittests, RPC

fix: Coverity CID 1675306 - Implement UTXO checking in ScanHDChains
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Coverity CID 1675183 - Fix data race in bandwidth throttle
  src/net/bandwidth_throttle.cpp
Due: unittests, Network

fix: Coverity CID 1675300 - Fix data race in IsFileLoggingEnabled
  src/util/logging.cpp
  src/util/logging.h
Due: unittests, Utilities

fix: Coverity CID 1675305 - Fix data race in AsyncBroadcaster::Start
  src/net/async_broadcaster.cpp
Due: unittests, Network

fix: Coverity CID 1675174 - Fix double lock deadlock in wallet
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Coverity CID 1675190 - Fix double lock in RPC permissions
  src/rpc/permissions.cpp
  src/rpc/permissions.h
Due: unittests, RPC

fix: Coverity CID 1675218 - Fix double lock in partition detector
  src/net/partition_detector.cpp
  src/net/partition_detector.h
Due: unittests, Network

fix: Coverity CID 1675316 - Fix data race in CWallet::Load
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Comprehensive Coverity defect fixes (20+ CIDs)
  src/consensus/chain.cpp
  src/consensus/fees.cpp
  src/net/addrman.cpp
  src/net/banman.cpp
  src/net/connection_quality.cpp
  src/net/connection_quality.h
  src/net/headers_manager.cpp
  src/net/headerssync.cpp
  src/net/net.cpp
  src/net/partition_detector.cpp
  src/net/protocol.cpp
  src/node/block_index.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/util/logging.cpp
  src/util/system.cpp
  src/wallet/wal_recovery.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_manager.cpp
Due: unittests, Consensus, Network, Wallet, RPC, Utilities

fix: Additional Coverity defect fixes (15+ CIDs)
  src/api/http_server.cpp
  src/consensus/validation.cpp
  src/miner/controller.cpp
  src/net/async_broadcaster.cpp
  src/net/blockencodings.cpp
  src/net/net.cpp
  src/rpc/logger.cpp
  src/rpc/websocket.cpp
  src/wallet/wal.cpp
  src/wallet/wallet.cpp
Due: unittests, Consensus, Network, Wallet, RPC

fix: Coverity CID 1675315 - Use std::move to avoid unnecessary copies
  src/consensus/chain.cpp
  src/net/banman.cpp
  src/net/block_fetcher.cpp
  src/net/headers_manager.cpp
  src/net/headerssync.cpp
  src/net/netaddress.cpp
  src/net/node_state.cpp
  src/net/peers.cpp
  src/node/mempool.cpp
  src/rpc/auth.cpp
  src/util/strencodings.cpp
Due: unittests, Consensus, Network, RPC, Utilities

fix: Coverity CID 1675322 - Fix missing return statement in SendMessage
  src/net/net.cpp
Due: unittests, Network

fix: Coverity CID 1675248 - Prevent unsigned integer underflow in loops
  src/consensus/chain.cpp
  src/net/addrman.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/websocket.cpp
Due: unittests, Consensus, Network, RPC

fix: Connect to ALL seed nodes even when --addnode is specified
  src/node/dilithion-node.cpp
Due: unittests

ci: Add Linux release workflow + update website for v1.1.1
  .github/workflows/build-linux.yml
  website/index.html
Due: none

fix: Coverity CID 1675177, 1675180 - Use std::move for local variables
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Additional Coverity std::move optimizations
  src/rpc/server.cpp
  src/wallet/wallet.cpp
Due: unittests, Wallet, RPC

fix: Use ubuntu-latest in Linux build workflow
  .github/workflows/build-linux.yml
Due: none

fix: BUG #92 - Headers message size limit too small
  src/net/net.cpp
  src/node/dilithion-node.cpp
  website/index.html
Due: unittests, Network

fix: BUG #93 - Aggressive stall detection disconnecting peers prematurely
  src/net/node_state.cpp
Due: unittests, Network

docs: Update website to v1.1.2 release
  website/index.html
Due: none

fix: BUG #94 - Mining during IBD causing orphaned blocks
  src/node/dilithion-node.cpp
Due: unittests

docs: Update website for v1.1.3 release
  website/index.html
Due: none

fix: BUG #95 - Wallet credits orphaned/stale blocks
  src/node/dilithion-node.cpp
Due: unittests

ci: Update website for v1.1.4 release
  website/index.html
Due: none

feat: Phase 1 wallet UX improvements - HD wallet with mnemonic display
  src/node/dilithion-node.cpp
Due: unittests

ci: Update website to v1.1.5
  website/index.html
Due: none

feat: Add web wallet UI (Phase 2)
  website/index.html
  website/wallet.html
Due: none

fix: Require Y confirmation after displaying recovery phrase
  src/node/dilithion-node.cpp
Due: unittests

ci: Update website to v1.1.6
  website/index.html
Due: none

ux: Add pause to check-wallet-balance so window stays open
  check-wallet-balance.cpp
Due: none

ci: Update Windows checksum for v1.1.6
  website/index.html
Due: none

fix: BUG #97 - Mining init after sync, ASCII boxes for Windows
  .claude/plan.md
  docs/security/SECURITY-AUDIT-REPORT-2025-12-06.md
  src/node/dilithion-node.cpp
Due: unittests

ci: Update website to v1.1.7
  website/index.html
Due: none

security: P0 audit fixes - Critical vulnerabilities addressed
  src/consensus/chain_verifier.cpp
  src/net/async_broadcaster.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/net/net.h
  src/node/dilithion-node.cpp
  src/node/utxo_set.cpp
Due: unittests, Consensus, Network

security: P1 CRITICAL consensus/database fixes
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/reorg_wal.cpp
  src/consensus/reorg_wal.h
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
  src/node/dilithion-node.cpp
  src/node/utxo_set.cpp
Due: unittests, Consensus

security: P2 CRITICAL network DoS protection fixes
  src/net/net.cpp
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
