Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: Add missing <functional> include for std::function
  src/net/block_fetcher.h
Due: unittests, Network

fix: Resolve lambda-to-std::function conversion issue
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Add block_validation_queue.h include for IsHeightQueued
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD hang - check BLOCK_VALID_CHAIN not just HasBlockIndex
  src/node/ibd_coordinator.cpp
Due: unittests

fix: IBD hang race condition - grace period for cancelled chunks
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

perf: IBD HANG FIX #8 - Update chunk activity on block arrival
  src/node/dilithion-node.cpp
Due: unittests

perf: IBD HANG FIX #9 - Increase block timeout from 60s to 120s
  src/net/block_fetcher.h
Due: unittests, Network

fix: IBD HANG FIX #10 - Prevent nBlocksInFlight double-decrement
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD window/queue disconnect causing slow sync
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

perf: Increase MAX_BLOCKS_IN_FLIGHT_PER_PEER from 16 to 64
  src/net/block_fetcher.h
  src/net/node_state.h
  src/net/peers.h
Due: unittests, Network

perf: IBD SLOW FIX #1-6 for window/chunk efficiency
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Call MarkBlockReceived immediately on receive, not after validation
  .claude/settings.local.json
  docs/analysis/IBD-HANG-FIXES-IMPLEMENTED.md
  docs/analysis/IBD-HANG-RESTART-CYCLE-ANALYSIS.md
  docs/analysis/IBD-HANG-ROOT-CAUSE-RACE-CONDITION.md
  docs/analysis/IBD-SLOW-ADDITIONAL-POTENTIAL-ISSUES.md
  docs/analysis/IBD-SLOW-FIXES-IMPLEMENTED.md
  docs/analysis/IBD-SLOW-HANG-ROOT-CAUSE-ANALYSIS.md
  docs/analysis/IBD-SLOW-ISSUES-VERIFIED.md
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests

perf: Increase MAX_BLOCKS_IN_FLIGHT_PER_PEER from 64 to 128
  src/net/node_state.h
  src/net/peers.h
Due: unittests, Network

fix: IBD hang - chunk per-peer limit mismatch (64 vs 128)
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD hang - increase orphan limits for chunk-based IBD
  src/net/orphan_manager.h
Due: unittests, Network

fix: IBD HANG FIX #13 - always decrement nBlocksInFlight for received blocks
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD HANG FIX #15 - Update window target height as headers grow
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: IBD HANG FIX #16 - Remove legacy CNodeStateManager, fix nBlocksInFlight stuck
  src/core/node_context.h
  src/net/block_fetcher.cpp
  src/net/net.cpp
  src/net/node_state.cpp
  src/net/node_state.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Remove node_state.cpp from Makefile (file was deleted)
  Makefile
Due: none

fix: IBD HANG FIX #17 - Update window tracking in async validation path
  .claude/settings.local.json
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD HANG FIX #18 - Remove heights from pending in OnBlockReceived
  src/net/block_fetcher.h
Due: unittests, Network

fix: IBD HANG FIX #19 - Clean up CPeerManager when chunk COMPLETES
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD HANG FIX #20 - Remove m_in_flight from CBlockDownloadWindow
  src/net/block_fetcher.h
Due: unittests, Network

fix: IBD HANG FIX #21 - Prevent nBlocksInFlight from going negative
  docs/analysis/IBD-HANG-FIXES-ANALYSIS.md
  src/net/block_fetcher.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: IBD HANG FIX #22 - Check peer height before assigning chunks
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD HANG FIX #23 - Fix orphan block resolution bugs
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD STUCK FIX #1-4 - Fix tracking desync, capacity check, orphan processing
  src/net/block_fetcher.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

debug: Add logging to IBD STUCK FIX #3 orphan scan
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Use cout for orphan scan logging
  src/node/ibd_coordinator.cpp
Due: unittests

fix: IBD STUCK FIX #5-6 - Fix window skipping blocks and capacity check
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: IBD STUCK FIX #7 - GetBlocksInFlightForPeer was using stale counter
  src/net/peers.cpp
Due: unittests, Network

feat: SSOT Fixes #1-4 - Single Source of Truth for state management
  src/net/connman.cpp
  src/net/net.cpp
  src/net/node.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/block_validation_queue.cpp
  src/node/block_validation_queue.h
Due: unittests, Network

fix: IBD STUCK FIX #8 - MarkBlockAsInFlight was using stale counter
  src/net/net.cpp
  src/net/peers.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Network

refactor: Complete legacy code removal - CConnectionManager and globals
  .claude/settings.local.json
  docs/analysis/IBD-STUCK-AT-256-ANALYSIS.md
  docs/analysis/IBD-STUCK-AT-256-FIXES-COMPLETE.md
  docs/analysis/IBD-STUCK-FIXES-IMPLEMENTATION-REPORT.md
  docs/analysis/LEGACY-CODE-REMOVAL-COMPLETE.md
  docs/analysis/LEGACY-CODE-REMOVAL-EXECUTION-REPORT.md
  docs/analysis/LEGACY-CODE-REMOVAL-FINAL-REPORT.md
  docs/analysis/LEGACY-CODE-REMOVAL-PLAN.md
  docs/analysis/LEGACY-CODE-REMOVAL-REPORT.md
  docs/analysis/ORPHAN-BLOCK-RESOLUTION-BUG-ANALYSIS.md
  docs/analysis/ORPHAN-SCAN-NOT-RUNNING-ANALYSIS.md
  docs/analysis/PEER-VALID-BUT-REJECTED-ANALYSIS.md
  docs/analysis/SINGLE-SOURCE-OF-TRUTH-OPPORTUNITIES.md
  docs/analysis/SSOT-FIXES-IMPLEMENTATION-REPORT.md
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/headers_manager.h
  src/net/net.cpp
  src/net/net.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/test/ibd_coordinator_tests.cpp
  src/test/ibd_functional_tests.cpp
  src/test/integration_tests.cpp
  src/test/net_tests.cpp
Due: unittests, Network, RPC

fix: Add CPeerManager forward declaration to block_fetcher.h
  src/net/block_fetcher.h
Due: unittests, Network

fix: IBD STUCK FIX #9 - Replace all stale nBlocksInFlight capacity checks
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: IBD DEADLOCK FIX #10 - Prevent RandomX computation in GetBlockHash
  src/node/block_index.cpp
  src/node/dilithion-node.cpp
Due: unittests

debug: Add comprehensive logging to trace IBD freeze location
  .claude/settings.local.json
  docs/analysis/IBD-BROKEN-AFTER-LEGACY-REMOVAL-ANALYSIS.md
  docs/analysis/IBD-FREEZE-RESEARCH-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/connman.cpp
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: IBD DEADLOCK FIX #11 - Self-deadlock in ValidationWorker
  src/node/block_validation_queue.cpp
Due: unittests

debug: Add logging to GetBlocksInFlightForPeer for capacity issue investigation
  src/net/peers.cpp
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
