Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

feat: consensus-enforced VDF cooldown (hard fork at DilV height 7500)
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/vdf/cooldown_test.cpp
Due: unittests, Consensus

website: update download section for v3.7.3
  website/index.html
Due: none

fix: disable consensus-enforced cooldown on DilV (was causing IBD infinite loop)
  src/core/chainparams.cpp
Due: unittests

Revert "fix: disable consensus-enforced cooldown on DilV (was causing IBD infinite loop)"
  src/core/chainparams.cpp
Due: unittests

fix: consensus cooldown race condition + move DilV activation to 7700
  src/core/chainparams.cpp
  src/dfmp/mik.h
  src/miner/vdf_miner.cpp
Due: unittests

fix: add missing dnaCommitmentActivationHeight field to ChainParams
  src/core/chainparams.h
Due: unittests

feat: Digital DNA Phase 3 — on-chain commitment, P2P propagation, dump RPC
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/dfmp/mik.cpp
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/digital_dna/dna_serialization_test.cpp
  src/net/net.cpp
  src/net/net.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Consensus, Network

fix: UTXO undo data lookup uses consistent block hash (BUG #271)
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/test/fuzz/fuzz_utxo.cpp
  src/test/utxo_tests.cpp
Due: unittests, Consensus

fix: move DilV cooldown consensus height to 8500
  src/core/chainparams.cpp
Due: unittests

fix: detect wrong-fork sync peers + add invalidateblock RPC (BUG #272)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: detect and recover from fork sync loop (BUG #273)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

website: update download section for v3.7.5
  website/index.html
Due: none

fix: Unicode path fix now applies to dilithion-node (not just dilv-node)
  src/util/config.cpp
Due: unittests, Utilities

fix: stall + cooldown deadlock — bypass carries through to submission (BUG #274)
  src/consensus/chain.cpp
  src/miner/vdf_miner.cpp
Due: unittests, Consensus

feat: DNA history tracking and getdigitaldnahistory RPC
  Makefile
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_history_test.cpp
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
Due: unittests

website: update download section for v3.7.7
  website/index.html
Due: none

fix: bound all unbounded queues to prevent OOM crashes (BUG #275)
  src/net/connman.cpp
  src/net/connman.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/node.cpp
  src/net/node.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

fix: defer coinbase value check when fee calc is unreliable (BUG #276)
  src/node/block_processing.cpp
Due: unittests

fix: auto-detect UTXO corruption and recover without manual intervention (BUG #277)
  run-dil-seed.sh
  run-dilv-seed.sh
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus

feat: activate Digital DNA collection at height 30000 + DNA monitor RPC
  Makefile
  bridge/relayer/relayer.py
  bridge/relayer/state_db.py
  src/core/chainparams.cpp
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/digital_dna/latency_fingerprint.cpp
  website/bridge.html
Due: unittests

fix: use absolute paths in seed node wrapper to survive process restarts
  run-dil-seed.sh
Due: none

security: add checkpoints at DIL 30000 and DilV 10000
  src/core/chainparams.cpp
Due: unittests

fix: resource monitor log spam when steady-state RSS near limit
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/resource_monitor.cpp
  src/node/resource_monitor.h
Due: unittests

fix: enforce DEDUP penalties and increase RPC work queue to prevent dashboard outage
  .claude/settings.local.json
  Makefile
  src/api/http_server.h
  src/core/node_context.cpp
  src/core/node_context.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/net/net.cpp
  src/net/net.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/wallet/wallet.h
  src/x402/facilitator.cpp
  src/x402/facilitator.h
  src/x402/x402_types.h
Due: unittests, Network, Wallet

add: DNA verification and verification manager source files
  src/digital_dna/dna_verification.cpp
  src/digital_dna/dna_verification.h
  src/digital_dna/verification_manager.cpp
  src/digital_dna/verification_manager.h
Due: unittests

fix: peer_dna_attest_timestamps type mismatch (vector -> int64_t)
  src/net/net.h
Due: unittests, Network

update: website redesign, wallet gold theme, explorer enhancements, bridge relayer fixes
  Makefile
  bridge/relayer/relayer.py
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
  website/WHITEPAPER.html
  website/bridge.html
  website/index.html
  website/mainnet.html
  website/mining-calculator.html
  website/post-quantum-cryptography.html
  website/price.html
  website/quantum-security.html
  website/style.css
  website/wallet.html
Due: none

fix: skip coinbase and nBits validation for fork blocks during pre-validation
  src/node/block_processing.cpp
  src/node/fork_manager.cpp
Due: unittests

add: DNA verification protocol unit tests (66 tests, Phase 2E)
  src/digital_dna/verification_test.cpp
Due: unittests

fix: embed wallet logo as base64 data URI to fix broken image
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

add: DFMP v3.4 verification-aware free tier (Phase 3a Sybil Defense)
  Makefile
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/dfmp_v34_test.cpp
Due: unittests, Consensus, RPC

add: shared cluster heat penalty (Phase 3b Sybil Defense, miner-side)
  src/dfmp/dfmp.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

add: trust-weighted network layer (Phase 4 Sybil Defense)
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/node_context.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/net/connman.cpp
  src/net/peers.cpp
  src/node/block_processing.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

add: DNA rotation detection + trust penalties (Phase 5 Sybil Defense)
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/trust_score.cpp
  src/digital_dna/trust_score.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix: Sybil defense audit bugs — serialization, queue, RNG, attestation age, x402 address binding
  src/digital_dna/trust_score.cpp
  src/digital_dna/trust_score_test.cpp
  src/digital_dna/verification_manager.cpp
  src/digital_dna/verification_manager.h
  src/x402/facilitator.cpp
Due: unittests

perf: bulk-load headers on startup for instant node restart
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

fix: update bridge deposit addresses to current mainnet addresses
  bridge/relayer/relayer.py
  bridge/relayer/send_bridge_deposit.py
  website/bridge.html
Due: none

fix: retired address monitor + manual mint script
  bridge/relayer/config.py
  bridge/relayer/relayer.py
  bridge/scripts/manual_mint.py
Due: none

feat: timestamp every log line including direct cout/cerr output
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/util/logging.cpp
  src/util/logging.h
Due: unittests, Utilities

fix: CLOSE-WAIT socket leak in RPC and HTTP servers causing fd exhaustion
  src/api/http_server.cpp
  src/rpc/server.cpp
Due: unittests, RPC

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
