Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

debug: Add BUG #146 debug logging to SelectPeerForDownload
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #146 - Use CPeerManager for RequestBlock capacity check
  src/net/block_fetcher.cpp
Due: unittests, Network

debug: Add checkpoint hash dump for testnet
  src/node/dilithion-node.cpp
Due: unittests

feat: Add checkpoint-aware PoW skip for faster IBD
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #147 - Optimize IBD block download (Phase 1)
  docs/BUG-147-IBD-OPTIMIZATION-PLAN.md
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Add uint256S helper function for checkpoint initialization
  src/primitives/block.h
Due: unittests, Primitives

fix: BUG #148 - Network stability fixes for zombie peers
  .claude/settings.local.json
  src/net/connman.cpp
  src/net/net.cpp
  src/net/peers.cpp
Due: unittests, Network

fix: BUG #148 - Fix inbound VERSION response for handshake completion
  src/net/net.cpp
Due: unittests, Network

debug: Add logging when GetNode returns nullptr in ProcessVerackMessage
  src/net/net.cpp
Due: unittests, Network

fix: BUG #148 - Use CPeer::state for handshake check in GetValidPeersForDownload
  src/net/peers.cpp
Due: unittests, Network

debug: Add logging to GetValidPeersForDownload to identify failing condition
  src/net/peers.cpp
Due: unittests, Network

debug: Add more verbose logging to GetValidPeersForDownload
  src/net/peers.cpp
Due: unittests, Network

debug: Verbose logging in GetValidPeersForDownload to identify failing condition
  src/net/peers.cpp
Due: unittests, Network

debug: Add logging to SelectPeerForDownload to identify peer selection failure
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #148 - Always notify CPeerManager when block received to clear nBlocksInFlight
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #148 - Pass peer_id to MarkBlockAsReceived for proper decrement
  src/net/block_fetcher.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

debug: Add logging to MarkBlockAsReceived for BUG #148
  .claude/settings.local.json
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/peers.cpp
Due: unittests, Network

fix: BUG #148 - Mark blocks as received in orphan path
  src/node/dilithion-node.cpp
Due: unittests

perf: Optimize IBD by assigning sequential blocks to same peer
  src/node/ibd_coordinator.cpp
Due: unittests

refactor: Replace deprecated CConnectionManager with CConnman
  src/net/net.cpp
  src/net/net.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: Include connman.h for CConnman::PushMessage
  src/net/net.cpp
Due: unittests, Network

fix: Include connman.h in server.cpp for CConnman methods
  src/rpc/server.cpp
Due: unittests, RPC

debug: Add logging to FullValidateHeader checkpoint check
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add more logging to QueueHeadersForValidation
  src/net/headers_manager.cpp
Due: unittests, Network

perf: IBD optimization - use FastHash for checkpointed blocks
  .claude/settings.local.json
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/primitives/block.cpp
  src/primitives/block.h
Due: unittests, Primitives, Network

fix: IBD FastHash mapping - store before lookup, not after
  src/net/headers_manager.cpp
Due: unittests, Network

fix: IBD - store RandomX hash for block requests
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

debug: Add logging to GetRandomXHashAtHeight for IBD debugging
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add FetchBlocks debug logging
  src/node/ibd_coordinator.cpp
Due: unittests

fix: BUG #148 - Add fallback decrement when tracked peer disconnects
  src/net/peers.cpp
Due: unittests, Network

refactor: Phase 1 State Consolidation - CPeerManager as single source of truth
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

feat: Phase 2 Sequential Chunk Assignment - Fix 7:1 orphan ratio
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

feat: Phase 3 - Add 1024-block sliding window for IBD downloads
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

debug: Add GETDATA tracing for IBD stall diagnosis
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Build error in debug logging
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Use std::cout for GETDATA tracing (LogPrintIBD DEBUG may be filtered)
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Add hash mismatch logging in MarkBlockReceived
  src/net/block_fetcher.cpp
Due: unittests, Network

debug: Add ExtractMessages header parsing debug logging
  src/net/connman.cpp
Due: unittests, Network

debug: Add EXTRACT-PUSHED and EXTRACT-PARTIAL logging
  .claude/settings.local.json
  src/net/connman.cpp
Due: unittests, Network

debug: Add MSGHANDLER-POP and MSGHANDLER-BATCH logging
  .claude/settings.local.json
  src/net/connman.cpp
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
