Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

feat(deps): vendor libzmq + ZMQ notifier skeleton [PR-Z-1]
  .gitmodules
  Makefile
  src/test/zmq_tests.cpp
  src/util/logging.cpp
  src/util/logging.h
  src/zmq/zmqabstractnotifier.cpp
  src/zmq/zmqabstractnotifier.h
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqpublishnotifier.h
  src/zmq/zmqutil.cpp
  src/zmq/zmqutil.h
Due: unittests, Utilities

fix(zmq): correct overstated 'ABI verbatim' claim in zmqutil [F5]
  src/zmq/zmqutil.cpp
  src/zmq/zmqutil.h
Due: unittests

fix(zmq): exercise CTransaction Notify overloads in default-noop test [F4]
  src/test/zmq_tests.cpp
Due: none

fix(zmq): make libzmq an order-only prerequisite of binary targets [F7]
  Makefile
Due: none

fix(testmempoolaccept): document divergences + reject negative maxfeerate [H2 M3 M4 M9 M10 M12 L2 L3]
  docs/SMALL-RPCS-CLUSTER.md
  src/rpc/server.cpp
Due: unittests, RPC

fix(testmempoolaccept): prefix mempool reject reasons with 'Failed to add to mempool:' [H1]
  src/rpc/server.cpp
Due: unittests, RPC

fix(testmempoolaccept): expand tests + replace UB stubs [H3 H4 M3 M4 M5 M6 M7 M8 M11 L2]
  src/test/testmempoolaccept_tests.cpp
Due: none

fix(testmempoolaccept): add test-only state-integrity accessors [H3]
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

Phase 10 PR10.5b: registration manager regtest fast-path + wallet auto-create + harness softening
  scripts/four_node_local.sh
  src/node/dilv-node.cpp
  src/node/registration_manager.cpp
  src/node/registration_manager.h
Due: unittests

feat(deps): vendor libzmq + ZMQ notifier skeleton [PR-Z-1] (#45)
  .gitmodules
  Makefile
  src/test/zmq_tests.cpp
  src/util/logging.cpp
  src/util/logging.h
  src/zmq/zmqabstractnotifier.cpp
  src/zmq/zmqabstractnotifier.h
  src/zmq/zmqpublishnotifier.cpp
  src/zmq/zmqpublishnotifier.h
  src/zmq/zmqutil.cpp
  src/zmq/zmqutil.h
Due: unittests, Utilities

Phase 10 PR10.5b-followup: Layer-2 HIGH-1 + MEDIUM-1/-2/-3 + LOW-1/-2 fixes
  scripts/four_node_local.sh
  src/node/dilv-node.cpp
  src/node/registration_manager.cpp
  src/node/registration_manager.h
Due: unittests

Phase 10 PR10.4: Track B engineering retrospective
  docs/retrospectives/track_b_bitcoin_core_port_retrospective.md
Due: none

fix(testmempoolaccept): red-team findings follow-up to #46 (#47)
  docs/SMALL-RPCS-CLUSTER.md
  src/node/mempool.cpp
  src/node/mempool.h
  src/rpc/server.cpp
  src/test/testmempoolaccept_tests.cpp
Due: unittests, RPC

Phase 10 PR10.6-followup: closure-hygiene fixes (Cursor + Layer-2 PR10.6 findings)
  docs/retrospectives/track_b_bitcoin_core_port_retrospective.md
  src/net/block_tracker.h
  src/net/peers.h
Due: unittests, Network

build: persist +x bit on harness scripts (cross-platform fix)
  scripts/four_node_local.sh
  tools/run_phase8_bypass_quantification.sh
Due: none

build(harness): cross-platform binary-name resolution
  scripts/four_node_local.sh
Due: none

fix(net): isolate regtest from public seed nodes
  src/net/peers.cpp
Due: unittests, Network

fix(regtest): disable Patch E time-based expiry retirement on regtest
  src/core/chainparams.cpp
Due: unittests

fix(regtest): bypass solo-mining safety nets on regtest
  src/node/dilv-node.cpp
Due: unittests

v4.1 (1/7): chainparams — 44233 checkpoint + activation heights + lifetime field
  src/core/chainparams.cpp
  src/core/chainparams.h
Due: unittests

v4.1 (2/7): three-tier checkpoint enforcement on legacy ActivateBestChain
  src/consensus/chain.cpp
Due: unittests, Consensus

v4.1 (3/7): header-time checkpoint enforcement helper at 5 ingress sites
  src/net/headers_manager.cpp
Due: unittests, Network

v4.1 (4/7): startup checkpoint validator + 3 dilv-node.cpp wirings
  Makefile
  src/node/dilv-node.cpp
  src/node/startup_checkpoint_validator.cpp
  src/node/startup_checkpoint_validator.h
Due: unittests

v4.1 (5/7): height-bounded getfullmikdistribution RPC + scanned_through_height field
  src/rpc/server.cpp
Due: unittests, RPC

v4.1 (6/7): SOLO_PAUSE_THRESHOLD 10→2 + remove all SOLO_WARNING refs (DilV mainnet)
  src/node/dilv-node.cpp
Due: unittests

v4.1 (7/7): unit tests for checkpoint enforcement helpers
  Makefile
  src/test/v4_1_checkpoint_enforcement_tests.cpp
Due: none

v4.1 (8/7): fix CheckPeerHeaderRateLimit silently rejecting standard 2000-header batches
  src/core/chainparams.h
  src/net/headers_manager.cpp
Due: unittests, Network

v4.1 (9): audit-found rate-limit twin fixes (lines 220, 593) + visibility hardening
  src/net/headers_manager.cpp
Due: unittests, Network

v4.1 (10): cross-component audit ship-blockers + audit visibility hardening
  src/core/chainparams.cpp
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.cpp
  src/node/startup_checkpoint_validator.cpp
  src/test/v4_1_checkpoint_enforcement_tests.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Network

v4.1 (11): IBD silent-drop fix - suppress ChainSelectorAdapter by default
  Makefile
  src/core/node_context.cpp
  src/test/v4_1_chain_selector_suppression_tests.cpp
Due: unittests

v4.1 (12): pass-1 capture bypass for HIGH-3 fail-fast
  src/node/startup_checkpoint_validator.cpp
Due: unittests

v4.1 (13): pass-2 — embed lifetimeMinerCountAt44232 = 65
  src/core/chainparams.cpp
Due: unittests

fix(explorer): cache dir bootstrap + single-flight to prevent stampede
  explorer/api/metrics_helpers.php
  explorer/api/stats.php
  explorer/api/warmup_total_tx.php
Due: none

v4.1 (14): rc2 ship-blockers — auto-gen RPC creds + isatty check
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.1 (15): rc2 FINDING-1 — use GetStrongRandBytes for full 256-bit auto-creds
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(fees-wiring): link fuzz_stubs.o into fuzz_mempool
  Makefile
Due: none

v4.1: DilV mandatory upgrade + chain rollback at h=44233 (#48)
  Makefile
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/node_context.cpp
  src/net/headers_manager.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/startup_checkpoint_validator.cpp
  src/node/startup_checkpoint_validator.h
  src/rpc/server.cpp
  src/test/v4_1_chain_selector_suppression_tests.cpp
  src/test/v4_1_checkpoint_enforcement_tests.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus, Network, RPC

fix(explorer): cache dir bootstrap + single-flight to prevent stampede (#49)
  explorer/api/metrics_helpers.php
  explorer/api/stats.php
  explorer/api/warmup_total_tx.php
Due: none

feat(policy): estimatesmartfee mempool/chainstate wiring [PR-EF-2] (#44)
  Makefile
  docs/FEE-ESTIMATION.md
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/mempool.cpp
  src/node/mempool.h
  src/policy/fees.cpp
  src/policy/fees.h
  src/test/fee_wiring_tests.cpp
  src/test/fuzz/fuzz_stubs.cpp
Due: unittests, Consensus

v4.1.1 hotfix: skip revalidation when activationHeight=0
  src/node/dilv-node.cpp
Due: unittests

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
