Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

refactor: Remove ~1500 lines of dead code from CBlockFetcher
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Remove stalled blocks from CBlockTracker after 30s timeout
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Disable HEADERS rate limiting during IBD
  src/net/net.cpp
Due: unittests, Network

fix: Add keepalive ping mechanism to prevent connection timeouts
  src/net/connman.cpp
  src/net/connman.h
Due: unittests, Network

chore: Change keepalive ping logging to INFO for visibility
  src/net/connman.cpp
Due: unittests, Network

perf: Skip redundant header requests when parent block is in-flight
  src/node/dilithion-node.cpp
Due: unittests

fix: Add LIGHT→FULL mode auto-upgrade for mining workers
  src/miner/controller.cpp
Due: unittests

fix: Enable fork handling in HeadersManager
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Update peer best_known_height when headers received (Bug #168)
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

perf: Skip hash computation for duplicate headers below checkpoint
  src/net/headers_manager.cpp
Due: unittests, Network

perf: Remove auto-request headers - let IBD coordinator manage
  src/node/dilithion-node.cpp
Due: unittests

perf: Fix header racing - single source of truth for IBD
  src/net/headers_manager.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

feat: Port Bitcoin Core single-sync-peer headers sync
  src/net/headers_manager.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: Prevent header racing after initial IBD request
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Correct milestone trigger logic for header requests
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use flag for initial request to allow milestone 1000 trigger
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Prevent duplicate orphan block processing
  src/node/block_validation_queue.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

refactor: Consolidate orphan processing to validation queue (SSOT)
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Handle concurrent block processing gracefully
  src/consensus/chain.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Consensus

feat: Async header processing - offload P2P thread completely
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

debug: Add constructor debug output
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add test int member
  src/net/headers_manager.h
Due: unittests, Network

fix: Remove debug output, clean up test member
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

fix: Two-phase header processing to eliminate block stall
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Progressive header storage for pipelined IBD
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Compute ALL header hashes outside lock for initial IBD
  src/net/headers_manager.cpp
Due: unittests, Network

feat: Parallelize header hash computation with std::async
  src/net/headers_manager.cpp
Due: unittests, Network

perf: Use fixed worker pool for parallel hash computation
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Request headers when synced node sees peer with higher height
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Request headers immediately on unknown block INV
  src/node/dilithion-node.cpp
Due: unittests

feat: Add Prometheus metrics endpoint for network monitoring
  src/api/http_server.cpp
  src/api/http_server.h
  src/api/metrics.h
  src/node/dilithion-node.cpp
  website/api/stats.php
  website/index.html
  website/script.js
Due: unittests

fix: Correct method names for metrics handler
  src/node/dilithion-node.cpp
Due: unittests

fix: Request parent blocks on competing forks (BUG #149)
  src/node/dilithion-node.cpp
Due: unittests

feat: Fork-safe header selection and chain tips tracking (BUG #150)
  Makefile
  src/net/chain_tips_tracker.cpp
  src/net/chain_tips_tracker.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Remove arith_uint256 dependency from chain_tips_tracker
  src/net/chain_tips_tracker.cpp
  src/net/chain_tips_tracker.h
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Add missing algorithm include and fix Clear()
  src/net/chain_tips_tracker.cpp
Due: unittests, Network

fix: Pause header processing during fork recovery to prevent crash
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Add extern declaration for g_chainstate in headers_manager
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Build locator from MAX(chainstate, headers_manager) for header sync
  src/net/headers_manager.cpp
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
