Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

v4.1.1 hotfix: bundle Homebrew dylibs into macOS releases
  package-dilv-macos-release.sh
  package-macos-release.sh
  scripts/bundle-macos-dylibs.sh
Due: none

v4.1.1: bundle libssl.so.3 + libcrypto.so.3 in Linux releases
  package-dilv-linux-release.sh
  package-linux-release.sh
Due: none

v4.1.2: fix lifetime-validator sliding-window bug
  src/node/startup_checkpoint_validator.cpp
  src/test/v4_1_checkpoint_enforcement_tests.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests

v4.2.0: time-decay cooldown — replace v4.1 stall-exemption tier system
  Makefile
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/dilv-node.cpp
  src/test/v4_2_time_decay_cooldown_tests.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus

v4.2.0: throttle "Outbound connection limit reached" WARN to 1/60s
  src/net/connman.cpp
  src/net/connman.h
Due: unittests, Network

v4.1.2: re-capture lifetimeMinerCountAt44232 = 255 (was 65 from buggy function)
  src/core/chainparams.cpp
Due: unittests

v4.2.0 emergency: drop time-decay activation 44255 → 44250 to unstick mainnet
  src/core/chainparams.cpp
Due: unittests

ci(macos): stop overriding CXXFLAGS so Makefile's += accumulates
  .github/workflows/build-dilv-macos.yml
  .github/workflows/build-macos.yml
Due: none

fix(explorer): nodes.php cache 3s -> 15s + single-flight; document cache perms gotcha
  explorer/api/metrics_helpers.php
  explorer/api/nodes.php
Due: none

Phase 0: Bitcoin Core peer/IBD/chain-selection port — interface contracts + scaffolding
  src/consensus/ichain_selector.h
  src/consensus/port/.gitkeep
  src/net/iaddress_manager.h
  src/net/iconnection_manager.h
  src/net/iheader_proof_checker.h
  src/net/ipeer_scorer.h
  src/net/ipeer_selector.h
  src/net/port/.gitkeep
  src/net/port/addrman_v2.h
  src/node/iblock_sink.h
Due: unittests, Consensus, Network

ci(macos): stop overriding CXXFLAGS so Makefile's += accumulates (#50)
  .github/workflows/build-dilv-macos.yml
  .github/workflows/build-macos.yml
Due: none

Phase 11 ABI: AddBlockIndex flag-merge semantics (fixes v4.1 IBD silent-drop)
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/test/add_block_index_flag_merge_tests.cpp
Due: unittests, Consensus

Phase 11 A1: fork-staging in ChainSelectorAdapter::ProcessNewBlock
  Makefile
  src/consensus/port/chain_selector_impl.cpp
  src/consensus/port/chain_selector_impl.h
  src/core/node_context.cpp
  src/core/node_context.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/port_fork_staging_tests.cpp
Due: unittests, Consensus

Phase 11 connman: dispatch MSG_BLOCK to port peer manager under --usenewpeerman=1
  src/net/connman.cpp
  src/net/connman.h
  src/test/peer_manager_dual_dispatch_tests.cpp
Due: unittests, Network

v4.3 orphan-path UAF fix: re-resolve pOrphanIndexRaw after ABI flag-merge
  src/node/block_validation_queue.cpp
Due: unittests

v4.3 disable time-decay cooldown: activation 44250 -> 999999999
  src/core/chainparams.cpp
Due: unittests

ci: bump sanitizer timeouts 60 -> 120 minutes
  .github/workflows/ci.yml
Due: none

v4.3: KEEP time-decay cooldown active (forward-revert of db7960c)
  src/core/chainparams.cpp
Due: unittests

v4.3 attestation fix: drop config.relay_only gate on seed attestation init
  src/node/dilv-node.cpp
Due: unittests

fix(attestation): consult chain for known MIKs + fix --attestation-rate-limit parsers
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

v4.3.1: fix chain-selection candidate-set seeding + WriteBestBlock symmetry + chainwork gate
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/chain_case_2_5_equivalence_tests.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

v4.3.2 M1: write auto_rebuild marker in BOTH sync-coordinator modes
  Makefile
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
  src/test/auto_rebuild_marker_mode_symmetry_tests.cpp
  src/util/chain_reset.cpp
  src/util/chain_reset.h
Due: unittests, Utilities

v4.3.2 M1 H1 fix: pass config.datadir to MaybeTriggerChainRebuild
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.3.2 M1 S3: tighten comment honesty per Cursor pre-impl review
  src/node/ibd_coordinator.cpp
Due: unittests

v4.3.3 F1: bit-mask layout fix + assignment-to-OR for BLOCK_HAVE_DATA
  src/node/block_index.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.3.3 F2: ConnectTip ORs BLOCK_HAVE_DATA on success
  src/consensus/chain.cpp
Due: unittests, Consensus

v4.3.3 F3: pre-validation ReadBlock pass in port ActivateBestChainStep
  src/consensus/chain.cpp
Due: unittests, Consensus

v4.3.3 F4: MAX_REORG_DEPTH=100 cap on port ActivateBestChainStep
  src/consensus/chain.cpp
Due: unittests, Consensus

v4.3.3 F5: per-ancestor BLOCK_HAVE_DATA gate in FindMostWorkChainImpl
  src/consensus/chain.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

v4.3.3 F6: PruneBlockIndexCandidates after each successful tip connect
  src/consensus/chain.cpp
  src/consensus/chain.h
Due: unittests, Consensus

v4.3.3 T1: synthetic canary-3 regression harness for F1-F6 invariants
  Makefile
  src/test/port_chain_selector_invariants_tests.cpp
Due: none

v4.3.3 T2: legacy vs port differential testing harness
  src/test/legacy_vs_port_differential_tests.cpp
Due: none

v4.3.3 F7: RaiseValidity at production block-arrival sites (Layer-3 HIGH-1)
  src/node/block_index.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.3.3 F8: F4 drop MarkBlockAsFailed + flag rebuild for recovery
  src/consensus/chain.cpp
Due: unittests, Consensus

v4.3.3 T1.7: regression test for F7 RaiseValidity invariant
  src/test/port_chain_selector_invariants_tests.cpp
Due: none

v4.3.3: Cursor pre-impl review S3+S4 doc-accuracy fixes
  src/consensus/chain.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus

v4.3.3 F9: VDF lowest-output tiebreak in port comparator
  src/consensus/chain.h
  src/test/legacy_vs_port_differential_tests.cpp
Due: unittests, Consensus

v4.3.3 F10: VDF tiebreak grace-period gate in port activation
  src/consensus/chain.cpp
Due: unittests, Consensus
