Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Force LIGHT mode on all nodes to bypass RandomX hang
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #50 - VERSION message reports actual blockchain height for IBD
  src/net/net.cpp
  src/net/protocol.cpp
  src/net/protocol.h
Due: unittests, Network

docs: Add comprehensive documentation for BUG #50 fix
  BUG-50-VERSION-MESSAGE-FIX.md
Due: none

fix: BUG #51 - RandomX FULL mode thread-safe multi-core initialization
  src/crypto/randomx_hash.cpp
  src/node/dilithion-node.cpp
Due: unittests, Cryptography

docs: BUG #51 - RandomX FULL mode threading fix documentation
  BUG-51-RANDOMX-THREADING-FIX.md
Due: none

fix: BUG #52 #53 - IBD check prevents fork creation, merkle root serialization
  src/net/headers_manager.cpp
  src/net/peers.cpp
  src/net/peers.h
  src/node/blockchain_storage.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #54 - IBD wait loop deadlock prevented block downloads
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #55 - Monero-style dual-mode RandomX for instant node startup
  src/crypto/randomx_hash.cpp
  src/crypto/randomx_hash.h
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests, Cryptography

fix: Reduce disk space requirement from 10GB to 5GB for testnet
  src/node/blockchain_storage.cpp
Due: unittests

fix: BUG #56 - Bitcoin Core-style wallet persistence with best block tracking
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/dilithion-node.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Wallet

fix: BUG #57 - GetImmatureBalance returns 0, plus wallet persistence fixes
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet, RPC

fix: BUG #58 - Self-connection detection on both outbound and inbound sides
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #59 - Fall back to genesis for divergent chain sync
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #60 - Prevent mining during IBD when headers ahead of chain
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #60 - Complete fix for mining during IBD
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #61 - IBD peer selection deadlock (Bitcoin Core-aligned approach)
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

fix: BUG #61 - Remove redundant IsPeerSuitable check from RequestBlock
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #62 - Header sync not triggered from peer with higher chain tip
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #63 - Re-queue blocks when no peer available for download
  src/node/dilithion-node.cpp
Due: unittests

feat: Port Bitcoin Core AddrMan, BanMan, and NetAddress for eclipse attack protection
  src/net/addrman.cpp
  src/net/addrman.h
  src/net/banman.cpp
  src/net/banman.h
  src/net/netaddress.cpp
  src/net/netaddress.h
Due: unittests, Network

feat: Integrate AddrMan and BanMan with peer management
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

refactor: Rename socket CNetAddr to CResolvedAddr to avoid collision
  src/net/socket.cpp
  src/net/socket.h
Due: unittests, Network

feat: Port Bitcoin Core HeadersSyncState for DoS-resistant IBD
  Makefile
  src/net/headerssync.cpp
  src/net/headerssync.h
Due: unittests, Network

refactor: Integrate HeadersSyncState with CHeadersManager
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

feat: Wire ProcessHeaders to use HeadersSyncState for DoS protection
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

feat: Port Bitcoin Core Compact Blocks (BIP 152)
  src/crypto/siphash.cpp
  src/crypto/siphash.h
  src/net/blockencodings.cpp
  src/net/blockencodings.h
Due: unittests, Cryptography, Network

fix: Rename CAddress to CNetworkAddr in addrman to avoid collision
  src/net/addrman.cpp
  src/net/addrman.h
Due: unittests, Network

refactor: Rename wallet CAddress to CDilithiumAddress
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/wallet_encryption_integration_tests.cpp
  src/test/wallet_persistence_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_manager.cpp
  src/wallet/wallet_manager_wizard.cpp
Due: unittests, Wallet, RPC

fix: BUG #64 & #65 - Block fetcher preferred peer + mining resume
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #66 - Properly detect connection close in receive loop
  src/net/net.cpp
Due: unittests, Network

fix: BUG #67 - Download blocks when longer header chain discovered post-IBD
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #68 - Notify BlockFetcher when peer disconnects
  src/net/net.cpp
Due: unittests, Network

fix: BUG #69 - Bitcoin Core-style IBD detection with latch mechanism
  Makefile
  src/net/node_state.cpp
  src/net/node_state.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
Due: unittests, Network

feat: BUG #69 Phase 3.3-3.5 - CNodeState integration with peer lifecycle
  src/net/block_fetcher.cpp
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #70 - Add explicit copy constructor for CBlockIndex
  src/node/block_index.cpp
  src/node/block_index.h
Due: unittests

fix: BUG #74 - Fix sendtoaddress RPC deadlock
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Wallet

fix: BUG #75-77 - Mnemonic validation and test suite fixes
  Makefile
  src/test/mnemonic_tests.cpp
  src/test/wallet_hd_tests.cpp
  src/wallet/mnemonic.cpp
Due: unittests, Wallet

fix: Update rpc_hd_wallet_tests.cpp to use CDilithiumAddress
  src/test/rpc_hd_wallet_tests.cpp
Due: none

fix: Move g_block_fetcher to globals.cpp for test linkage
  src/core/globals.cpp
Due: unittests

fix: Add digit to passphrase in encrypted_hd_wallet_wrong_passphrase_test
  src/test/wallet_hd_tests.cpp
Due: none
