Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Use last received header hash for prefetch locator
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

fix: Use direct hash locator for prefetch requests
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Cap m_headers_requested_height at peer_height
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Remove m_headers_requested_height update from QueueRawHeadersForProcessing
  src/net/headers_manager.cpp
Due: unittests, Network

refactor: SSOT header sync - single entry point via SyncHeadersFromPeer
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

debug: Add locator hash to IBD-SYNC log
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Prevent catch-up from sending duplicate requests during initial sync
  src/node/ibd_coordinator.cpp
Due: unittests

fix: IBD reliability improvements - faster failover and cleanup
  src/net/connman.cpp
  src/net/peers.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: Add missing openssl-src submodule entry to .gitmodules
  .gitmodules
Due: none

feat: Implement three-layer fork detection system
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Use GetRandomXHashAtHeight and fix tip null check
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Reindex stoi crash + add interactive resync prompt
  src/node/blockchain_storage.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use Genesis::GetGenesisHash() in resync prompt
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Reset initial_request_done and handle header_height=-1 after resync
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Reset m_headers_requested_height in Clear() for proper resync
  src/net/headers_manager.cpp
Due: unittests, Network

feat: Add detailed wallet impact messaging during fork resync
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Request headers from peer when they announce new blocks via INV
  src/node/dilithion-node.cpp
Due: unittests

fix: Re-select block sync peer when height becomes stale
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Add diagnostic logging for block broadcast
  src/node/dilithion-node.cpp
Due: unittests

fix: Force header request when receiving INV for unknown blocks
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

feat: Phase 1 - Clear IBD/SYNCED State Machine
  src/core/node_context.h
  src/net/headers_manager.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

feat: Implement BIP 130 sendheaders for block announcements
  src/net/async_broadcaster.cpp
  src/net/async_broadcaster.h
  src/net/net.cpp
  src/net/net.h
  src/net/node.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Use correct variable name 'block' instead of 'pblock'
  src/node/dilithion-node.cpp
Due: unittests

feat: Add BIP 152 compact blocks protocol support (Phase 3)
  src/core/node_context.h
  src/net/net.cpp
  src/net/net.h
  src/net/node.h
  src/net/protocol.h
Due: unittests, Network

fix: Fix BIP 152 build errors
  src/core/node_context.cpp
  src/net/net.cpp
Due: unittests, Network

fix: Remove call to private FillShortTxIDSelector method
  src/net/net.cpp
Due: unittests, Network

feat: Add BIP 152 sendcmpct handshake and handler
  src/node/dilithion-node.cpp
Due: unittests

feat: Add BIP 152 compact block broadcast routing
  src/net/async_broadcaster.cpp
  src/net/async_broadcaster.h
Due: unittests, Network

feat: Add BIP 152 compact block message handlers
  src/node/dilithion-node.cpp
Due: unittests

feat: Phase 4 - Full mempool-based BIP 152 compact block reconstruction
  src/node/dilithion-node.cpp
Due: unittests

refactor: Extract ProcessNewBlock() for BIP 152 compact blocks
  Makefile
  src/node/block_processing.cpp
  src/node/block_processing.h
  src/node/dilithion-node.cpp
Due: unittests

fix: Add NodeState struct and connman.h include to block_processing.cpp
  src/node/block_processing.cpp
Due: unittests

fix: Remove broken duplicate batch detection that blocked fork sync (BUG #178)
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Use exponential locator + increase headers rate limit (BUG #178 Part 2)
  src/net/headers_manager.cpp
  src/net/net.cpp
Due: unittests, Network

debug: Add logging to trace chain walk break point (BUG #178)
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add detailed logging for chain break at height 5547
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add FORK-TRACE logging to trace header chain at fork point
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add full header details to FORK-TRACE for hash comparison
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add HASH-DEBUG logging to trace GetHash() serialization
  src/primitives/block.cpp
Due: unittests, Primitives

fix: Add missing iostream include for cerr
  src/primitives/block.cpp
Due: unittests, Primitives
