Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

security: P3 HIGH severity security fixes (5 issues)
  src/consensus/tx_validation.cpp
  src/net/net.cpp
  src/net/peers.cpp
  src/rpc/ratelimiter.cpp
Due: unittests, Consensus, Network, RPC

security: P4 MEDIUM severity security fixes (33 issues)
  src/consensus/pow.cpp
  src/consensus/tx_validation.cpp
  src/net/net.cpp
  src/node/blockchain_storage.cpp
  src/rpc/server.cpp
  src/util/config.cpp
  src/util/system.cpp
Due: unittests, Consensus, Network, RPC, Utilities

quality: P5 LOW severity code quality fixes
  src/consensus/chain.cpp
  src/net/headers_manager.cpp
  src/net/node_state.cpp
  src/net/peers.cpp
  src/node/mempool.cpp
  src/rpc/server.cpp
Due: unittests, Consensus, Network, RPC

fix: Mainnet hardening - MEDIUM and LOW security fixes
  src/consensus/reorg_wal.cpp
  src/miner/controller.cpp
  src/miner/controller.h
  src/miner/dilithion-miner.cpp
  src/net/banman.cpp
  src/net/block_fetcher.cpp
  src/net/blockencodings.cpp
  src/net/headerssync.cpp
  src/net/netaddress.cpp
  src/rpc/auth.cpp
  src/util/strencodings.cpp
  src/wallet/wal.cpp
Due: unittests, Consensus, Network, Wallet, RPC, Utilities

feat: v1.1.8 - Wallet UX improvements and checkpoint system
  check-wallet-balance.cpp
  dilithion-wallet.bat
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/wallet/wallet.cpp
Due: unittests, Consensus, Wallet

fix: macOS build - use POSIX APIs instead of std::filesystem
  src/consensus/chain_verifier.cpp
Due: unittests, Consensus

ci: Update website to v1.1.8
  website/index.html
Due: none

fix: MEM-MED-001 - Replace system() calls with std::filesystem in tests
  src/test/integration_tests.cpp
  src/test/mining_integration_tests.cpp
  src/test/phase13_integration_tests.cpp
  src/test/rpc_tests.cpp
Due: none

fix: Increase RandomX FULL mode init timeout from 120s to 600s
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

refactor: Remove verbose debug output from node startup
  src/consensus/chain.cpp
  src/consensus/chain_verifier.cpp
  src/consensus/validation.cpp
  src/miner/controller.cpp
  src/net/async_broadcaster.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/net/peers.cpp
  src/node/blockchain_storage.cpp
  src/node/dilithion-node.cpp
  src/node/utxo_set.cpp
Due: unittests, Consensus, Network

fix: BUG #98 - Initialize FULL mode before waiting for it in already-synced path
  src/node/dilithion-node.cpp
Due: unittests

ci: Update website to v1.1.9
  website/index.html
Due: none

fix: BUG #99 - Wallet balance not visible to check-wallet-balance
  src/wallet/wallet.cpp
Due: unittests, Wallet

ci: Update website to v1.1.10
  website/index.html
Due: none

fix: Remove verbose debug output from console
  src/net/block_fetcher.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/net/node_state.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: BUG #100 - HD wallet not crediting mined blocks
  src/miner/controller.cpp
  src/net/block_fetcher.cpp
  src/net/orphan_manager.cpp
  src/node/dilithion-node.cpp
  src/node/utxo_set.cpp
  src/wallet/wallet.cpp
Due: unittests, Network, Wallet

ci: Update website to v1.1.11
  website/index.html
Due: none

fix: Enable CORS for web wallet
  src/rpc/server.cpp
  website/wallet.html
Due: unittests, RPC

feat: Embed web wallet in node binary
  src/api/http_server.cpp
  src/api/wallet_html.h
  src/rpc/server.cpp
Due: unittests, RPC

ci: Update website to v1.1.12
  website/index.html
Due: none

fix: BUG #101 - Web wallet shows wrong network (mainnet vs testnet)
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

ci: Update website to v1.1.13
  website/index.html
Due: none

fix: BUG #102 - Web wallet not showing immature balance
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

ci: Update website to v1.1.14
  website/index.html
Due: none

fix: Web wallet UI improvements (logo + hash display)
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

ci: Update website to v1.1.15
  website/index.html
Due: none

fix: Use actual Dilithion logo (lion shield) in web wallet
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

ci: Update website SHA256 checksums for v1.1.15 (correct logo)
  website/index.html
Due: none

fix: BUG #103 - Send transaction using named parameters for RPC
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

ci: Update website SHA256 checksums for v1.1.15 (send tx fix)
  website/index.html
Due: none

feat: Add send confirmation dialog to web wallet
  dilithion-wallet.bat
  src/api/wallet_html.h
  src/rpc/server.cpp
Due: unittests, RPC

ci: Update website to v1.1.16 (send confirmation dialog)
  website/index.html
Due: none

fix: Correct download URLs to use testnet-v1.1.16 tag
  website/index.html
Due: none

fix: Update Windows SHA256 after adding missing files
  website/index.html
Due: none

ci: Update website to v1.1.17 (confirmation dialog fix)
  website/index.html
Due: none

fix: BUG #104 - Sent transactions now appear in history
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  website/index.html
Due: unittests, Wallet, RPC

fix: BUG #104 complete - Web wallet now displays sent transactions
  src/api/wallet_html.h
Due: unittests

ci: Update website to v1.1.19 (sent transaction display fix)
  website/index.html
Due: none

fix: BUG #105 - P2P zombie peers causing connection limit exhaustion
  src/net/net.cpp
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #106 - Transaction relay completely broken, messages never sent
  src/net/net.cpp
Due: unittests, Network
