Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: explorer shows pre-fund supply percentage and bridge label
  explorer/api/holders.php
  explorer/explorer.js
Due: none

fix: add dev fund/reward to pre-fund + split old bridge into 3 wallets
  src/core/chainparams.cpp
  src/core/dilv_prefund.inc
Due: unittests

feat: mainnet attestation pubkeys + 4-seed Byzantine (3-of-4)
  src/attestation/seed_attestation.h
  src/attestation/seed_pubkeys_mainnet.h
  src/core/chainparams.cpp
Due: unittests

feat: DNA-bound registration PoW + mandatory DNA from genesis (DilV)
  src/attestation/seed_attestation.cpp
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
Due: unittests, Consensus, RPC

fix: raise scriptSig limit from 10KB to 20KB for Dilithium attestations
  src/consensus/params.h
  src/net/net.cpp
  src/primitives/transaction.cpp
Due: unittests, Consensus, Primitives, Network

fix: correct DilV genesis timestamp to March 28, 2026 UTC
  src/core/chainparams.cpp
Due: unittests

fix: auto re-collect attestations when block rejected
  src/node/dilv-node.cpp
Due: unittests

fix: correct seed attestation pubkeys (were reading private key offset)
  src/attestation/seed_pubkeys_mainnet.h
Due: unittests

fix: raise coinbase scriptSig limit from 6KB to 20KB
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
Due: unittests, Consensus

fix: undo cooldown tracker state during IBD re-validation
  src/node/ibd_coordinator.cpp
Due: unittests

fix: IBD stall timeout race with RandomX header processing
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

debug: add cooldown and attestation trace logging for IBD investigation
  src/attestation/seed_attestation.cpp
  src/consensus/vdf_validation.cpp
  src/vdf/cooldown_tracker.cpp
Due: unittests, Consensus

fix: assume-valid for launch-period blocks + cooldown tracker undo
  src/consensus/chain.cpp
  src/core/chainparams.cpp
Due: unittests, Consensus

fix: raise assume-valid to 5000 + skip startup revalidation below it
  src/core/chainparams.cpp
  src/node/dilv-node.cpp
Due: unittests

fix: enforce cooldown during reorgs — root cause of IBD rejection (BUG #280)
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/vdf/cooldown_test.cpp
Due: unittests, Consensus

feat: integrate bridge into wallet, rebuild WASM from ref impl, fix light wallet
  src/api/wallet_html.h
  src/wallet/wallet.cpp
  website/.htaccess
  website/bridge.html
  website/index.html
  website/js/connection-manager.js
  website/js/dilithium-crypto.js
  website/js/dilithium.js
  website/js/dilithium.wasm
  website/js/local-wallet.js
  website/mainnet.html
  website/mining-calculator.html
  website/wallet.html
  website/wasm/build-wasm.sh
  website/wasm/dilithium_wasm.c
  website/wasm/randombytes_wasm.c
Due: unittests, Wallet

fix: raise DilV assume-valid to 2000 — unblock IBD past block 1078 (BUG #281)
  src/core/chainparams.cpp
Due: unittests

fix: use seedAttestationActivationHeight instead of dfmpAssumeValidHeight (BUG #281)
  src/core/chainparams.cpp
Due: unittests

fix: raise DilV dfmpAssumeValidHeight to 2000 + checkpoint fix (BUG #281)
  src/core/chainparams.cpp
Due: unittests

fix: move attestation check outside skipValidation — enforce during VDF reorgs (BUG #281)
  src/consensus/chain.cpp
Due: unittests, Consensus

fix: move DNA hash-equality check outside skipValidation (BUG #281)
  src/consensus/chain.cpp
Due: unittests, Consensus

docs: fix stale skipValidation comments in chain.cpp (BUG #281)
  src/consensus/chain.cpp
Due: unittests, Consensus

feat: standalone web wallet with bridge deposits, HD scan, unlock prompt
  src/api/wallet_html.h
  website/js/connection-manager.js
  website/js/local-wallet.js
  website/js/transaction-builder.js
  website/wallet.html
Due: unittests

feat: add PWA support for mobile wallet installation
  website/dilithion-logo-192.png
  website/dilithion-logo-512.png
  website/manifest.json
  website/sw.js
  website/wallet.html
Due: none

feat: add mining guide page, fix dead link on homepage
  website/index.html
  website/mining-guide.html
Due: none

fix: update mining calculator to gold/black branding (was purple/indigo)
  website/mining-calculator.html
Due: none

feat: mobile responsive wallet, DilV API, UX improvements
  src/api/wallet_html.h
  website/js/connection-manager.js
  website/sw.js
  website/wallet.html
Due: unittests

feat: mobile responsive design for all website pages
  website/WHITEPAPER.html
  website/bridge.html
  website/index.html
  website/mainnet.html
  website/mining-calculator.html
  website/price.html
Due: none

feat: live network stats on landing page (replaces hardcoded values)
  website/index.html
Due: none

feat: live peer counts as active miners on landing page
  website/index.html
Due: none

fix: include DilV pre-fund in circulating supply, live stats on landing page
  explorer/api/supply.php
Due: none

fix: use real difficulty from nodes API, add pre-fund to explorer stats
  explorer/api/stats.php
  website/index.html
Due: none

fix: genesis height bug, HD wallet dashboard, mining address UX
  src/api/wallet_html.h
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  website/index.html
  website/wallet.html
Due: unittests, Wallet, RPC

feat: lock/switch wallet, unlock from welcome screen
  src/api/wallet_html.h
  website/wallet.html
Due: unittests

fix: HD scan both chains + change addresses, network-first service worker
  website/js/local-wallet.js
  website/sw.js
  website/wallet.html
Due: none

fix(dilv): add checkpoints + stall exemption safety net
  src/consensus/chain.cpp
  src/core/chainparams.cpp
Due: unittests, Consensus

fix(dilv): revert stall exemption, reduce cooldown window, add Sybil defense
  Makefile
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/core/node_context.h
  src/node/block_processing.cpp
  src/node/dilv-node.cpp
  src/node/peer_mik_tracker.cpp
  src/node/peer_mik_tracker.h
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, Consensus, RPC

fix(dilv): raise consecutive miner stall threshold from 600s to 3600s
  src/consensus/vdf_validation.cpp
Due: unittests, Consensus

fix(dilv): add checkpoint at height 2951 (post-exploit cleanup)
  src/core/chainparams.cpp
Due: unittests

fix(dilv): skip permanently invalid blocks in ProcessNewBlock
  src/node/block_processing.cpp
Due: unittests
