Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: Update test files for correct API usage
  src/test/crypto_property_tests.cpp
  src/test/misbehavior_scoring_tests.cpp
Due: none

fix: Simplify test files to use correct public APIs
  src/test/ibd_functional_tests.cpp
  src/test/misbehavior_scoring_tests.cpp
Due: none

fix: Add missing objects to test_dilithion linker dependencies
  Makefile
Due: none

fix: Fix Boost.Test multiple definition errors and add missing deps
  Makefile
  src/test/ibd_coordinator_tests.cpp
  src/test/ibd_functional_tests.cpp
  src/test/misbehavior_scoring_tests.cpp
Due: none

fix: Correct Dilithium Makefile printf syntax in build-and-test job
  .github/workflows/ci.yml
Due: none

feat: Add RPC enhancements - logging, SSL/TLS, WebSocket support
  src/node/dilithion-node.cpp
  src/rpc/logger.cpp
  src/rpc/logger.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/ssl_wrapper.cpp
  src/rpc/ssl_wrapper.h
  src/rpc/websocket.cpp
  src/rpc/websocket.h
  src/test/rpc_ssl_tests.cpp
  src/test/rpc_websocket_tests.cpp
Due: unittests, RPC

fix: Correct compilation errors in RPC enhancements
  src/rpc/logger.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/websocket.h
Due: unittests, RPC

fix: Remove duplicate GetPort() definition
  src/rpc/server.cpp
Due: unittests, RPC

fix: Add ssl_wrapper.cpp and websocket.cpp to Makefile RPC_SOURCES
  Makefile
Due: none

fix: Compilation errors in websocket.h and ssl_wrapper.cpp
  src/rpc/ssl_wrapper.cpp
  src/rpc/websocket.h
Due: unittests, RPC

fix: Add logger.o, ssl_wrapper.o, websocket.o to test_dilithion dependencies
  Makefile
Due: none

fix: Remove duplicate BOOST_TEST_MODULE from test files
  src/test/rpc_ssl_tests.cpp
  src/test/rpc_websocket_tests.cpp
Due: none

ci: Add timeout-minutes to all CI jobs to prevent 6-hour hangs
  .github/workflows/ci.yml
Due: none

test: Reduce slow HD wallet test and increase CI timeouts
  .github/workflows/ci.yml
  src/test/wallet_hd_tests.cpp
Due: none

ci: Skip wallet_hd_tests in CI (BUG-77: GetNewHDAddress hangs)
  .github/workflows/ci.yml
Due: none

ci: Skip all HD wallet tests in CI (BUG-77: GetNewHDAddress hangs)
  .github/workflows/ci.yml
Due: none

fix: Correct GetBestHeight() expectations in ibd_functional_tests
  src/test/ibd_functional_tests.cpp
Due: none

fix: Add missing RPC method stubs in Python test framework
  test/functional/test_framework/test_framework.py
Due: none

fix: Add more RPC method stubs to Python test framework
  test/functional/test_framework/test_framework.py
Due: none

fix: Windows build compatibility - resolve macro conflicts and include issues
  Makefile
  src/miner/controller.cpp
  src/rpc/logger.cpp
  src/rpc/logger.h
  src/rpc/server.cpp
  src/rpc/websocket.cpp
  src/rpc/websocket.h
  src/util/config.h
  src/util/config_validator.h
  src/util/error_format.cpp
  src/util/error_format.h
Due: unittests, RPC, Utilities

fix: Python functional test framework improvements
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/wallet_multi_input.py
Due: none

fix: CI fixes - Coverity workflow and Python test framework
  .github/workflows/ci.yml
  test/functional/feature_chain_reorg.py
  test/functional/feature_subsidy.py
  test/functional/interface_rpc_validation.py
Due: none

fix: Add __format__ method to Decimal class for thousand separator support
  test/functional/test_framework/util.py
Due: none

fix: CAddrMan deadlock when loading peers.dat
  src/net/addrman.cpp
  src/net/addrman.h
Due: unittests, Network

fix: Mark blocks as received when skipping already-in-chain blocks (BUG #86)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add logging to GETDATA message processing (BUG #87 investigation)
  src/net/net.cpp
Due: unittests, Network

debug: Add comprehensive command logging to ProcessMessage (BUG #87)
  src/net/net.cpp
Due: unittests, Network

debug: Add GETDATA send logging for BUG #88 investigation
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Add BLOCK-SERVE logging to track block message sending
  src/node/dilithion-node.cpp
Due: unittests

debug: Add std::cout logging to IBD Tick() for BUG #88 investigation
  src/node/ibd_coordinator.cpp
Due: unittests

fix: BUG #88 - Connect blocks that are in DB but not chainstate
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #89 - Increase stalling timeout from 2s to 10s base
  src/net/node_state.h
Due: unittests, Network

fix: Remove Windows debug diagnostic code
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #90 and #91 - Windows socket and partial send issues
  src/net/net.cpp
  src/net/socket.h
Due: unittests, Network

fix: Coverity CID 1675311 - Initialize memory before locking
  src/util/secure_allocator.h
Due: unittests, Utilities

fix: Coverity CID 1675302 - Safe 64-to-32 bit time conversion
  src/node/dilithion-node.cpp
Due: unittests

fix: Coverity CID 1675265/1675260/1675290/1675250 - Fix mempool deadlocks
  src/node/mempool.cpp
  src/node/mempool.h
Due: unittests

fix: Coverity CID 1675257 - Safe 64-to-32 bit time conversion for addr.time
  src/node/dilithion-node.cpp
Due: unittests

fix: Coverity CID 1675249 - Safe 64-to-32 bit time conversion in RPC
  src/rpc/server.cpp
Due: unittests, RPC

fix: Coverity CID 1675246 - Safe 64-to-32 bit time conversion in CheckTimestamp
  src/net/headers_manager.cpp
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
