Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

docs: add authoritative RELEASING.md
  docs/RELEASING.md
Due: none

docs: refresh CHANGELOG.md with v4.0.x history
  CHANGELOG.md
  docs/archive/CHANGELOG-LEGACY-pre-v3.md
Due: none

chore: preserve pre-v3 legacy changelog outside archive dir
  docs/CHANGELOG-LEGACY.md
Due: none

docs: update CHANGELOG.md legacy link to new path
  CHANGELOG.md
Due: none

chore: untrack one-off dev scripts + standalone .cpp at root (PR-C)
  .gitignore
  Dockerfile-2025-11-07
  Makefile.am.temp2
  apply_bug76.py
  apply_bug91_fix.py
  check-db.cpp
  compile_benchmark.sh
  debug-nyc-issue.cpp
  dilithium_benchmark.cpp
  edit_makefile.py
  fix_orphan.py
  fix_server.ps1
  mine-genesis.cpp
  test-hello.cpp
  test-isolation.cpp
  test-nyc-fix.patch
  test-openssl.cpp
  validate_crypto.cpp
Due: none

chore: untrack one-off dev scripts + standalone .cpp at root (PR-C) (#14)
  .gitignore
  Dockerfile-2025-11-07
  Makefile.am.temp2
  apply_bug76.py
  apply_bug91_fix.py
  check-db.cpp
  compile_benchmark.sh
  debug-nyc-issue.cpp
  dilithium_benchmark.cpp
  edit_makefile.py
  fix_orphan.py
  fix_server.ps1
  mine-genesis.cpp
  test-hello.cpp
  test-isolation.cpp
  test-nyc-fix.patch
  test-openssl.cpp
  validate_crypto.cpp
Due: none

chore: untrack stray images, screenshots, generated HTML (PR-E)
  .gitignore
  4.png
  DILITHION-COMPREHENSIVE-TECHNICAL-DOCUMENTATION.html
  Screenshot 2025-10-31 194715.png
  Screenshot 2025-10-31 194832.png
  Screenshot 2025-10-31 194848.png
  Screenshot 2025-10-31 194903.png
  WHITEPAPER.html
  amber.png
  convert-to-pdf.py
  wallet_test.html
Due: none

chore: untrack stray images, screenshots, generated HTML (PR-E) (#16)
  .gitignore
  4.png
  DILITHION-COMPREHENSIVE-TECHNICAL-DOCUMENTATION.html
  Screenshot 2025-10-31 194715.png
  Screenshot 2025-10-31 194832.png
  Screenshot 2025-10-31 194848.png
  Screenshot 2025-10-31 194903.png
  WHITEPAPER.html
  amber.png
  convert-to-pdf.py
  wallet_test.html
Due: none

feat(dna): Phase 1.1 — dim-fill merge for unmapped peers
  src/digital_dna/digital_dna.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests

feat(dna): Phase 1.1 — dim-fill merge for unmapped peers (#17)
  src/digital_dna/digital_dna.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests

chore: add repo-hygiene CI check to prevent cruft regression
  .github/workflows/repo-hygiene.yml
  scripts/check-repo-hygiene.sh
Due: none

fix(mining): rebuild blocks_accepted counter from canonical chain
  scripts/gen-embedded-html.sh
  src/api/miner_html.h
  src/api/wallet_html.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  website/miner.html
  website/wallet.html
Due: unittests, RPC

chore: add repo-hygiene CI check to prevent cruft regression (#18)
  .github/workflows/repo-hygiene.yml
  scripts/check-repo-hygiene.sh
Due: none

fix(mining): rebuild blocks_accepted counter from canonical chain (#19)
  scripts/gen-embedded-html.sh
  src/api/miner_html.h
  src/api/wallet_html.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  website/miner.html
  website/wallet.html
Due: unittests, RPC

chore: harden dependabot config against consensus-breaking auto-bumps
  .github/dependabot.yml
Due: none

chore: harden dependabot config against consensus-breaking auto-bumps (#20)
  .github/dependabot.yml
Due: none

feat(v4.0.17): DNA Phase 1.2 + miner UX overhaul + new checkpoints
  CHANGELOG.md
  src/core/chainparams.cpp
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/dna_registry_db.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

feat(v4.0.17): DNA Phase 1.2 + miner UX overhaul + new checkpoints (#21)
  CHANGELOG.md
  src/core/chainparams.cpp
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/dna_registry_db.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

fix(net): retry UPnP discovery with longer timeouts (intermittent startup)
  src/net/upnp.cpp
Due: unittests, Network

chore(ops): rename seed wrappers to run-*-seed-relayonly.sh
  run-dil-seed-relayonly.sh
  run-dilv-seed-relayonly.sh
  scripts/check-repo-hygiene.sh
Due: none

fix(dna): only set g_mik_peer_map on successful registration
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests

feat(registration): add CRegistrationManager state machine + tests (v4.0.18 prep)
  Makefile
  src/node/registration_manager.cpp
  src/node/registration_manager.h
  src/test/registration_manager_tests.cpp
Due: unittests

feat(dilv): wire CRegistrationManager into DilV node (v4.0.18, commit 2/4)
  src/node/dilv-node.cpp
Due: unittests

feat(dil+rpc): wire CRegistrationManager into DIL node and RPC server (v4.0.18, commit 3/4)
  src/core/globals.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

fix(dna): only set g_mik_peer_map on successful registration (#22)
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests

feat(ftux): first-time miner setup banner with probabilistic PoW wording (v4.0.18, commit 4/4)
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(registration): address Cursor review findings (v4.0.18, commit 5/5)
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/registration_manager.cpp
  src/node/registration_manager.h
  src/test/registration_manager_tests.cpp
Due: unittests

v4.0.18: fix first-time miner registration race (CRegistrationManager state machine) (#23)
  Makefile
  run-dil-seed-relayonly.sh
  run-dilv-seed-relayonly.sh
  scripts/check-repo-hygiene.sh
  src/core/globals.cpp
  src/net/upnp.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/registration_manager.cpp
  src/node/registration_manager.h
  src/rpc/server.cpp
  src/test/registration_manager_tests.cpp
Due: unittests, Network, RPC

test(dna): phase 1.5 unit coverage for envelope, replay cache, staged limiter
  src/test/dna_propagation_tests.cpp
Due: none

feat(dna): phase 1.5 foundation — sample_envelope, mik_pubkey_cache, split rate-limiter APIs
  Makefile
  src/digital_dna/mik_pubkey_cache.cpp
  src/digital_dna/mik_pubkey_cache.h
  src/digital_dna/sample_envelope.cpp
  src/digital_dna/sample_envelope.h
  src/digital_dna/sample_rate_limiter.cpp
  src/digital_dna/sample_rate_limiter.h
Due: unittests

feat(dna): phase 1.5 wire format + staged receiver pipeline + miner signing
  src/core/node_context.h
  src/digital_dna/sample_envelope.cpp
  src/digital_dna/sample_envelope.h
  src/net/net.cpp
  src/net/net.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

feat(dna): Phase 1.5 — signed MIK-bound sample envelope (v4.0.18) (#24)
  Makefile
  src/core/node_context.h
  src/digital_dna/mik_pubkey_cache.cpp
  src/digital_dna/mik_pubkey_cache.h
  src/digital_dna/sample_envelope.cpp
  src/digital_dna/sample_envelope.h
  src/digital_dna/sample_rate_limiter.cpp
  src/digital_dna/sample_rate_limiter.h
  src/net/net.cpp
  src/net/net.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests, Network

fix(dna): phase 1.5 follow-ups (cache warm, trailer parser bug, tests, log)
  src/net/net.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests, Network
