Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: Correct orphan resolution API calls (CRITICAL-2 compilation fix)
  src/node/dilithion-node.cpp
Due: unittests

debug: Add detailed logging for Bug #13 investigation
  .claude/settings.local.json
  docs/bugs/best-block-initialization-bug-2025-11-12.md
  docs/bugs/mining-difficulty-bug-2025-11-13.md
  docs/bugs/randomx-mining-mode-bug-2025-11-12.md
  docs/bugs/rpc-integration-bug-2025-11-11.md
  docs/planning/IBD-ORPHAN-HANDLING-IMPLEMENTATION-PLAN.md
  docs/research/NETWORK-BOOTSTRAP-CHAIN-SYNC-RESEARCH.md
  docs/sessions/e2e-testing-session-2025-11-11.md
  docs/sessions/e2e-testing-session-2025-11-12.md
  genesis_output.txt
  genesis_output_light.txt
  src/net/net.cpp
  test-results/phase-0-preflight.md
  test-results/phase-1-p2p-network.md
  test-results/phase-2-rpc-interface.md
  test-results/phase-3-mining-operations.md
  test-results/phase-4-block-propagation.md
Due: unittests, Network

fix: Force deterministic RandomX flags for consensus (Bug #13)
  .claude/settings.local.json
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography

feat: Implement async RandomX initialization (Bug #14 fix)
  docs/bugs/bug-14-randomx-slow-initialization-2025-11-14.md
  src/crypto/randomx_hash.cpp
  src/crypto/randomx_hash.h
  src/node/dilithion-node.cpp
Due: unittests, Cryptography

fix: Wait for RandomX before genesis hash computation
  src/node/dilithion-node.cpp
Due: unittests

fix: Address 7 critical issues from comprehensive code review (Bug #15)
  src/crypto/randomx_hash.cpp
  src/miner/controller.cpp
  src/net/orphan_manager.cpp
  src/primitives/block.h
Due: unittests, Primitives, Cryptography, Network

fix: Remove duplicate coverage target to eliminate Makefile warnings
  Makefile
Due: none

fix: Remove RandomX cleanup from StopMining (CRITICAL-8 / Bug #16)
  src/miner/controller.cpp
Due: unittests

ops: Add production systemd auto-restart infrastructure (Phase 1-3)
  docs/operations/systemd-best-practices.md
  scripts/install-systemd-service.sh
  systemd/dilithion-testnet.service
Due: none

fix: Move StartLimitIntervalSec to [Unit] section
  systemd/dilithion-testnet.service
Due: none

feat: Implement chain integrity validation system (Bug #17)
  Makefile
  docs/development/chain-integrity-design.md
  docs/development/chain-integrity-research.md
  src/consensus/chain_verifier.cpp
  src/consensus/chain_verifier.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: Move chain integrity validation to corruption detection point (Bug #17-hotfix)
  src/node/dilithion-node.cpp
Due: unittests

fix: Implement blockchain search in gettransaction RPC (BLOCKER #2)
  src/rpc/server.cpp
Due: unittests, RPC

fix: Add difficulty and mediantime to getblockchaininfo RPC (Issue #3)
  src/rpc/server.cpp
Due: unittests, RPC

fix: Multi-threaded RandomX dataset initialization (Bug #18)
  src/crypto/randomx_hash.cpp
  src/node/dilithion-node.cpp
Due: unittests, Cryptography

fix: Correct RAM threshold for FULL mode RandomX (Bug #18)
  src/node/dilithion-node.cpp
Due: unittests

feat: Implement getpeerinfo and getconnectioncount RPC methods
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

Update website and documentation for v1.0.7 release
  README-LINUX.txt
  README-MAC.txt
  README-WINDOWS.txt
  seed node ip.txt
  website/index.html
Due: none

docs: Add website cache troubleshooting guide and verification script
  website/CACHE-TROUBLESHOOTING.md
  website/verify-upload.bat
Due: none

docs: Add WebCentral-specific cache clearing instructions
  website/WEBCENTRAL-CACHE-FIX.md
Due: none

fix: Update default seed node from old Australia node to NYC node
  src/node/dilithion-node.cpp
Due: unittests

fix: Remove hardcoded old seed node from all launcher scripts
  SETUP-AND-START.bat
  START-MINING.bat
  start-mining.sh
Due: none

docs: Remove all remaining old seed node references (v1.0.8)
  README-LINUX.txt
  README-MAC.txt
  README-WINDOWS.txt
  setup-and-start.sh
  website/index.html
Due: none

build: Update macOS build scripts for v1.0.8
  .github/workflows/build-macos.yml
  package-macos-release.sh
Due: none

fix: Add OpenSSL to macOS build workflow
  .github/workflows/build-macos.yml
Due: none

fix: Set OpenSSL environment variables globally for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Properly set OpenSSL paths for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Re-apply OpenSSL detection fix for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Add macOS compatibility for filesystem operations
  src/consensus/chain_verifier.cpp
Due: unittests, Consensus

fix: Explicitly set C++17 standard for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Add RandomX library path to LDFLAGS for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Add LevelDB library path to LDFLAGS for macOS build
  .github/workflows/build-macos.yml
Due: none

fix: Add OpenSSL paths for macOS builds (v1.0.8 hotfix)
  Makefile
Due: none

fix: Add global variable stubs for utility binaries (v1.0.8 hotfix)
  Makefile
  src/util/global_stubs.cpp
Due: unittests, Utilities

fix: Forward declare NodeState in global stubs
  src/util/global_stubs.cpp
Due: unittests, Utilities

fix: Extract global variables to separate compilation unit for macOS build
  Makefile
  src/core/globals.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: Include correct header for CChainState in globals.cpp
  src/core/globals.cpp
Due: unittests

feat: Add Windows build workflow via GitHub Actions
  .github/workflows/build-windows.yml
Due: none

docs: Add v1.0.8-testnet release documentation
  releases/RELEASE-NOTES-v1.0.8.md
  releases/dilithion-testnet-v1.0.8-SHA256SUMS.txt
Due: none

fix: Windows database path validation and update to v1.0.9
  Makefile
  package-linux-release.sh
  package-macos-release.sh
  package-windows-release.bat
  src/node/blockchain_storage.cpp
Due: unittests

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
