Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

ci: Add workflow to build Windows v1.0.9 release
  .github/workflows/build-windows-v1.0.9.yml
Due: none

fix: Update upload-artifact to v4 in Windows build workflow
  .github/workflows/build-windows-v1.0.9.yml
Due: none

fix: Copy RandomX library for Windows build linkage
  .github/workflows/build-windows-v1.0.9.yml
Due: none

fix: Use build-windows directory for RandomX (matches Makefile)
  .github/workflows/build-windows-v1.0.9.yml
Due: none

docs: Add v1.0.9-testnet release documentation
  releases/RELEASE-NOTES-v1.0.9.md
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

docs: Update website index.html for v1.0.9 release
  website/index.html
Due: none

fix(windows): Add complete DLL validation to all launcher scripts
  CRITICAL-FIX-MISSING-DLL-VALIDATION.md
  SETUP-AND-START.bat
  START-MINING.bat
  TEST-DEBUG.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix(windows): Critical batch file syntax error in SETUP-AND-START.bat
  SETUP-AND-START.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix(windows): Permanent solution for Windows binary packaging (v1.0.9 FINAL)
  ANTIVIRUS-SOLUTION.md
  COMPLETE-USER-TEST-GUIDE.md
  FIX-WINDOWS-DEFENDER.bat
  SETUP-AND-START-NO-COLOR.bat
  SETUP-AND-START-SIMPLE.bat
  START-MINING-SIMPLE.bat
  docs/WINDOWS-PACKAGING-PERMANENT-SOLUTION.md
  package-windows-release.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix(windows): TEST-DEBUG.bat syntax error - if errorlevel to if exist
  TEST-DEBUG.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix(windows): Simplify TEST-DEBUG.bat disk space check - remove complex nested if/else
  TEST-DEBUG.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix: Rebuild Windows binaries with OpenSSL 3.x (fixes DLL mismatch)
  Makefile
  TEST-DEBUG.bat
  package-windows-release.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix: Resolve Windows binary DLL toolchain mismatch (v1.0.9)
  Makefile
  TEST-DEBUG.bat
  package-windows-release.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix: Remove wrapper folder from Windows zip package
  package-windows-release.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

fix: Remove problematic file existence check from Windows batch files
  SETUP-AND-START.bat
  START-MINING.bat
  releases/dilithion-testnet-v1.0.9-SHA256SUMS.txt
Due: none

docs: Add Windows troubleshooting guide and debugging protocol
  docs/TROUBLESHOOTING-WINDOWS.md
Due: none

fix: Prevent seed nodes from connecting to themselves (Bug #20)
  src/net/net.cpp
Due: unittests, Network

Add automated seed node restart script
  restart-seed-node.sh
Due: none

fix: Add crash-loop protection to systemd service (Bug #21)
  systemd/dilithion-testnet-fixed.service
Due: none

fix: ChainVerifier auto-recovery now uses correct testnet directory
  src/consensus/chain_verifier.cpp
Due: unittests, Consensus

fix: Change systemd Restart policy to 'always' for auto-recovery
  systemd/dilithion-testnet-fixed.service
Due: none

fix: Use absolute paths from GetDataDir() instead of relative paths
  src/core/chainparams.cpp
Due: unittests

fix: Add Windows RAM detection for proper RandomX mode selection
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: Add Windows headers and clean OpenSSL config for Bug #23 build
  depends/openssl/include/openssl/opensslconf.h
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: GitHub Actions workflows for v1.0.10 builds
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  package-macos-release.sh
  package-windows-release.bat
Due: none

fix: Update Linux packaging script to accept VERSION from environment
  package-linux-release.sh
Due: none

fix: Add missing mingw-w64-x86_64-make to Windows workflow
  .github/workflows/build-windows.yml
Due: none

fix: Create GitHub Actions-specific Windows packaging script
  .github/workflows/build-windows.yml
  package-windows-release-github.sh
Due: none

fix: Add ULTRA-DEBUG.bat to repository for Windows packaging
  ULTRA-DEBUG.bat
Due: none

fix: Mining performance - eliminate vector allocations in hot loop (Bug #24)
  src/miner/controller.cpp
Due: unittests

chore: Bump version to v1.0.11 for critical performance release
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  package-linux-release.sh
  package-macos-release.sh
  package-windows-release-github.sh
  package-windows-release.bat
  releases/RELEASE-NOTES-v1.0.11.md
Due: none

fix: Correct TESTNET-GUIDE.md filename in packaging scripts
  package-linux-release.sh
  package-macos-release.sh
Due: none

fix: Close database before automatic blockchain wipe (Bug #25)
  src/node/dilithion-node.cpp
Due: unittests

chore: Bump version to v1.0.12 for dual bug fix release
  package-macos-release.sh
  package-windows-release.bat
Due: none

docs: Add comprehensive v1.0.12 release notes (Bug #24 + Bug #25)
  releases/RELEASE-NOTES-v1.0.12.md
Due: none

chore: Update v1.0.12 SHA-256 checksum after rebuilding with Bug #24 fix
  releases/RELEASE-NOTES-v1.0.12.md
Due: none

fix: Add comprehensive template change detection (Bug #26)
  BUG-26-MINING-TEMPLATE-DETECTION.md
  releases/RELEASE-NOTES-v1.0.12.md
  src/miner/controller.cpp
Due: unittests

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
