Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: private fork mining defense — stall exemption V2, consecutive miner check, fork peer scoring
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/vdf_miner.cpp
  src/net/banman.h
  src/node/block_processing.cpp
Due: unittests, Consensus, Network

fix: push fork defense activation to height 27200 (~2 day upgrade window)
  src/core/chainparams.cpp
Due: unittests

fix: recount blocks mined from chain on startup for accurate count after reorgs
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix: bridge relayer scans from bridge start height on fresh DB, not last 100 blocks
  bridge/relayer/config.py
  bridge/relayer/relayer.py
Due: none

fix: check-wallet-balance defaults to mainnet datadir instead of testnet
  check-wallet-balance.cpp
Due: none

fix: emergency activation of fork defense at DilV height 25500
  src/core/chainparams.cpp
Due: unittests

feat: MIK ban RPC (banmik/unbanmik/listbannedmiks) for identity-based blocking
  src/node/block_processing.cpp
  src/node/block_processing.h
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: enforce DilV protocol version 70007 to disconnect old nodes causing fork attacks
  src/net/net.cpp
  src/net/protocol.h
Due: unittests, Network

fix: MIK registration race condition causing new miners to get stuck at 0 hash rate (BUG #278)
  src/api/miner_html.h
  src/api/wallet_html.h
  src/core/globals.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

fix: prevent infinite fork recovery loop that stalls DilV seeds (BUG #278)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: clear stale fork-chain headers when all blocks permanently invalid (BUG #278 part 2)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: temporarily raise DilV activation heights + add startup re-validation
  src/core/chainparams.cpp
  src/node/dilv-node.cpp
Due: unittests

fix: restore DilV activation heights to 25500 (Phase B)
  src/core/chainparams.cpp
Due: unittests

feat: auto DNA collection/registration for all nodes + P2P propagation
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/vdf_miner.cpp
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/vdf/cooldown_test.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus, Network

fix: revert DILV_MIN_PEER_PROTO_VERSION to 70007 to avoid disconnecting peers
  src/net/protocol.h
Due: unittests, Network

fix: defer unknown MIK validation to ConnectTip during fork recovery
  src/node/fork_manager.cpp
Due: unittests

feat: add checkpoints at DIL 34000 and DilV 25000
  src/core/chainparams.cpp
Due: unittests

feat: add top holders and transactions pages to block explorer
  explorer/api/holders.php
  explorer/api/transactions.php
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

feat: DilV reset MVP — window cap, 45s block pacing, MIN_COOLDOWN=2
  src/consensus/chain.cpp
  src/consensus/pow.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.h
  src/miner/vdf_miner.cpp
  src/net/protocol.h
  src/node/dilv-node.cpp
  src/node/genesis.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus, Network

fix: --connect flag now skips hardcoded seed connections
  src/net/connman.cpp
  src/net/connman.h
  src/node/dilv-node.cpp
Due: unittests, Network

chore: lower REGISTRATION_POW_BITS to 24 for testnet testing
  src/dfmp/dfmp.h
Due: unittests

fix: add 60s backoff to manual node reconnect to prevent node ID leak
  src/net/connman.cpp
Due: unittests, Network

feat: ASN database infrastructure for datacenter IP detection
  Makefile
  datacenter-asns.txt
  src/net/asn_database.cpp
  src/net/asn_database.h
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, Network, RPC

feat: seed-attested MIK registration (Phase 2+3)
  Makefile
  src/attestation/seed_attestation.cpp
  src/attestation/seed_attestation.h
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/globals.cpp
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, Consensus, RPC

fix: relax DilV min protocol version to 70008 for pre-reset compatibility
  src/net/protocol.h
Due: unittests, Network

fix: request missing parent blocks after VDF distribution divergence (#279)
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: request missing parent in fork block path, not just orphan path (#279)
  src/node/block_processing.cpp
Due: unittests

fix: request missing parent in FetchBlocks loop — core VDF divergence fix (#279)
  src/node/ibd_coordinator.cpp
Due: unittests

fix: skip cooldown validation during reorg connect (#279)
  src/consensus/chain.cpp
Due: unittests, Consensus

fix: add stall exemption to CheckConsecutiveMiner to prevent chain deadlock
  src/consensus/vdf_validation.cpp
Due: unittests, Consensus

fix: revalidation cooldown tracker uses future data causing false rejections
  src/node/dilv-node.cpp
Due: unittests

fix: ABBA deadlock in OnPeerHandshakeComplete vs SocketHandler
  src/net/connman.h
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: use testnet seed IPs for attestation in DilV chainparams
  src/core/chainparams.cpp
Due: unittests

fix: wire VDF miner to start/stop RPCs and add inline wallet unlock on send
  src/rpc/server.cpp
  website/wallet.html
Due: unittests, RPC

feat: activate seed attestation on DilV testnet at height 15
  src/attestation/seed_attestation.h
  src/attestation/seed_pubkeys_testnet.h
  src/core/chainparams.cpp
Due: unittests

fix: DNA P2P discovery broken — rate limit collision + misbehavior penalty
  src/net/net.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

feat: add MIK-to-address mapping in getfullmikdistribution and MIK field in getblock
  src/rpc/server.cpp
Due: unittests, RPC

feat: add miner identity resolution and peer analysis to forensic tool
  scripts/chain_forensics.py
Due: none

feat: v4.0.0 — DilV chain reset + DIL residential attestation at 40,000
  src/consensus/validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/dilv_prefund.inc
  src/net/protocol.h
  src/node/genesis.cpp
Due: unittests, Consensus, Network

fix: skip attestation check for genesis block (height 0)
  src/consensus/chain.cpp
Due: unittests, Consensus

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
