Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

ci: Update website SHA256 checksums for v1.1.21 (tx relay fix)
  website/index.html
Due: none

fix: Add missing libleveldb.dll to Windows v1.1.21 release
  website/index.html
Due: none

feat: Add checkchain RPC command to detect chain forks
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: BUG #108 - Global pointers NULL causing TX relay to fail silently
  src/node/dilithion-node.cpp
Due: unittests

docs: Update website to v1.1.23 release
  website/index.html
Due: none

fix: Update Windows SHA256 for complete v1.1.23 package
  website/index.html
Due: none

fix: BUG #109 - BuildMiningTemplate now includes mempool transactions
  src/node/dilithion-node.cpp
Due: unittests

debug: Add BuildMiningTemplate logging to diagnose BUG #109
  src/node/dilithion-node.cpp
Due: unittests

debug: Add mempool AddTx/GetOrderedTxs logging for BUG #109
  src/node/mempool.cpp
Due: unittests

fix: Add missing iostream include for BUG #109 debug logging
  src/node/mempool.cpp
Due: unittests

fix: BUG #109 - Transactions not included in mined blocks (UTXO/mempool desync)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/miner/controller.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: BUG #109 - Complete template version counter implementation
  src/miner/controller.cpp
Due: unittests

fix: BUG #109 - Transactions never mined due to stale block templates
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #112 - Wallet not updating TX confirmation counts
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

feat: getnewaddress RPC now returns fresh HD addresses for privacy
  src/rpc/server.cpp
Due: unittests, RPC

fix: Increase GETDATA rate limit to prevent false bans during IBD
  src/net/net.cpp
Due: unittests, Network

fix: BUG #113, #114, #115 - Wallet UI and balance display improvements
  src/api/wallet_html.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  website/wallet.html
Due: unittests, Wallet, RPC

feat: Add wallet backup & recovery feature to web wallet
  website/wallet.html
Due: none

fix: Phase A-C unified CPeerManager handshake and block tracking
  src/net/block_fetcher.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Create peer entry in OnPeerHandshakeComplete if not exists
  src/net/peers.cpp
Due: unittests, Network

fix: Add OnPeerHandshakeComplete call in verack handler (Phase C)
  src/node/dilithion-node.cpp
Due: unittests

fix: Update Windows packaging scripts to match v1.1.26 contents
  package-windows-release-github.sh
  package-windows-release.bat
Due: none

fix: Copy wallet.html from website/ directory in packaging scripts
  package-windows-release-github.sh
  package-windows-release.bat
Due: none

fix: BUG #124 - Inbound peers weren't registered for block downloads
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: BUG #125 - Async message processing to prevent network blocking
  Makefile
  src/core/node_context.h
  src/net/message_queue.cpp
  src/net/message_queue.h
  src/net/net.cpp
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #125 Phase 2 - Async header validation
  src/core/node_context.cpp
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

debug: Add logging to GetValidPeersForDownload for BUG #126
  src/net/peers.cpp
Due: unittests, Network

revert: Remove debug logging from GetValidPeersForDownload
  src/net/peers.cpp
Due: unittests, Network

feat: Implement GETADDR/ADDR peer discovery (Bitcoin Core pattern)
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: AddPeerAddress must pass CNetworkAddr to AddrMan::Add()
  src/net/peers.cpp
Due: unittests, Network

fix: Prevent duplicate IPs in SelectAddressesToConnect
  src/net/peers.cpp
Due: unittests, Network

fix: BUG #127 - Prevent VERSION from overwriting HANDSHAKE_COMPLETE state
  src/net/net.cpp
Due: unittests, Network

debug: Add logging to ProcessVerackMessage for BUG #127 investigation
  src/net/net.cpp
Due: unittests, Network

fix: BUG #128 - Complete Bitcoin handshake by sending VERSION + VERACK
  src/node/dilithion-node.cpp
Due: unittests

debug: Add logging to trace SendVersionMessage result in SetVersionHandler
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #129 - Only send VERSION for inbound connections in SetVersionHandler
  src/node/dilithion-node.cpp
Due: unittests

debug: Add IBD trigger logging to SetVerackHandler
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #131 - Don't block inbound connections due to outbound cooldowns
  src/net/net.cpp
Due: unittests, Network

debug: Add logging to RequestHeaders to trace GETHEADERS send
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add message receive logging for BUG #132
  src/net/net.cpp
Due: unittests, Network
