Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Fix UpdatePeerStats and RemoveBlockFromFlight call signatures
  src/net/block_fetcher.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Add missing pindex argument to MarkBlockAsInFlight
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Increase per-block stall timeout from 3s to 15s for cross-region
  src/net/block_fetcher.h
Due: unittests, Network

fix: Implement parallel download on stall (Bitcoin Core behavior)
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Update OnChunkBlockReceived for parallel download struct
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Use correct method names for parallel download
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use correct CInv type for getdata vector
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Only flag blocks without parallel downloads as stalled
  src/net/block_fetcher.cpp
Due: unittests, Network

WIP: Before pure per-block refactor
  .claude/settings.local.json
  docs/analysis/IBD-ISSUES-DIAGNOSTIC-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
Due: none

refactor: Remove window abstraction from IBD coordinator
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: Allow parallel downloads to bypass peer capacity limits
  src/net/block_fetcher.cpp
Due: unittests, Network

perf: Skip RandomX hash computation during IBD below checkpoint
  src/node/dilithion-node.cpp
Due: unittests

fix: Add GetHeightForHash for reliable parent lookup in IBD
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

refactor: Remove all legacy chunk tracking code
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

fix: Remove calls to deleted chunk cleanup functions
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Pass block hash to wallet callbacks to avoid RandomX recomputation
  docs/research/BITCOIN-CORE-IBD-BLOCK-REQUEST-FLOW.md
  docs/research/DILITHION-VS-BITCOIN-CORE-IBD-COMPARISON.md
  docs/research/IBD-ACTION-PLAN.md
  docs/research/IBD-CRITICAL-FINDINGS.md
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/dilithion-node.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Wallet

fix: Pass block hash to QueueBlock to avoid more RandomX recomputation
  src/node/block_validation_queue.cpp
  src/node/block_validation_queue.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Pass block hash to ApplyBlock to avoid RandomX in UTXO operations
  src/consensus/chain.cpp
  src/node/utxo_set.cpp
  src/node/utxo_set.h
Due: unittests, Consensus

fix: Only mark outbound peer addresses as good in AddrMan
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

test: Temporarily disable checkpoints for full-PoW sync test
  src/core/chainparams.cpp
Due: unittests

revert: Re-enable checkpoints after full-PoW sync test
  src/core/chainparams.cpp
Due: unittests

fix: Add pipelined header prefetch to prevent stalls at batch boundaries
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Call OnBlockReceived to update per-block tracking (BUG #167)
  src/node/dilithion-node.cpp
Due: unittests

feat: Add hash-to-height reverse lookup to CBlockTracker (Phase 1 SSOT)
  src/net/block_tracker.h
Due: unittests, Network

feat: CPeerManager delegates to CBlockTracker (Phase 2 SSOT)
  src/net/peers.cpp
Due: unittests, Network

feat: CBlockFetcher uses CBlockTracker directly (Phase 3 SSOT)
  src/net/block_fetcher.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

perf: Remove 296 lines of debug logging from peers.cpp and block_fetcher.cpp
  src/net/block_fetcher.cpp
  src/net/peers.cpp
Due: unittests, Network

fix: Use correct LogLevel (ERROR not ERR)
  src/net/peers.cpp
Due: unittests, Network

refactor: Complete SSOT consolidation (Phases 4 & 5)
  src/net/peers.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Call OnBlockReceived to update per-block tracking (BUG #167)
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Search height-based tracking for orphan blocks (BUG #167 part 2)
  src/net/block_fetcher.cpp
Due: unittests, Network

perf: Replace O(n) linear search with O(1) hash lookup (BUG #167 part 3)
  src/net/block_fetcher.cpp
Due: unittests, Network

refactor: CBlockTracker SSOT - remove window, eliminate duplicate tracking
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/block_tracker.h
  src/net/peers.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Mark orphan blocks as received in CBlockTracker (SSOT)
  src/node/dilithion-node.cpp
Due: unittests

fix: Pass timeout parameter to CBlockTracker::CheckTimeouts
  src/net/block_fetcher.cpp
  src/net/block_tracker.h
Due: unittests, Network

fix: Use height-based cleanup for orphan blocks (hash mismatch fix)
  src/node/dilithion-node.cpp
Due: unittests

perf: Increase MAX_BLOCKS_IN_TRANSIT_PER_PEER from 16 to 128
  src/consensus/params.h
  src/net/block_fetcher.h
Due: unittests, Consensus, Network

Revert "perf: Increase MAX_BLOCKS_IN_TRANSIT_PER_PEER from 16 to 128"
  src/consensus/params.h
  src/net/block_fetcher.h
Due: unittests, Consensus, Network

refactor: Remove dead QueueBlockForDownload calls
  src/node/dilithion-node.cpp
Due: unittests
