Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Race conditions in fork detection and IBD coordinator
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Consensus

fix: Set pnext pointer when loading chain from database
  src/node/dilithion-node.cpp
Due: unittests

debug: Add pnext chain logging
  src/node/dilithion-node.cpp
Due: unittests

fix: Use computed genesis hash for GETHEADERS fallback
  src/node/dilithion-node.cpp
Due: unittests

fix: Add cs_main locking to DisconnectTip for thread safety
  src/consensus/chain.cpp
Due: unittests, Consensus

fix: Address critical race conditions in fork recovery and IBD
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/block_tracker.h
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Update best header tracking when skipping duplicate headers
  .claude/settings.local.json
  Support Images/Screenshot 2025-12-26 143005.png
  Support Images/Screenshot 2025-12-26 143926.png
  Support Images/Screenshot 2025-12-26 151529.png
  Support Images/Screenshot 2025-12-26 175439.png
  Support Images/Screenshot 2025-12-26 182437.png
  Support Images/Screenshot 2025-12-26 185422.png
  docs/analysis/IBD-ISSUES-DIAGNOSTIC-ANALYSIS.md
  docs/research/IBD-BOTTLENECKS-RACE-CONDITIONS-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Add height range validation in GetNextBlocksToRequest
  src/net/block_fetcher.cpp
Due: unittests, Network

refactor: Code quality improvements for IBD coordinator
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Remove early return that was blocking block downloads
  src/node/ibd_coordinator.cpp
Due: unittests

perf: Increase fork detection thresholds to prevent IBD slowdown
  docs/research/IBD-SYNC-SLOWDOWN-ROOT-CAUSE-ANALYSIS.md
  src/node/ibd_coordinator.h
Due: unittests

debug: Add locator building debug logging
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Return RandomX hash from GetBestChainHashAtHeight for locator
  .claude/settings.local.json
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add diagnostic logging for header sync stall at height 2000
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Prevent duplicate header request flood during async processing
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Allow header requests after initial headers are processed
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add locator building debug logging
  .claude/settings.local.json
  docs/analysis/IBD-ISSUES-DIAGNOSTIC-ANALYSIS.md
  docs/research/HEADER-SYNC-STALL-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Fallback to height comparison when chainWork is zero during IBD
  .claude/settings.local.json
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add infinite loop detection in GetBestChainHashAtHeight
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Reset peer stall count when headers received (fixes "no suitable peers" stall)
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: Penalize peers when blocks timeout (fixes IBD stuck blocks)
  src/net/peers.cpp
  src/net/peers.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

revert: Remove symptom-treating IBD fixes
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: IBD stall prevention - disable fork detection below checkpoints, skip headers peer for blocks
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Reduce block timeout to 10s and parallelize block processing (4 workers)
  src/net/connman.cpp
  src/net/connman.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Always skip headers sync peer for blocks (not just when headers in-flight)
  src/net/connman.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: IBD stall prevention - disable fork detection during bulk sync, add capacity re-check
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Disable sync during IBD for faster disk I/O
  PROJECT-STATE.md
  docs/analysis/IBD-DISK-IO-BOTTLENECK-ANALYSIS.md
  src/consensus/params.h
  src/net/block_fetcher.h
  src/node/utxo_set.cpp
Due: unittests, Consensus, Network

fix: Use global flag for IBD sync optimization (fixes deadlock)
  src/node/dilithion-node.cpp
  src/node/utxo_set.cpp
Due: unittests

fix: Prevent duplicate GETHEADERS while headers are being processed
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add rate limit debug logging and fix timestamp update order
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Rate limit header catchup requests properly
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Single-peer block download (matches PROJECT-STATE.md spec)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Header prefetch timing and block timeout for RandomX
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Hash lookup above checkpoint + header prefetch timing
  src/node/dilithion-node.cpp
Due: unittests

feat: Header prefetch pipeline - request on RECEIPT not validation
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Allow pipeline header requests after first batch received
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Remove throttle - dedup handled by m_headers_requested_height
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Fall back to headers sync peer for blocks if no other peers
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use requested_height to prevent duplicate header requests
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Never regress m_headers_requested_height in TriggerHeaderPrefetch
  src/net/headers_manager.cpp
Due: unittests, Network
