Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: resolve chain break loop by falling back to height index
  src/net/headers_manager.cpp
Due: unittests, Network

fix: difficulty v3 fork at height 20520 — 4x clamp + 1-hour EDA threshold
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
Due: unittests, Consensus

fix: add orphan resolution to fork block path to prevent minority-fork deadlock
  src/node/block_processing.cpp
Due: unittests

fix: resolve orphan deadlock causing permanent "no suitable peers" stall at 99% sync
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

feat: ASERT difficulty algorithm — per-block exponential adjustment
  Makefile
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/block_index.cpp
  src/node/block_index.h
  src/test/asert_test.cpp
Due: unittests, Consensus

fix: rollback crash, stale object deps, and crash handler stack traces
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: prevent mining blocks without MIK data (race condition)
  src/node/dilithion-node.cpp
  src/primitives/transaction.cpp
Due: unittests, Primitives

feat: automatic deep fork recovery via disconnect-and-resync
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/block_processing.cpp
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus

fix: prevent MIK registration blocks with nonce=0 (DFMP v3.0)
  src/miner/controller.cpp
  src/miner/controller.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

fix: guard against invalid pindexLast pointer in GetNextWorkRequired
  src/consensus/pow.cpp
Due: unittests, Consensus

chore: add checkpoint at height 23000 (pre-ASERT activation)
  src/core/chainparams.cpp
Due: unittests

feat: timestamp validation hard fork + ASERT re-anchor (activation height 24500)
  src/consensus/params.h
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/protocol.h
  src/node/block_processing.cpp
  src/test/timestamp_tests.cpp
Due: unittests, Consensus, Network

update website download links to use /releases/latest
  website/index.html
Due: none

fix: recalculate chainwork for duplicate headers with stale pprev
  src/net/headers_manager.cpp
Due: unittests, Network

fix: correct fee estimation for large transactions (many-input UTXOs)
  src/consensus/fees.cpp
  src/rpc/server.cpp
  src/test/consensus_validation_tests.cpp
  src/wallet/wallet.cpp
  website/js/transaction-builder.js
Due: unittests, Consensus, Wallet, RPC

feat: fork detection & miner protection system (4 phases)
  Makefile
  src/core/node_context.h
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/block_processing.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/test/fork_detection_tests.cpp
  src/test/ibd_functional_tests.cpp
  website/wallet.html
Due: unittests, Network, RPC

fix: reset capacity stall counter on peer change to prevent IBD death spiral
  src/node/ibd_coordinator.cpp
Due: unittests

fix: validate nBits in fork switch path (consensus bug)
  src/node/fork_manager.cpp
Due: unittests

chore: add checkpoint at height 24476 (post-nBits fix)
  src/core/chainparams.cpp
Due: unittests

fix: skip nBits validation for checkpointed blocks in fork manager
  src/node/fork_manager.cpp
Due: unittests

fix: fork cooldown clearance runs unconditionally + reduce to 60s
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: don't stop VDF miner during fork detection
  src/node/dilithion-node.cpp
Due: unittests

fix: reduce protocol version ban from 1 hour to 10 minutes
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: don't stop VDF miner in ANY mining pause handler
  src/node/dilithion-node.cpp
Due: unittests

website: add Learn dropdown menu to declutter navbar
  website/index.html
  website/mainnet.html
  website/post-quantum-cryptography.html
  website/quantum-security.html
  website/script.js
  website/style.css
Due: none

fix: copy-to-clipboard fails on HTTP (non-HTTPS) explorer
  explorer/explorer.js
Due: none

fix: web wallet copy button fails on HTTP (no clipboard API fallback)
  website/wallet.html
Due: none

fix: explorer copy button using event delegation + toast notification
  explorer/explorer.js
  explorer/style.css
Due: none

fix: explorer cache-busting for JS/CSS + SVG pointer-events fix
  explorer/index.html
  explorer/style.css
Due: none

fix: show copy toast near the button instead of bottom of screen
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
Due: none

feat: VDF lottery — lowest output wins block at same height
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/vdf_miner.cpp
  src/miner/vdf_miner.h
  src/node/block_processing.cpp
  src/node/dilithion-node.cpp
  src/vdf/vdf_lottery_test.cpp
Due: unittests, Consensus

fix: raise P2P block vtx size limit from 100KB to 4MB
  src/net/net.cpp
Due: unittests, Network

website: update download section to v3.6.3
  website/index.html
Due: none

chore: lower testnet lottery activation to 87240 (current height)
  src/core/chainparams.cpp
Due: unittests

fix: duplicate seed connections causing new node handshake failures
  src/net/connman.cpp
  src/net/peers.cpp
  src/node/dilithion-node.cpp
  website/index.html
Due: unittests, Network

fix: prevent IBD nodes from being banned by block dedup logic
  src/net/connman.cpp
  src/net/net.cpp
Due: unittests, Network

chore: reduce testnet VDF iterations from 10M to 1M for lottery testing
  src/core/chainparams.cpp
Due: unittests

feat: multi-node NAT support (Bitcoin Core manual connection pattern)
  src/net/connman.cpp
  src/net/connman.h
  src/net/node.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: improve MIK registration UX for new miners
  src/dfmp/mik.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: MIK registration PoW progress display and graceful shutdown
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/node/dilithion-node.cpp
Due: unittests

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
