Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix(dilv): add checkpoint at 2961 to reject exploit chain
  src/core/chainparams.cpp
Due: unittests

feat(dilv): Sybil defense Phases 2A, 4, 5
  src/core/node_context.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, RPC

fix(net): add misbehavior types to all Misbehaving() calls for ban diagnostics
  src/net/net.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

fix: HD scan both chains + change addresses, address panel in light mode
  website/wallet.html
Due: none

fix(wallet): validate password at prompt, relax 16-char requirement to 8
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/wallet/passphrase_validator.cpp
  src/wallet/passphrase_validator.h
Due: unittests, Wallet

feat(wallet): add encryption warning banner + forgot password hints
  website/wallet.html
Due: none

feat(explorer): label Dev Fund address on holders page
  explorer/api/holders.php
Due: none

fix(ibd): suppress fork detection during bulk IBD (BUG #282)
  src/node/ibd_coordinator.cpp
Due: unittests

fix(dilv): refresh stale attestations in template builder (BUG #283)
  src/node/dilv-node.cpp
Due: unittests

fix(seeds): pass --externalip so seed nodes return correct seed_id
  run-dil-seed.sh
  run-dilv-seed.sh
Due: none

feat(sybil): add MIK expiration (Layer 2) and registration rate limit (Layer 3)
  src/consensus/chain.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/block_processing.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus

feat(bridge): harden arb bot with slippage protection and timing jitter
  bridge/relayer/arb_bot.py
Due: none

fix(packaging): rewrite bootstrap script, add safety checks to release scripts
  package-bootstrap.sh
  package-linux-release.sh
  package-macos-release.sh
Due: none

feat(website): detect DilV chain and show correct coin unit
  website/miner.html
  website/mining-calculator.html
  website/script.js
Due: none

fix(api): strict P2PKH script matching in REST balance endpoint
  src/rpc/rest_api.cpp
Due: unittests, RPC

feat(explorer): address prefix search + fix mining during IBD
  explorer/api/search.php
  explorer/explorer.js
  src/rpc/server.cpp
Due: unittests, RPC

fix(dilv): skip MIK ban + cooldown check for checkpointed blocks during IBD (BUG #284)
  src/core/chainparams.cpp
  src/node/block_processing.cpp
Due: unittests

fix(dilv): raise checkpoint to 8370 to cover all pre-ban blocks
  src/core/chainparams.cpp
Due: unittests

fix(mining): add IBD check to RandomX startmining RPC path
  src/rpc/server.cpp
Due: unittests, RPC

fix(dil): raise dfmpAssumeValidHeight to 34000 to match checkpoint
  src/core/chainparams.cpp
Due: unittests

fix(net): cap DEDUP penalty to prevent IBD clients from getting banned
  src/net/net.cpp
Due: unittests, Network

fix(dil): fix attestation + DNA binding for height 40,000 activation
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/globals.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix(ibd): store below-checkpoint headers to prevent fresh sync stall
  src/net/headers_manager.cpp
Due: unittests, Network

fix(ibd): skip MIK ban check during IBD to prevent sync stall
  src/node/block_processing.cpp
Due: unittests

fix(mempool): preserve transactions during VDF distribution reorgs
  bridge/relayer/dilithion_rpc.py
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/mempool.cpp
  src/node/mempool.h
  src/rpc/server.cpp
Due: unittests, Consensus, RPC

Update README.md
  README.md
Due: none

fix(bridge): prevent SQLite binding error in get_block_hash fallback
  bridge/relayer/dilithion_rpc.py
Due: none

fix(mining): resolve attestation deadlock when DNA not cached (BUG #284)
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

security: add checkpoints at DIL 40000 and DilV 15000
  src/core/chainparams.cpp
Due: unittests

fix(ci): resolve all CI build failures for audit readiness
  Makefile
  src/core/node_context.h
  src/test/fuzz/fuzz_stubs.cpp
Due: unittests

fix(ci): add missing destructor stubs for fuzz targets
  src/test/fuzz/fuzz_stubs.cpp
Due: none

fix(ci): use release() to break destructor cascade in fuzz stubs
  src/test/fuzz/fuzz_stubs.cpp
Due: none

chore: update Telegram links, add Mastodon verification, add fuzz destructor stubs
  README-DILV-LINUX.txt
  README-DILV-MAC.txt
  README-DILV-WINDOWS.txt
  README-LINUX.txt
  README-MAC.txt
  README-WINDOWS.txt
  SETUP-AND-START.bat
  START-MINING.bat
  setup-and-start.sh
  src/test/fuzz/fuzz_stubs.cpp
  start-mining.sh
  website/WHITEPAPER.html
  website/bridge.html
  website/index.html
  website/mining-guide.html
Due: none

fix(ci): add CNode and CValidationWatchdog destructor stubs for fuzz
  src/test/fuzz/fuzz_stubs.cpp
Due: none

fix(test): fix pre-existing unit test failures in CI
  src/core/chainparams.h
  src/test/consensus_validation_tests.cpp
  src/test/tx_validation_tests.cpp
Due: unittests

feat(wallet): UTXO consolidation with one-click optimize button
  bridge/relayer/dilithion_rpc.py
  bridge/relayer/relayer.py
  src/api/wallet_html.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/wallet.cpp
  website/wallet.html
Due: unittests, Wallet, RPC

fix(windows): PID file false positive when process ID reused by unrelated app
  src/net/connman.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.h
  src/util/pidfile.cpp
Due: unittests, Network, Utilities

fix(windows): graceful shutdown on console window close
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

feat(wallet): add dumpprivkey and importprivkey RPCs
  src/rpc/permissions.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet, RPC

feat(wallet): add from_address parameter to sendtoaddress
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet, RPC
