Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: VDF lottery fork convergence — add tiebreaker for equal-work forks
  src/consensus/chain.cpp
Due: unittests, Consensus

debug: add VDF lottery debug logging to trace null vdfOutput issue
  src/consensus/chain.cpp
  src/node/block_processing.cpp
Due: unittests, Consensus

fix: BIP 152 compact block reconstruction drops VDF fields (vdfOutput/vdfProofHash)
  src/net/blockencodings.cpp
Due: unittests, Network

fix: BIP 152 compact blocks now carry VDF extension fields
  src/net/blockencodings.cpp
Due: unittests, Network

feat: DilV chain — VDF-only payment chain (Phases 1-3)
  Makefile
  src/consensus/pow.cpp
  src/consensus/validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/controller.cpp
  src/miner/vdf_miner.cpp
  src/miner/vdf_miner.h
  src/net/headers_manager.cpp
  src/net/peers.cpp
  src/net/protocol.h
  src/node/dilv-node.cpp
  src/node/genesis.cpp
  src/node/genesis.h
  src/tools/dilv_genesis_vdf.cpp
  src/util/system.cpp
  src/util/system.h
Due: unittests, Consensus, Network, Utilities

fix: RPC getblockchaininfo returns correct chain name for DilV
  src/rpc/server.cpp
Due: unittests, RPC

feat: x402 payment protocol integration for DilV (Phase 5)
  Makefile
  src/node/dilv-node.cpp
  src/node/mempool.cpp
  src/node/mempool.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/x402/facilitator.cpp
  src/x402/facilitator.h
  src/x402/vma.cpp
  src/x402/vma.h
  src/x402/x402_types.cpp
  src/x402/x402_types.h
Due: unittests, RPC

fix: route x402 HTTP requests through REST API handler
  src/api/http_server.cpp
Due: unittests

fix: use APPDATA for data directory on Windows (matches Bitcoin Core convention)
  src/util/system.cpp
Due: unittests, Utilities

fix: show DilV instead of DIL in mining reward and coinbase logs
  src/node/dilv-node.cpp
  src/wallet/wallet.cpp
Due: unittests, Wallet

feat: Phase 6 - Bitcoin-compatible script system and HTLC atomic swaps
  Makefile
  src/consensus/tx_validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/script/atomic_swap.cpp
  src/script/atomic_swap.h
  src/script/htlc.cpp
  src/script/htlc.h
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/script.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/x402/facilitator.h
  src/x402/vma.cpp
  src/x402/x402_types.h
Due: unittests, Consensus, Wallet, RPC

test: Phase 6 script system tests + fix IsStandardTransaction height check
  Makefile
  src/consensus/tx_validation.cpp
  src/consensus/tx_validation.h
  src/test/script_tests.cpp
  test_htlc.py
Due: unittests, Consensus

fix: DilV mining improvements — solo mining, coinbase maturity, wallet balance
  src/consensus/tx_validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/vdf_miner.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/utxo_set.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  website/index.html
Due: unittests, Consensus, Wallet

fix: OP_RETURN support + RPC body reading for bridge deposits
  src/consensus/tx_validation.cpp
  src/rpc/server.cpp
Due: unittests, Consensus, RPC

feat: Phase 8 — Bridge to Base with wDIL/wDILV ERC-20 tokens
  bridge/.env.example
  bridge/.gitignore
  bridge/contracts/WrappedDIL.sol
  bridge/contracts/WrappedDilV.sol
  bridge/hardhat.config.js
  bridge/package-lock.json
  bridge/package.json
  bridge/relayer/config.py
  bridge/relayer/dilithion_rpc.py
  bridge/relayer/relayer.py
  bridge/relayer/requirements.txt
  bridge/relayer/send_bridge_deposit.py
  bridge/relayer/state_db.py
  bridge/relayer/test_relayer.py
  bridge/scripts/deploy-wdil.js
  bridge/scripts/deploy-wdilv.js
  bridge/scripts/live-test-suite.js
  bridge/scripts/test-burn-flow.js
  bridge/scripts/test-mint-dilv.js
  bridge/scripts/test-mint.js
  bridge/scripts/verify.js
  bridge/test/WrappedDIL.test.js
  bridge/test/WrappedDilV.test.js
Due: none

fix: SendRejectMessage sent raw payload without network header
  src/net/net.cpp
  src/net/peers.cpp
Due: unittests, Network

fix: batched TX rebroadcast + RPC body size for Dilithium sigs
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
Due: unittests, RPC

feat: explorer sortable tables, collapsible tx inputs/outputs
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
Due: none

fix: bridge relayer config and deposit script refinements
  bridge/relayer/config.py
  bridge/relayer/dilithion_rpc.py
  bridge/relayer/relayer.py
  bridge/relayer/send_bridge_deposit.py
Due: none

feat: DilV release packaging — READMEs, scripts, CI workflows
  .github/workflows/build-dilv-macos.yml
  .github/workflows/build-dilv-windows.yml
  README-DILV-LINUX.txt
  README-DILV-MAC.txt
  README-DILV-WINDOWS.txt
  SETUP-DILV.bat
  START-DILV-MINING.bat
  package-dilv-linux-release.sh
  package-dilv-macos-release.sh
  package-dilv-windows-release-github.sh
  setup-dilv.sh
  start-dilv-mining.sh
Due: none

feat: bridge deposit fixes + Aerodrome pool seeding scripts
  bridge/relayer/config.py
  bridge/relayer/send_bridge_deposit.py
  bridge/scripts/seed-slipstream-pool.js
  bridge/scripts/seed-stable-pool.js
Due: none

fix: arb bot uses volatile pool (stable=false) to match actual pool type
  bridge/relayer/arb_bot.py
Due: none

fix: add missing build/obj/x402 directory to Makefile
  Makefile
Due: none

fix: include libminiupnpc in DilV Linux release package
  package-dilv-linux-release.sh
Due: none

fix: include libgmp in DIL Linux release package
  package-linux-release.sh
Due: none

fix: increase P2P headers max payload size for VDF blocks
  src/net/net.cpp
Due: unittests, Network

refactor: rename VDF lottery to distribution, fix fork detection messaging
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/miner/vdf_miner.cpp
  src/miner/vdf_miner.h
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/vdf/cooldown_tracker.h
  src/vdf/vdf.cpp
  src/vdf/vdf.h
  src/vdf/vdf_lottery_test.cpp
  src/vdf/vdf_test.cpp
Due: unittests, Consensus, Network

cleanup: remove debug prints from consensus hot paths
  src/consensus/chain.cpp
  src/consensus/pow.cpp
  src/net/async_broadcaster.cpp
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus, Network

fix: bridge relayer auto-retry failed deposits, rate-limit mints, improve bridge UI
  bridge/relayer/relayer.py
  bridge/relayer/state_db.py
  website/bridge.html
Due: none

fix: bypass VDF cooldown during chain stalls to prevent deadlock
  src/miner/vdf_miner.cpp
Due: unittests

feat: add price chart page, wallet DIL/DilV toggle, update website for v3.7.0
  src/api/wallet_html.h
  website/index.html
  website/price.html
  website/wallet.html
Due: unittests

fix: wire up getmininginfo RPC for DilV VDF miner
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

cleanup: suppress noisy CSRF console messages, keep audit log
  src/rpc/server.cpp
Due: unittests, RPC

feat: add DilV support to block explorer and Grafana dashboard
  explorer/api/address.php
  explorer/api/blocks.php
  explorer/api/rpc.php
  explorer/api/stats.php
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
  grafana-dashboard.json
  monitoring/prometheus-mainnet.yml
Due: none

fix: cooldown tracks by MIK identity, reduce formula to 67%
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/miner/vdf_miner.cpp
  src/miner/vdf_miner.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus

test: update cooldown tests for new 0.67 formula
  src/vdf/cooldown_test.cpp
Due: unittests

website: update download section for v3.7.2
  website/index.html
Due: none

fix: support Unicode Windows usernames for data directory paths
  check-wallet-balance.cpp
  src/util/system.cpp
Due: unittests, Utilities

ui: move explorer chain toggle next to Forks nav link
  explorer/index.html
Due: none

fix: use correct Grafana datasource UID in dashboard JSON
  grafana-dashboard.json
Due: none
