Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

feat: Add mainnet seed node IPs
  src/net/peers.cpp
Due: unittests, Network

fix: Clear g_node_context.fork_detected when fork resolves
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Bug #195 - Clear pending sync state when switching peers after stall
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

feat: Add mining tax, wallet dashboard, and RPC improvements
  src/consensus/params.h
  src/node/dilithion-node.cpp
  src/rpc/permissions.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  website/wallet.html
Due: unittests, Consensus, RPC

feat: Improve mining thread selector with Maximum and Custom options
  website/wallet.html
Due: none

feat: Add 2% mining development contribution (mainnet only)
  src/api/wallet_html.h
  src/consensus/validation.cpp
  src/core/chainparams.cpp
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  website/WHITEPAPER.html
  website/index.html
  website/script.js
  website/wallet.html
Due: unittests, Consensus, Wallet, RPC

fix: Make mainnet the default network (testnet requires --testnet flag)
  src/node/dilithion-node.cpp
Due: unittests

fix: Improve whitepaper HTML formatting with proper tables and lists
  website/WHITEPAPER.html
Due: none

feat: Update website for mainnet launch v1.4.0
  website/index.html
  website/script.js
Due: none

fix: Update website dashboard to use mainnet configuration
  website/api/stats.php
  website/network-stats.json
  website/script.js
Due: none

fix: Update Windows batch scripts for mainnet launch
  SETUP-AND-START.bat
  START-MINING.bat
Due: none

fix: Update all scripts and CI for mainnet v1.4.0
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  package-linux-release.sh
  package-macos-release.sh
  package-windows-release-github.sh
  setup-and-start.sh
  start-mining.sh
Due: none

fix: Update SHA256 hashes for v1.4.0 mainnet binaries
  website/index.html
Due: none

fix: Add network label to all Prometheus metrics
  src/api/metrics.h
  src/node/dilithion-node.cpp
Due: unittests

Reset mainnet genesis for v2 launch
  src/core/chainparams.cpp
Due: unittests

Lower genesis difficulty for mining
  src/core/chainparams.cpp
Due: unittests

fix: Invalidate block hash cache during genesis mining
  src/node/genesis.cpp
Due: unittests

Update mainnet genesis v2 parameters (nonce=3860)
  src/core/chainparams.cpp
Due: unittests

fix: Use Open() instead of Initialize() for blockchain DB
  src/node/dilithion-node.cpp
Due: unittests

feat: Add --relay-only flag to skip wallet creation for seed nodes
  src/node/dilithion-node.cpp
Due: unittests

Reset mainnet genesis for v3 with correct difficulty (0x1f007fff)
  src/core/chainparams.cpp
Due: unittests

Update mainnet genesis v3 (nonce=434, difficulty=0x1f007fff)
  src/core/chainparams.cpp
Due: unittests

fix: Wallet rescan now clears old transactions before scanning (for chain resets)
  website/wallet.html
Due: none

feat: Add clearwallettxs RPC and update tests for mainnet v3
  Makefile
  grafana-dashboard.json
  src/rpc/permissions.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/ibd_coordinator_tests.cpp
  src/test/ibd_functional_tests.cpp
  src/test/integration_tests.cpp
  src/test/utxo_tests.cpp
  src/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  website/api/stats.php
Due: unittests, Wallet, RPC

Update website to v1.4.1 with genesis v3 parameters
  website/index.html
Due: none

feat: Add genesis hash validation to VERSION handshake (v1.4.2)
  src/net/banman.h
  src/net/net.cpp
  src/net/protocol.h
Due: unittests, Network

fix: Change cs_main to recursive_mutex (BUG #200)
  src/consensus/chain.h
Due: unittests, Consensus

fix: Update lock_guard types to match recursive_mutex (BUG #200)
  src/consensus/chain.cpp
Due: unittests, Consensus

Reset mainnet genesis with higher difficulty (nBits=0x1e0fffff)
  src/core/chainparams.cpp
Due: unittests

feat: Add peer discovery and UPnP support for NAT traversal
  Makefile
  src/net/connman.cpp
  src/net/connman.h
  src/net/feeler.cpp
  src/net/protocol.h
  src/net/upnp.cpp
  src/net/upnp.h
  src/node/dilithion-node.cpp
Due: unittests, Network

security: Add IP-based rate limiting for genesis mismatch (anti-probing)
  src/net/banman.cpp
  src/net/banman.h
  src/net/net.cpp
  src/net/peers.cpp
Due: unittests, Network

fix: Handle both old and new miniupnpc API versions
  src/net/upnp.cpp
Due: unittests, Network

fix: Use portable 5-param UPNP_GetValidIGD (works on all versions)
  src/net/upnp.cpp
Due: unittests, Network

fix: Get actual peer IP from CNode, not self-reported addr_from
  src/net/net.cpp
Due: unittests, Network

fix: Use SetIPv4() for proper IPv4-mapped IPv6 format in accept
  src/net/connman.cpp
Due: unittests, Network

feat: Implement DFMP v1.3 (Fair Mining Protocol)
  Makefile
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/dfmp/identity_db.cpp
  src/dfmp/identity_db.h
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: DFMP build compatibility fixes
  src/consensus/pow.cpp
  src/dfmp/identity_db.cpp
  src/miner/controller.cpp
  src/net/upnp.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus, Network

fix: Use portable 5-param UPNP_GetValidIGD for all miniupnpc versions
  src/net/upnp.cpp
Due: unittests, Network

feat: Mainnet genesis v4 with multi-threaded mining support
  src/core/chainparams.cpp
  src/net/upnp.cpp
  src/node/genesis.cpp
  src/node/genesis.h
  src/test/genesis_test.cpp
Due: unittests, Network

fix: BUG #125 - Copy peer address from CNode to CPeer for inbound connections
  src/net/net.cpp
  src/net/protocol.h
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
