Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

docs: Add final status report for Phase 1 completion
  FINAL-STATUS-2025-11-08.md
Due: none

feat: Add fuzzing CI/CD workflow (Phase 2 Complete)
  .github/workflows/fuzzing-2025-11-08.yml
  README.md
Due: none

feat: Split fuzzing harnesses for granular coverage (Phase 3 Complete)
  .github/workflows/fuzzing-2025-11-08.yml
  Makefile
  src/test/fuzz/fuzz_address.cpp
  src/test/fuzz/fuzz_address_bech32.cpp
  src/test/fuzz/fuzz_address_encode.cpp
  src/test/fuzz/fuzz_address_type.cpp
  src/test/fuzz/fuzz_address_validate.cpp
  src/test/fuzz/fuzz_base58.cpp
  src/test/fuzz/fuzz_network_checksum.cpp
  src/test/fuzz/fuzz_network_command.cpp
  src/test/fuzz/fuzz_network_create.cpp
  src/test/fuzz/fuzz_network_message.cpp
  src/test/fuzz/fuzz_signature.cpp
Due: none

feat: Complete Phase 4 - Production Deployment of 20 Fuzzers
  docs/PHASE-4-DEPLOYMENT-COMPLETION-REPORT-2025-11-09.md
  scripts/build-fuzzers-remote-2025-11-08.sh
  scripts/deploy-and-build-fuzzers-2025-11-08.sh
Due: none

feat: Add Phase 5 - Continuous Fuzzing Infrastructure
  docs/PHASE-5-CONTINUOUS-FUZZING.md
  scripts/collect-crashes.sh
  scripts/deploy-phase5-scripts.sh
  scripts/monitor-fuzzer-resources.sh
  scripts/monitor-fuzzing-status.sh
  scripts/run-continuous-fuzz-campaign.sh
Due: none

fix: Remove set -e from fuzzing campaign script to prevent premature exit
  scripts/run-continuous-fuzz-campaign.sh
Due: none

feat: Complete Phase 5 Optional Enhancements - Production Infrastructure Hardening
  PHASE-5-COMPLETION-SUMMARY-2025-11-10.md
  WORK-SESSION-SUMMARY-2025-11-09.md
  docs/PHASE-5-CORPUS-BACKUP-2025-11-10.md
  docs/PHASE-5-COVERAGE-AND-CICD-2025-11-10.md
  docs/PHASE-5-CRASH-DEDUPLICATION-2025-11-10.md
  docs/PHASE-5-RESOURCE-MONITOR-FIX-2025-11-10.md
  scripts/analyze-crash-2025-11-10.sh
  scripts/backup-corpus-2025-11-10.sh
  scripts/deduplicate-crashes-2025-11-10.sh
  scripts/monitor-fuzzer-resources-2025-11-10.sh
  scripts/prune-corpus-backup-2025-11-10.sh
  scripts/restore-corpus-2025-11-10.sh
  scripts/test-resource-monitor-2025-11-10.sh
  scripts/triage-crashes-2025-11-10.sh
Due: none

feat: Add automation setup for daily corpus backups
  AUTOMATION-SETUP-GUIDE-2025-11-10.md
  scripts/setup-automation-2025-11-10.sh
Due: none

feat: Add daily health check system for production monitoring
  docs/DAILY-HEALTH-CHECK-GUIDE-2025-11-10.md
  scripts/daily-health-check-2025-11-10.sh
Due: none

feat: Implement HD (Hierarchical Deterministic) Wallets for Dilithion
  Makefile
  docs/HD-WALLET-SPEC.md
  docs/HD-WALLET-TEST-PLAN.md
  docs/HD_WALLET_SECURITY_AUDIT.md
  docs/HD_WALLET_TEST_COVERAGE.md
  docs/HD_WALLET_USER_GUIDE.md
  src/crypto/hmac_sha3.cpp
  src/crypto/hmac_sha3.h
  src/crypto/pbkdf2_sha3.cpp
  src/crypto/pbkdf2_sha3.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/hd_derivation_tests.cpp
  src/test/mnemonic_tests.cpp
  src/test/rpc_hd_wallet_tests.cpp
  src/test/wallet_hd_tests.cpp
  src/wallet/bip39_wordlist.h
  src/wallet/hd_derivation.cpp
  src/wallet/hd_derivation.h
  src/wallet/mnemonic.cpp
  src/wallet/mnemonic.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Cryptography, Wallet, RPC

feat: Add user-friendly HD wallet interface with auto-backup functionality
  IMPLEMENTATION-SUMMARY-HD-WALLET-UI-2025-11-10.md
  Makefile
  docs/HD_WALLET_UI_AND_FEATURES.md
  src/wallet/wallet_manager.cpp
  src/wallet/wallet_manager.h
Due: unittests, Wallet

feat: Add first-time setup wizard and secure defaults for Dilithion wallet
  Makefile
  RECOMMENDED_WALLET_SETUP.md
  WIZARD_IMPLEMENTATION_SUMMARY.md
  contrib/dilithion.conf.example
  demo_wallet_simple.py
  docs/DEFAULT_WALLET_SETUP_FOR_USERS.md
  docs/QUICK_START_MINERS.md
  docs/SECURE_REMOTE_WALLET_ACCESS.md
  src/wallet/wallet_init.cpp
  src/wallet/wallet_manager.h
  src/wallet/wallet_manager_wizard.cpp
Due: unittests, Wallet

docs: Add HD wallet implementation status tracker and demo files
  HD-WALLET-IMPLEMENTATION-STATUS.md
  demo_wallet_interface.py
Due: none

fix(crypto): Phase 3.5 Complete - Critical Security Fixes + Comprehensive Test Suite
  Makefile
  audit/PHASE-3.5-CRYPTO-FIXES-PROGRESS.md
  audit/TESTING-PROCEDURES-PHASE-3.5.md
  src/crypto/hmac_sha3.cpp
  src/crypto/hmac_sha3.h
  src/crypto/pbkdf2_sha3.cpp
  src/crypto/randomx_hash.cpp
  src/crypto/sha3.cpp
  src/test/hmac_sha3_tests.cpp
  src/test/pbkdf2_tests.cpp
Due: unittests, Cryptography

docs: Add Phase 3 Cryptography Security Audit Report
  audit/PHASE-3-CRYPTOGRAPHY-SECURITY-AUDIT.md
Due: none

fix(consensus): Critical security fixes - CVE-2012-2459, rollback failure, integer overflow
  .claude/settings.local.json
  audit/PHASE-4-CONSENSUS-SECURITY-AUDIT.md
  audit/PHASE-4.5-CONSENSUS-FIXES-PROGRESS.md
  src/consensus/chain.cpp
  src/consensus/pow.cpp
  src/consensus/validation.cpp
Due: unittests, Consensus

fix(utxo): Phase 5.5 Complete - Fix ALL Transaction & UTXO Security Issues
  SESSION-STATUS-2025-11-10.md
  audit/PHASE-5-TRANSACTION-UTXO-AUDIT.md
  src/consensus/validation.cpp
  src/consensus/validation.h
  src/miner/controller.h
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/primitives/transaction.cpp
  src/test/fuzz/fuzz_subsidy.cpp
  src/test/integration_tests.cpp
  src/test/transaction_tests.cpp
  src/test/util_tests.cpp
Due: unittests, Consensus, Primitives

docs: Add Phase 5.5 completion summary and update session status
  PHASE-5.5-COMPLETE-SUMMARY.md
  SESSION-STATUS-2025-11-10.md
Due: none

fix(consensus): Phase 4.7 Complete - Fix ALL Remaining MEDIUM and LOW Issues
  PHASE-4.7-COMPLETE-SUMMARY.md
  src/consensus/pow.cpp
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
Due: unittests, Consensus

fix(crypto): FIX-010 Complete - IV Reuse Detection (CRYPT-002)
  Makefile
  audit/FIX-010-IV-REUSE-DETECTION-COMPLETE.md
  src/test/test_iv_reuse_detection.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

fix(crypto): FIX-007, FIX-008, FIX-009 - Complete Cryptography Hardening
  audit/FIX-008-AUTHENTICATED-ENCRYPTION-COMPLETE.md
  src/test/test_authenticated_encryption.cpp
  src/test/test_secure_allocator.cpp
  src/util/secure_allocator.h
  src/wallet/crypter.cpp
  src/wallet/crypter.h
Due: unittests, Wallet, Utilities

fix: Windows build temp directory permission issue + integration test script
  Makefile
  scripts/build.sh
  scripts/test_rpc_permissions_integration.sh
Due: none

fix(build): Critical RandomX JIT compiler integration + missing Phase 4.5 files
  Makefile
Due: none

feat: Add missing Phase 4.5 security implementation files
  .gitignore
  src/consensus/sighash.h
  src/rpc/json_util.h
  src/util/system.cpp
  src/util/system.h
  src/wallet/wal.cpp
  src/wallet/wal.h
  src/wallet/wal_recovery.cpp
  src/wallet/wal_recovery.h
Due: unittests, Consensus, Wallet, RPC, Utilities

feat: Phase 4.5 Security Fixes - Consensus, Wallet & RPC Hardening
  src/amount.h
  src/api/http_server.cpp
  src/api/http_server.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/wallet/crypter.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_init.cpp
  src/wallet/wallet_manager.cpp
  src/wallet/wallet_manager_wizard.cpp
Due: unittests, Wallet, RPC

docs: Add Phase 4.5 security audit documentation
  PHASE-5-TEST-RESULTS.md
  SECURITY-FIXES-2025-11-11.md
  audit/SECURITY-FIXES-STATUS-2025-11-11.md
Due: none

fix(tests): Update RandomX initialization for JIT compiler parameter
  src/test/genesis_test.cpp
  src/test/integration_tests.cpp
  src/test/mining_test.cpp
  src/test/phase1_simple_test.cpp
Due: none

docs: Phase 3.5.7 - Sanitizer testing complete (ASAN+UBSAN - Zero errors)
  AUDIT-PROGRESS-2025-11-11.md
  PHASE-3.5.7-SANITIZER-RESULTS.md
Due: none

feat(phase3): Complete Phase 3 Cryptography Review - Production Ready
  AUDIT-PROGRESS-2025-11-11.md
  Makefile
  PHASE-3-CRYPTOGRAPHY-FINAL-REPORT.md
  validate_crypto.cpp
Due: none

docs(phase5): Complete Transaction & UTXO System Security Audit
  PHASE-5-TRANSACTION-UTXO-AUDIT.md
Due: none

feat: Add Chain ID (EIP-155) replay protection for mainnet/testnet separation
  CHAIN-ID-IMPLEMENTATION.md
  PHASE-5-TRANSACTION-UTXO-AUDIT.md
  src/consensus/tx_validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/wallet/wallet.cpp
Due: unittests, Consensus, Wallet

docs: Add testnet reset guides for Chain ID implementation
  CHAIN-ID-IMPLEMENTATION.md
  TESTNET-RESET-ANNOUNCEMENT.md
  TESTNET-RESET-GUIDE.md
Due: none

build: Add missing nlohmann json library for RPC
  src/3rdparty/json.hpp
Due: unittests

feat: New testnet genesis block with Chain ID protection
  src/core/chainparams.cpp
  src/test/genesis_test.cpp
Due: unittests

fix: Restore .gitmodules for RandomX submodule
  .gitmodules
Due: none

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
