Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

feat: Add setban, listbanned, clearbanned RPC commands
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Correct CBanEntry member names and Ban() signature
  src/rpc/server.cpp
Due: unittests, RPC

security: Bump protocol version to 70002 to reject old binaries
  src/net/protocol.h
Due: unittests, Network

fix: Integrate CheckProofOfWorkDFMP into block validation paths
  src/consensus/validation.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Consensus

feat: Add --externalip option for manual port forwarding
  src/net/connman.cpp
  src/net/connman.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Prevent duplicate peer connections
  src/net/connman.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

feat: Aggressive peer connection - always maintain seed connections
  src/net/connman.cpp
Due: unittests, Network

fix: Integrate CheckCoinbase into block validation paths
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests

fix: Mark RandomX ready after initialization
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography

fix: Prevent duplicate peer connections (1 connection per peer max)
  src/net/connman.cpp
Due: unittests, Network

fix: Add duplicate check to ThreadSocketHandler inbound accept
  src/net/connman.cpp
Due: unittests, Network

fix: Update peer address on RegisterNode/AddPeerWithId to prevent zombie [0000::0000] entries
  src/net/peers.cpp
Due: unittests, Network

fix: Call RegisterNode BEFORE adding to m_nodes to prevent zombie addresses
  src/net/connman.cpp
Due: unittests, Network

debug: Add logging to RegisterNode to trace zombie address issue
  src/net/peers.cpp
Due: unittests, Network

debug: Add logging to OnPeerHandshakeComplete to trace zombie issue
  src/net/peers.cpp
Due: unittests, Network

debug: Add more logging to AddPeerWithId
  src/net/peers.cpp
Due: unittests, Network

debug: Add more detailed RegisterNode logging
  src/net/peers.cpp
Due: unittests, Network

fix: Dashboard shows actual last block time instead of stats fetch time
  src/api/cached_stats.cpp
  website/api/stats.php
  website/script.js
Due: unittests

refactor: Remove debug logging from peers.cpp
  src/net/peers.cpp
Due: unittests, Network

genesis: v2.0.0 mainnet reset with new genesis block
  src/core/chainparams.cpp
Due: unittests

ci: Add miniupnpc dependency for macOS UPnP build
  .github/workflows/build-macos.yml
Due: none

ci: Add miniupnpc dependency for Windows UPnP build
  .github/workflows/build-windows.yml
Due: none

ci: Add miniupnpc include/lib paths for macOS build
  .github/workflows/build-macos.yml
Due: none

dfmp: v1.4 - First-block grace for new identities
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
Due: unittests

dfmp: v2.0 - Mining Identity Key (MIK) implementation
  Makefile
  src/consensus/pow.cpp
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/dfmp/identity_db.cpp
  src/dfmp/identity_db.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/miner/controller.cpp
  src/miner/controller.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/test/dfmp_mik_tests.cpp
  src/test/mining_integration_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Wallet, RPC

fix: headers_manager chain work accumulation for genesis parent
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Add MIK data to BuildMiningTemplate coinbase
  src/node/dilithion-node.cpp
Due: unittests

fix: Auto-generate MIK if wallet doesn't have one
  src/node/dilithion-node.cpp
Due: unittests

debug: Add chain work comparison logging
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add genesis lookup logging
  src/net/headers_manager.cpp
Due: unittests, Network

fix: add genesis to mapHeaders for chain work accumulation
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add more genesis lookup logging
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Look up genesis in IBD batch processing for chain work accumulation
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Apply DFMP penalty in mining template to match validation
  src/node/dilithion-node.cpp
Due: unittests

fix: Add header invalidation to prevent IBD infinite loop
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Network

fix: Pre-register MIK identity during validation to fix IBD
  PLAN-dfmp-ibd-fix.md
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
Due: unittests, Consensus

fix: Wallet rescan button now properly clears and rescans
  src/api/wallet_html.h
  src/rpc/server.cpp
Due: unittests, RPC

fix: Prevent self-connection to own external/public IP
  src/net/connman.cpp
Due: unittests, Network

fix: Add handshake timeout to prevent stale connection blocking
  src/net/connman.cpp
Due: unittests, Network

docs: Update whitepaper and tech spec to v2.0
  WHITEPAPER.md
  docs/archive/technical-specification.md
Due: none

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
