Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

debug: Print ALL header fields for hash comparison
  src/primitives/block.cpp
Due: unittests, Primitives

debug: Add startup hash test for block 5547 to compare across nodes
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #179 - Restore RANDOMX_FLAG_DEFAULT for deterministic consensus
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography

revert: Undo BUG #179 fix - restore randomx_get_flags()
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography

fix: BUG #180 - Resolve linker errors in utility binaries
  releases/dilithion-testnet-v1.3.8-linux-x64.tar.gz
  src/node/block_processing.cpp
  src/node/block_processing.h.orig
  src/node/dilithion-node.cpp
  website/index.html
  website/script.js
Due: unittests

fix: BUG #49 + BUG #180 - Improved solo mining prevention with 120s grace period
  src/node/dilithion-node.cpp
Due: unittests

chore: Update website for v1.3.9 release
  website/index.html
Due: none

test: Add comprehensive test suite for v1.3.9 fixes
  scripts/run_all_tests.sh
  scripts/test_network_sync.sh
  scripts/test_solo_mining.sh
  src/test/chain_tip_callback_tests.cpp
  src/test/compact_block_tests.cpp
Due: none

fix: Update compact_block_tests to use correct API
  src/test/compact_block_tests.cpp
Due: none

fix: Use BuildMerkleRootFromTxs in compact block tests
  src/test/compact_block_tests.cpp
Due: none

fix: Start FULL mode init in controller.cpp StartMining()
  src/miner/controller.cpp
Due: unittests

perf: Start FULL mode init at startup for 8GB+ RAM systems
  src/node/dilithion-node.cpp
Due: unittests

chore: Remove debug output from FULL mode init
  src/crypto/randomx_hash.cpp
Due: unittests, Cryptography

feat: Add Bitcoin-style testnet min-difficulty escape rule
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/dilithion-node.cpp
Due: unittests

feat: Set testnet block time to 60 seconds (1 minute)
  src/core/chainparams.cpp
  src/core/chainparams.h
Due: unittests

feat: Add --verbose flag to reduce debug output for miners
  src/net/async_broadcaster.cpp
  src/net/connman.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/node/blockchain_storage.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/mempool.cpp
  src/util/logging.cpp
  src/util/logging.h
Due: unittests, Network, Utilities

fix: Use header_height instead of stale peer height for block downloads
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Set PEERS_AT_CAPACITY hang cause when peer is at block capacity
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use g_chainstate for difficulty calculation in miner
  src/node/dilithion-node.cpp
Due: unittests

feat: Add bootstrap support for fast initial sync
  README-LINUX.txt
  README-MAC.txt
  README-WINDOWS.txt
  package-bootstrap.sh
Due: none

fix: Add orphan reprocessing callback to synchronous block path
  src/node/block_processing.cpp
Due: unittests

feat: Add Phase 1 reliability improvements
  src/api/cached_stats.cpp
  src/api/cached_stats.h
  src/api/http_server.cpp
  src/api/http_server.h
  src/node/block_validation_queue.cpp
  src/node/block_validation_queue.h
  src/node/dilithion-node.cpp
  src/node/validation_watchdog.cpp
  src/node/validation_watchdog.h
  src/util/logging.cpp
  src/util/logging.h
  src/util/pidfile.cpp
  src/util/pidfile.h
Due: unittests, Utilities

build: Add Phase 1 source files to Makefile
  Makefile
Due: none

fix: Sync NodeState struct in globals.cpp with dilithion-node.cpp
  src/core/globals.cpp
Due: unittests

feat: Add Phase 2 monitoring metrics for stress test observability
  src/api/metrics.h
  src/net/orphan_manager.cpp
  src/net/orphan_manager.h
Due: unittests, Network

feat: Implement score-based orphan eviction policy
  src/net/orphan_manager.cpp
Due: unittests, Network

feat: Add priority parent request tracking (Phase 2.2)
  src/net/orphan_manager.cpp
  src/net/orphan_manager.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Network

test: Add Phase 2.3 stress test suite
  test/functional/stress_competing_chains.py
  test/functional/stress_crash_recovery.py
  test/functional/stress_http_load.py
  test/functional/stress_orphan_storm.py
Due: none

feat: Add Phase 3.1 chaos engineering framework
  test/functional/chaos_crash_test.py
  test/functional/test_framework/network_faults.py
  test/functional/test_framework/test_framework.py
Due: none

feat: Add Phase 3 stress test improvements
  Makefile
  src/consensus/signature_batch_verifier.cpp
  src/consensus/signature_batch_verifier.h
  src/consensus/tx_validation.cpp
  src/consensus/tx_validation.h
  src/node/dilithion-node.cpp
  src/node/validation_watchdog.cpp
  src/node/validation_watchdog.h
Due: unittests, Consensus

feat: Complete Phase 3 stress test improvements
  Makefile
  src/net/connection_quality.cpp
  src/net/connection_quality.h
  src/node/mempool.cpp
  src/node/mempool.h
  src/node/resource_monitor.cpp
  src/node/resource_monitor.h
  src/node/utxo_set.h
Due: unittests, Network

fix: Add missing mutex include in resource_monitor.cpp
  src/node/resource_monitor.cpp
Due: unittests

fix: Add missing mutex include in resource_monitor.h
  src/node/resource_monitor.h
Due: unittests

fix: Add missing string include in signature_batch_verifier.h
  src/consensus/signature_batch_verifier.h
Due: unittests, Consensus

fix: Use best_known_height instead of start_height for header sync
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Use best_known_height for IBD and improve stale block message
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Fork-aware header sync with mining pause
  src/core/node_context.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Enable validation watchdog auto-recovery
  src/node/block_validation_queue.cpp
Due: unittests

fix: Request HEADERS instead of single blocks for fork detection
  src/node/block_processing.cpp
Due: unittests
