Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix: Add explicit destructor to CHeadersManager to prevent double-free
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

fix: Pre-generate 20 HD wallet addresses to prevent missing transactions
  src/wallet/wallet.cpp
Due: unittests, Wallet

feat: Update dev fund and dev reward addresses for mainnet reset
  src/consensus/params.h
  src/consensus/validation.cpp
  src/node/dilithion-node.cpp
  website/WHITEPAPER.html
  website/index.html
Due: unittests, Consensus

feat: Add wallet restore option to first-time setup wizard
  src/wallet/wallet_manager_wizard.cpp
Due: unittests, Wallet

fix: Remove debug output and add bind retry for production stability
  src/net/connman.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

feat: Add inbound/outbound peer and mining metrics for Prometheus
  monitoring/prometheus-mainnet.yml
  src/api/metrics.h
  src/node/dilithion-node.cpp
Due: unittests

fix: Use .store() for atomic metric assignments
  src/node/dilithion-node.cpp
Due: unittests

fix: Use simpler GetConnectedPeers() to avoid crash in metrics
  src/node/dilithion-node.cpp
Due: unittests

debug: Disable new metrics output to isolate segfault
  src/api/metrics.h
  src/node/dilithion-node.cpp
Due: unittests

fix: Restore peer metrics output after clean rebuild fix
  src/api/metrics.h
  src/node/dilithion-node.cpp
Due: unittests

build: Bundle shared libraries in Linux release package
  package-linux-release.sh
Due: none

docs: Update website for v2.0.1 release
  website/index.html
Due: none

fix: Update fuzz_utxo.cpp to match ApplyBlock signature
  src/test/fuzz/fuzz_utxo.cpp
Due: none

fix: Add libminiupnpc-dev to CI and fix fuzz_mempool linker error
  .github/workflows/ci.yml
  Makefile
Due: none

fix: Add DFMP and signature verifier dependencies to fuzz targets
  Makefile
Due: none

fix: Fix memory_cleanse linker error and add DFMP to fuzz_difficulty
  Makefile
  src/dfmp/mik.cpp
Due: unittests

fix: Add FUZZ_NODE_OBJECTS and leveldb to fuzz_difficulty
  Makefile
Due: none

fix: Add DFMP objects to test_dilithion linker dependencies
  Makefile
Due: none

fix: Update ibd_functional_tests for current implementation
  src/test/ibd_functional_tests.cpp
Due: none

fix: Call InvalidateCache() in block hash tests
  src/test/block_tests.cpp
Due: none

fix: Add thread-safe GetLockedRecvBuffer() to fix Coverity data race (CID 1676015)
  src/net/connman.cpp
  src/net/node.h
Due: unittests, Network

fix: Add Dilithium library build step to fuzzing extended campaigns
  .github/workflows/fuzz-extended-campaigns.yml
Due: none

docs: Update website to v2.0.2 release
  website/index.html
Due: none

feat: Add Dilithium3 WASM crypto module for light wallet
  website/js/connection-manager.js
  website/js/dilithium-crypto.js
  website/js/dilithium.js
  website/js/dilithium.wasm
  website/js/local-wallet.js
  website/js/transaction-builder.js
  website/test-wasm-node.js
  website/test-wasm.html
  website/wallet.html
  website/wasm/build-wasm.sh
  website/wasm/dilithium_wasm.c
Due: none

feat: Add REST API for light wallet and network improvements
  Makefile
  docs/specs/DFMP-V2-SPEC.md
  src/consensus/reorg_wal.cpp
  src/crypto/randomx_hash.cpp
  src/dfmp/dfmp.cpp
  src/dfmp/identity_db.cpp
  src/miner/controller.cpp
  src/net/addrman.cpp
  src/net/banman.cpp
  src/net/blockencodings.cpp
  src/net/connman.cpp
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
  src/net/upnp.cpp
  src/node/dilithion-node.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/rest_api.cpp
  src/rpc/rest_api.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/wallet_manager.cpp
  src/wallet/wallet_manager_wizard.cpp
  tools/generate_wallet.cpp
Due: unittests, Consensus, Cryptography, Network, Wallet, RPC

feat: Wire up light wallet mode in wallet.html
  website/wallet.html
Due: none

refactor: Unified wallet architecture - browser holds keys in both modes
  website/js/connection-manager.js
  website/wallet.html
Due: none

feat: Move REST API to HTTP server port 8334
  src/api/http_server.cpp
  src/api/http_server.h
  src/node/dilithion-node.cpp
  website/js/connection-manager.js
Due: unittests

fix: Handle OPTIONS preflight before REST API routing for CORS
  src/api/http_server.cpp
Due: unittests

fix: Call refreshAll() immediately after light wallet unlock/mode change
  website/wallet.html
Due: none

feat: Add setminingaddress/getminingaddress RPC + auto-config in wallet
  src/rpc/server.cpp
  src/rpc/server.h
  website/wallet.html
Due: unittests, RPC

feat: Add wallet encryption prompts and web wallet security UI
  src/node/dilithion-node.cpp
  website/wallet.html
Due: unittests

docs: Update website to v2.0.3 release
  website/index.html
Due: none

fix: Add missing showNotification function to web wallet
  website/wallet.html
Due: none

chore: Regenerate wallet_html.h with showNotification fix
  src/api/wallet_html.h
Due: unittests

fix: Wallet encryption RPC params and add show/hide password buttons
  website/wallet.html
Due: none

chore: Regenerate wallet_html.h with password visibility and RPC fixes
  src/api/wallet_html.h
Due: unittests

feat: Add getwalletinfo RPC to check encryption status
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Prompt for wallet password before P2P threads start
  src/node/dilithion-node.cpp
Due: unittests

chore: Update website to v2.0.4
  website/index.html
Due: none

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
