Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix(dna): phase 1.5 follow-ups (cache warm, trailer parser bug, tests, log) (#25)
  src/net/net.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests, Network

fix(dna): phase 1.5 follow-ups #2 - wallet wiring, SignDNAEnvelope, authoritative merge
  src/digital_dna/digital_dna.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

fix(dna): phase 1.5 follow-ups #2 - wallet wiring, SignDNAEnvelope, authoritative merge (#26)
  src/digital_dna/digital_dna.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet

fix(dna): rename SampleEnvelope::DOMAIN to SMP1_DOMAIN (macOS <math.h> clash)
  src/digital_dna/sample_envelope.cpp
  src/digital_dna/sample_envelope.h
Due: unittests

fix(dna): rename SampleEnvelope::DOMAIN to SMP1_DOMAIN (macOS <math.h> clash) (#27)
  src/digital_dna/sample_envelope.cpp
  src/digital_dna/sample_envelope.h
Due: unittests

chore: rename bootstrap output from 'mainnet' to 'dil' for chain-name symmetry
  package-bootstrap.sh
Due: none

chore: rename bootstrap output from 'mainnet' to 'dil' for chain-name symmetry (#28)
  package-bootstrap.sh
Due: none

harden: raise fd limit to 65536 in seed wrappers
  run-dil-seed-relayonly.sh
  run-dilv-seed-relayonly.sh
Due: none

harden: raise fd limit to 65536 in seed wrappers (#29)
  run-dil-seed-relayonly.sh
  run-dilv-seed-relayonly.sh
Due: none

v4.0.19 + v4.0.20 + v4.0.21: incident 2026-04-25 recovery (cooldown hardening + UndoBlock recovery + tolerant MIK sig + sync capacity guard)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/vdf_validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/net/block_fetcher.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/rpc/permissions.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/util/chain_reset.cpp
  src/util/chain_reset.h
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus, Network, RPC, Utilities

v4.0.19 + v4.0.20 + v4.0.21: incident 2026-04-25 recovery (cooldown hardening + UndoBlock recovery + tolerant MIK sig + sync capacity guard) (#31)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/vdf_validation.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/net/block_fetcher.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/utxo_set.cpp
  src/node/utxo_set.h
  src/rpc/permissions.cpp
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/util/chain_reset.cpp
  src/util/chain_reset.h
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus, Network, RPC, Utilities

v4.0.22: fix IBD chain-coherence (BUG #282 follow-up) + active header recovery
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

v4.0.22: improve active header recovery (Cursor review of 46447f2)
  src/node/ibd_coordinator.cpp
Due: unittests

v4.0.22: assume-valid range bypass for 2026-04-25 incident chain
  src/core/chainparams.cpp
  src/node/block_processing.cpp
Due: unittests

v4.0.22: convergence checkpoint at DilV 44469 (post-incident anchor)
  src/core/chainparams.cpp
Due: unittests

v4.0.22: tighten Patches A/C activation + assume-valid to checkpoint boundary
  src/core/chainparams.cpp
Due: unittests

v4.0.22: throttle active header recovery to prevent tight loop
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

v4.0.22 Patch E: retire time-based cooldown expiry above activation
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/dilv-node.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests

v4.0.22 Patch F: gate peer-switch penalty by reason + pool-exhaustion safety valve
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

v4.0.22 Patch G: force GETHEADERS in coherence recovery + reset dedup state
  src/node/ibd_coordinator.cpp
Due: unittests

v4.0.22 Patch H: store competing siblings below checkpoint (chain selection fix)
  src/net/headers_manager.cpp
Due: unittests, Network

v4.0.22 consensus revert: Patches A/C/E -> 50000, drop 44469 checkpoint
  src/core/chainparams.cpp
Due: unittests

v4.0.22 Patch I (part 1): disconnectnode RPC for manual peer eviction
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

Phase 0: Bitcoin Core peer/IBD/chain-selection port — interface contracts + scaffolding
  src/consensus/ichain_selector.h
  src/consensus/port/.gitkeep
  src/net/iaddress_manager.h
  src/net/iconnection_manager.h
  src/net/iheader_proof_checker.h
  src/net/ipeer_scorer.h
  src/net/ipeer_selector.h
  src/net/port/.gitkeep
  src/net/port/addrman_v2.h
  src/node/iblock_sink.h
Due: unittests, Consensus, Network

Phase 1 Day 1 AM: AddrMan port — interface, adapter, SHA-3 helper, full header
  src/net/iaddress_manager.h
  src/net/netaddress_dilithion.h
  src/net/port/addrman_hash.h
  src/net/port/addrman_v2.h
Due: unittests, Network

Phase 1 Day 1 PM: AddrMan port — basic table ops + Add path
  Makefile
  src/net/port/addrman_v2.cpp
  src/net/port/addrman_v2.h
Due: unittests, Network

Phase 1 Day 2 AM (1/3): AddrMan state-update methods
  src/net/port/addrman_v2.cpp
Due: unittests, Network

Phase 1 Day 2 AM (2/3): AddrMan Select bucket walk + GetAddresses
  src/net/port/addrman_v2.cpp
Due: unittests, Network

Phase 1 Day 2 AM (3/3): AddrMan persistence — atomic Save / Load
  src/net/port/addrman_v2.cpp
Due: unittests, Network

Phase 1 Day 2 PM: legacy peers.dat migrator (v1 -> v2 reader + applier)
  Makefile
  src/net/port/addrman_migrator.cpp
  src/net/port/addrman_migrator.h
  src/net/port/addrman_v2.h
Due: unittests, Network

Phase 1 Day 3 AM: addrman_v2_tests.cpp — 17 tests, all green
  Makefile
  src/test/addrman_v2_tests.cpp
Due: none

Phase 1 Day 3 PM: PR1.3 cutover — peers.cpp + peer_discovery.cpp on IAddressManager
  src/net/iaddress_manager.h
  src/net/peer_discovery.cpp
  src/net/peer_discovery.h
  src/net/peers.cpp
  src/net/peers.h
  src/net/port/addrman_v2.h
  src/net/port/legacy_addrman_adapter.h
Due: unittests, Network

Phase 1 Cursor review: 2 BLOCKER fixes + Q4 + Q1 doc + drain regression test
  src/net/peers.cpp
  src/net/port/addrman_v2.cpp
  src/net/port/addrman_v2.h
  src/test/addrman_v2_tests.cpp
Due: unittests, Network

Phase 1 Q13 fix: auto-migrate legacy v1 peers.dat on Load
  src/net/port/addrman_v2.cpp
  src/net/port/addrman_v2.h
  src/test/addrman_v2_tests.cpp
Due: unittests, Network

Phase 2 Day 1 AM (1/2): scorer header + policy + ipeer_scorer doc fix
  src/net/ipeer_scorer.h
  src/net/port/misbehavior_policy.h
  src/net/port/peer_scorer.h
Due: unittests, Network

Phase 2 Day 1 PM (2/2): peer_scorer.cpp scaffold (PR2.1 ready)
  Makefile
  src/net/port/peer_scorer.cpp
Due: unittests, Network

Phase 2 Day 2 AM (3/6): CPeerScorer implementation + 16 unit tests green
  Makefile
  src/net/port/peer_scorer.cpp
  src/test/peer_scorer_tests.cpp
Due: unittests, Network

Phase 2 Day 2 PM (4/6): cutover — CPeerManager forwards to CPeerScorer; field deleted
  src/net/connman.cpp
  src/net/ipeer_scorer.h
  src/net/peers.cpp
  src/net/peers.h
  src/net/port/peer_scorer.h
  src/rpc/server.cpp
  src/test/ibd_functional_tests.cpp
  src/test/misbehavior_scoring_tests.cpp
  src/test/net_tests.cpp
  src/test/phase14_network_fixes_tests.cpp
Due: unittests, Network, RPC

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
