Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Remove Boost library linking for header-only test framework
  Makefile
Due: none

test: Add Boost Unit Test framework files (Week 3 Phase 2)
  src/test/block_tests.cpp
  src/test/crypto_tests.cpp
  src/test/test_dilithion.cpp
  src/test/transaction_tests.cpp
  src/test/util_tests.cpp
Due: none

fix: Update crypto_tests.cpp to use correct Dilithium API
  src/test/crypto_tests.cpp
Due: none

fix: Define CTxIn::SEQUENCE_FINAL static member
  src/primitives/transaction.cpp
Due: unittests, Primitives

fix: Add randomx_hash.o to test_dilithion linkage
  Makefile
Due: none

test: Add difficulty_determinism_test Makefile target
  Makefile
Due: none

docs: Complete Week 4 Track B difficulty determinism validation
  WEEK-4-TRACK-B-RESULTS.md
Due: none

fix: Make Makefile flags environment-friendly for coverage builds
  Makefile
Due: none

fix: Add --ignore-errors mismatch to lcov commands for coverage
  .github/workflows/ci.yml
Due: none

debug: Add diagnostics for coverage data generation
  .github/workflows/ci.yml
Due: none

fix(ci): Remove lcov --zerocounters that was deleting .gcda files
  .github/workflows/ci.yml
Due: none

feat(fuzz): Add initial fuzz testing infrastructure
  src/test/fuzz/fuzz.h
  src/test/fuzz/fuzz_difficulty.cpp
  src/test/fuzz/fuzz_helpers.h
  src/test/fuzz/fuzz_sha3.cpp
  src/test/fuzz/util.h
Due: none

docs: Add comprehensive autonomous work session documentation
  AUTONOMOUS-WORK-SESSION-NOV-4-2025.md
  COVERAGE-ANALYSIS.md
  COVERAGE-DEBUGGING-COMPLETION.md
Due: none

docs: Add concise morning briefing for user
  MORNING-BRIEFING-NOV-4-2025.md
Due: none

test: Add comprehensive transaction serialization tests (P0 CRITICAL)
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/transaction_tests.cpp
Due: unittests, RPC

test: Add comprehensive difficulty/PoW tests and enable branch coverage (P0)
  .github/workflows/ci.yml
  Makefile
  src/test/difficulty_tests.cpp
Due: none

test: Add comprehensive edge case and integration tests for 85%+ coverage
  Makefile
  src/test/block_tests.cpp
  src/test/crypto_tests.cpp
  src/test/validation_integration_tests.cpp
Due: none

fix: Correct RPC method signatures to match actual API
  src/rpc/server.cpp
Due: unittests, RPC

fix: Add operator!= to uint256 class
  src/primitives/block.h
Due: unittests, Primitives

fix: Add operator<< to uint256 for Boost.Test output
  src/primitives/block.h
Due: unittests, Primitives

fix: Move operator<< definition to block.cpp to resolve linker error
  src/primitives/block.cpp
  src/primitives/block.h
Due: unittests, Primitives

fix: Link chainparams.o into test executable
  Makefile
Due: none

fix: Initialize RandomX in test suite for GetHash() tests
  src/test/test_dilithion.cpp
Due: none

fix: Make RandomX init non-fatal with try-catch
  src/test/test_dilithion.cpp
Due: none

fix: Use RandomX light mode for testing to avoid OOM errors
  src/crypto/randomx_hash.cpp
  src/crypto/randomx_hash.h
  src/test/test_dilithion.cpp
Due: unittests, Cryptography

fix: Update dilithion-node.cpp to use new randomx_init_cache signature
  src/node/dilithion-node.cpp
Due: unittests

fix: Add extern C linkage to randomx_init_for_hashing
  src/crypto/randomx_hash.cpp
  src/crypto/randomx_hash.h
  src/node/dilithion-node.cpp
  src/test/test_dilithion.cpp
Due: unittests, Cryptography

fix: Add missing third parameter to randomx_init_for_hashing calls
  src/crypto/randomx_hash.cpp
  src/miner/controller.cpp
Due: unittests, Cryptography

fix: Include randomx_hash.h instead of extern C inside function
  src/node/dilithion-node.cpp
Due: unittests

fix: Include randomx_hash.h instead of local extern declaration
  src/primitives/block.cpp
Due: unittests, Primitives

test: Fix 2 failing unit tests (140/142 → 142/142)
  src/test/difficulty_tests.cpp
  src/test/validation_integration_tests.cpp
Due: none

test: Fix difficulty determinism test expected values for bounds
  STATUS-2025-11-04.md
  WEEK-4-TRACK-B-RESULTS-2025-11-04.md
  difficulty_results_ubuntu_gcc_wsl2.json
  src/test/difficulty_determinism_test.cpp
Due: none

feat: Week 5 cross-platform consensus validation and coverage analysis
  .github/workflows/ci.yml
  COVERAGE-GAP-ANALYSIS.md
  WEEK-5-COMPLETE.md
  WEEK-5-CROSS-PLATFORM-VALIDATION-RESULTS.md
  difficulty_results_ubuntu_gcc13_O0.json
  difficulty_results_ubuntu_gcc13_O2.json
  difficulty_results_ubuntu_gcc13_O3.json
Due: none

test: Expand test suite with 26 comprehensive negative tests (142 → 168 tests)
  WEEK-5-6-COMPLETION-REPORT-2025-11-04.md
  src/test/block_tests.cpp
  src/test/transaction_tests.cpp
Due: none

feat: Week 6 Phase 3 fuzzing infrastructure and security validation
  Makefile
  WEEK-6-DAY-1-RESULTS.md
  WEEK-6-PHASE-1-COMPLETE.md
  WEEK-6-PHASE-2-COMPLETION.md
  WEEK-6-PHASE-2-RESULTS.md
  WEEK-6-PHASE-3-PLAN.md
  WEEK-6-PHASE-3-RESULTS.md
  WEEK-6-PHASE-3-STATUS.md
  WEEK-6-SECURITY-FIXES-VERIFICATION.md
  docs/FUZZING.md
  src/test/fuzz/fuzz_tx_validation.cpp
  src/test/fuzz/fuzz_utxo.cpp
Due: none

fix: Add missing test files to repository (CI build fix)
  src/test/consensus_validation_tests.cpp
  src/test/utxo_tests.cpp
Due: none

fix: Add Week 6 security fixes that test files depend on
  src/consensus/validation.cpp
  src/consensus/validation.h
  src/node/utxo_set.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/test/fuzz/fuzz_sha3.cpp
  src/test/transaction_tests.cpp
  src/test/tx_validation_tests.cpp
Due: unittests, Consensus, Primitives

fix: Make fuzz compiler version flexible (CI compatibility)
  Makefile
Due: none

feat: Add comprehensive difficulty adjustment tests (Week 5 coverage gap closure)
  .claude/roles/lead-engineer.md
  .claude/roles/project-coordinator.md
  src/test/consensus_validation_tests.cpp
Due: none
