Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: BUG #78 - Test suite buffer overflows and validation fixes
  src/test/hd_derivation_tests.cpp
  src/test/wallet_hd_tests.cpp
Due: none

fix: BUG #79 - HD path consistency check use hardened indices
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: BUG #80 - Test passphrases and mnemonics with valid checksums
  src/test/rpc_hd_wallet_tests.cpp
  src/test/wallet_hd_tests.cpp
Due: none

fix: BUG #81 - Fix wallet encryption test expectations
  src/test/wallet_hd_tests.cpp
Due: none

fix: BUG #82 - EncryptWallet now encrypts HD master key
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: BUG #82 - Use IsCrypted() for lock checks instead of fHDMasterKeyEncrypted
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: BUG #77 - Fix g_block_fetcher multiple definition linker error
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
  src/crypto/randomx_hash.cpp
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Cryptography, Wallet, RPC

fix: BUG #84 - Fix wallet/UTXO txid mismatch race condition
  src/node/dilithion-node.cpp
Due: unittests

debug: BUG #85 - Add try-catch and debug output to isolate P2P crash
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #85 - Disable CNodeState creation to fix P2P crash
  src/net/net.cpp
Due: unittests, Network

fix: BUG #85 - Re-enable CNodeState (not the root cause)
  src/net/net.cpp
Due: unittests, Network

fix: BUG #85 - Fix P2P crash with Bitcoin Core-style lock pattern
  src/net/net.cpp
  src/net/node_state.cpp
  src/net/node_state.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: BUG #85 - Revert BUG #77 extern declaration causing static init crash
  src/core/globals.cpp
  src/node/dilithion-node.cpp
Due: unittests

feat: BUG #86 fix + Phase 1-3 Bitcoin Core improvements
  Makefile
  src/consensus/chain.cpp
  src/consensus/tx_validation.cpp
  src/consensus/validation.cpp
  src/core/globals.cpp
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/features.h
  src/net/feeler.cpp
  src/net/feeler.h
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/util/assert.cpp
  src/util/assert.h
  src/util/logging.cpp
  src/util/logging.h
  src/wallet/wallet.cpp
Due: unittests, Consensus, Primitives, Network, Wallet, Utilities

ci: trigger Coverity scan with new secrets
  .github/workflows/ci.yml
Due: none

fix: Update Coverity project name to WillBarton888/dilithion
  .github/workflows/ci.yml
Due: none

fix: Clone dilithium repo if Makefile missing in CI
  .github/workflows/ci.yml
Due: none

fix: Add missing partition_detector.h include in net.h
  src/net/net.h
Due: unittests, Network

fix: Coverity path detection for version-specific directory names
  .github/workflows/ci.yml
Due: none

fix: Add missing build/obj/db directory to Makefile
  Makefile
Due: none

fix: Fix compilation errors in net.cpp and peer_discovery.cpp
  src/net/net.cpp
  src/net/peer_discovery.cpp
Due: unittests, Network

fix: Use try_emplace for non-copyable CBandwidthThrottle with mutex
  src/net/bandwidth_throttle.cpp
Due: unittests, Network

fix: Add missing #include <vector> to connection_quality.h
  src/net/connection_quality.h
Due: unittests, Network

fix: Multiple compilation errors in RPC and config files
  src/rpc/server.cpp
  src/rpc/server.h
  src/util/config.cpp
Due: unittests, RPC, Utilities

fix: Add missing #include <algorithm> to bench.h
  src/util/bench.h
Due: unittests, Utilities

fix: CI YAML heredoc syntax errors in both jobs
  .github/workflows/ci.yml
Due: none

fix: Use tracked Dilithium files with HD wallet mods in all CI jobs
  .github/workflows/ci.yml
Due: none

fix: Add Makefile creation to fuzzing workflow
  .github/workflows/fuzzing-2025-11-08.yml
Due: none

fix: Use correct CBlockValidator class name in fuzz_merkle.cpp
  src/test/fuzz/fuzz_merkle.cpp
Due: none

fix: Update security check for tracked Dilithium files
  .github/workflows/ci.yml
Due: none

fix: Use CTransactionRef in fuzz_merkle.cpp
  src/test/fuzz/fuzz_merkle.cpp
Due: none

fix: Consolidate fuzz_serialize.cpp into single FUZZ_TARGET
  src/test/fuzz/fuzz_serialize.cpp
Due: none

fix: Consolidate fuzz_rpc.cpp and fuzz_mempool.cpp
  src/test/fuzz/fuzz_mempool.cpp
  src/test/fuzz/fuzz_rpc.cpp
Due: none

fix: Add missing link dependencies for fuzz_merkle target
  Makefile
Due: none

fix: Use RANDOMX_BUILD_DIR variable and fix fuzz_mempool dependencies
  Makefile
Due: none

fix: Add util/system.o to FUZZ_COMMON_OBJECTS
  Makefile
Due: none

fix: Add missing dependencies to fuzz_merkle target
  Makefile
Due: none

fix: Update ibd_coordinator_tests to use NodeContext API
  src/test/ibd_coordinator_tests.cpp
Due: none
