Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Layer 2 fork detection deadlock - extract AttemptForkRecovery()
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Handle null chainwork in fork recovery comparison
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Enhanced RPC for block explorer + website v2.0.18 update
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/rpc/server.cpp
  website/index.html
  website/script.js
Due: unittests, Consensus, RPC

feat: Add block explorer + localhost rate limit exemption
  explorer/api/address.php
  explorer/api/blocks.php
  explorer/api/mempool.php
  explorer/api/rpc.php
  explorer/api/search.php
  explorer/api/stats.php
  explorer/api/tx.php
  explorer/explorer.js
  explorer/index.html
  explorer/style.css
  src/rpc/ratelimiter.cpp
  src/rpc/server.cpp
  website/index.html
Due: unittests, RPC

fix: WAL reorg deadlock, seed node banning, and stale header performance
  src/consensus/chain.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Consensus, Network

fix: Suppress false fork detection during bulk IBD catch-up
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
Due: unittests, Network

fix: Add nocache parameter to prevent stale explorer cache loop
  explorer/api/blocks.php
Due: none

fix: Silent auto-refresh for explorer homepage
  explorer/explorer.js
Due: none

fix: Fork recovery, compact block relay routing, and explorer consistency
  src/net/async_broadcaster.cpp
  src/net/headers_manager.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: Add checkpoint at block 5000
  src/core/chainparams.cpp
Due: unittests

fix: Explorer tx lookup and display bugs
  explorer/explorer.js
  src/rpc/server.cpp
Due: unittests, RPC

fix: Difficulty calculation and network hashrate estimation
  explorer/api/stats.php
  src/rpc/server.cpp
Due: unittests, RPC

fix: Explorer auto-refresh was silently crashing
  explorer/explorer.js
Due: none

fix: Clear fork_detected Prometheus metric at all fork resolution paths
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Wire bandwidth metrics to Prometheus from g_network_stats
  src/node/dilithion-node.cpp
Due: unittests

fix: Wallet rescan now discovers HD addresses beyond gap limit
  src/rpc/server.cpp
Due: unittests, RPC

fix: Remove premature default-key-only check in SignTransaction
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Solo mining bypass and stale fork detection
  src/core/globals.cpp
  src/node/block_processing.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: wallet.html shows server wallet balance when browser wallet locked
  src/api/wallet_html.h
Due: unittests

fix: Transaction relay - mempool sync, handler, and periodic rebroadcast
  src/net/net.cpp
  src/net/net.h
  src/net/peers.cpp
  src/node/dilithion-node.cpp
  src/wallet/wallet.cpp
Due: unittests, Network, Wallet

fix: wallet.html auto-detects RPC host/port from page URL
  src/api/wallet_html.h
Due: unittests

fix: Remove IBD gate from template refresh and chain-tip callback
  src/net/net.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

feat: DFMP v3.0 - 6-layer fair mining enforcement
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/dfmp/identity_db.cpp
  src/dfmp/identity_db.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/net/connman.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
Due: unittests, Consensus, Network, RPC

fix: wallet.html connection stability - auto-reconnect, no balance zeroing
  src/api/wallet_html.h
  website/js/connection-manager.js
Due: unittests

fix: Testnet DFMP v3.0 activation height 87500 → 87000
  src/core/chainparams.cpp
Due: unittests

fix: DFMP v3.0 heat curve - free tier 12, 2x cliff + 1.58x/block exponential
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/test/dfmp_mik_tests.cpp
Due: unittests

fix: CheckCoinbase now calculates transaction fees (BUG #260)
  src/node/block_processing.cpp
Due: unittests

docs: Add VDF Fair Mining proposal for community discussion
  VDF_LOTTERY_PROPOSAL.md
Due: none

fix: False fork detection on startup + mapBlocksInFlight memory leak
  src/net/connman.cpp
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: Extend fork detection grace period to 30 seconds in headers_manager
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Replace time-based fork detection grace period with IsSynced() check (BUG #261)
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

feat: Add VDF (chiavdf) and Digital DNA subsystems
  .gitmodules
  Makefile
  src/core/node_context.cpp
  src/core/node_context.h
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/latency_fingerprint.cpp
  src/digital_dna/latency_fingerprint.h
  src/digital_dna/perspective_proof.cpp
  src/digital_dna/perspective_proof.h
  src/digital_dna/timing_signature.cpp
  src/digital_dna/timing_signature.h
  src/net/peers.cpp
  src/vdf/vdf.cpp
  src/vdf/vdf.h
  src/vdf/vdf_test.cpp
Due: unittests, Network

feat: VDF Phase 2+3 - Cooldown tracker and block header extension
  src/net/net.cpp
  src/node/blockchain_storage.cpp
  src/primitives/block.cpp
  src/primitives/block.h
  src/vdf/block_header_test.cpp
  src/vdf/coinbase_vdf.h
  src/vdf/coinbase_vdf_test.cpp
  src/vdf/cooldown_test.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Primitives, Network

feat: VDF Phase 4-6 - Consensus validation, miner, and node integration
  Makefile
  src/consensus/pow.cpp
  src/consensus/validation.cpp
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/node_context.h
  src/miner/vdf_miner.cpp
  src/miner/vdf_miner.h
  src/miner/vdf_miner_test.cpp
  src/node/dilithion-node.cpp
  src/vdf/vdf_consensus_test.cpp
Due: unittests, Consensus

chore: Enable VDF activation on testnet at height 86850
  src/core/chainparams.cpp
Due: unittests

fix: Add missing digital_dna build directory to Makefile
  Makefile
Due: none

feat: Emergency Difficulty Adjustment (EDA) to prevent death spiral
  Makefile
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/test/consensus_validation_tests.cpp
  src/test/eda_test.cpp
  website/wallet.html
Due: unittests, Consensus, RPC

fix: Add chiavdf submodule and GMP to macOS CI workflow
  .github/workflows/build-macos.yml
Due: none

fix: Pass CPPFLAGS to chiavdf compilation for macOS brew GMP paths
  Makefile
Due: none

fix: Add GMP include/lib paths to macOS CI build flags
  .github/workflows/build-macos.yml
Due: none
