Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

v4.3.3 F12+F13: RaiseValidity OOB guard + chainwork comparator at fork-staging
  src/consensus/port/chain_selector_impl.cpp
  src/node/block_index.h
Due: unittests, Consensus

v4.3.3 F11: ChainRebuildReason enum — accurate auto_rebuild banner per cause
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/test/port_chain_selector_invariants_tests.cpp
  src/util/chain_reset.cpp
Due: unittests, Consensus, Utilities

v4.3.3 F14: MarkBlockReceived helper — canonical block-receipt flag-setter
  src/node/block_index.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/port_chain_selector_invariants_tests.cpp
Due: unittests

v4.3.3: Cursor v4.3.3 review S8+S13 doc-policy fixes
  src/consensus/chain.h
  src/node/block_index.h
Due: unittests, Consensus

v4.3.3 F15: F10 anchor fires only on first arrival at a height (Layer-3 round 3 HIGH-1)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/test/port_chain_selector_invariants_tests.cpp
Due: unittests, Consensus

v4.3.3 F16 + F17: ChainRebuildReason granularity + ClearChainRebuildFlag symmetry
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/util/chain_reset.cpp
Due: unittests, Consensus, Utilities

F18-F22: peer disconnect cleanup (scorer, headers, quality, throttle, eviction dispatch)
  Makefile
  src/net/peers.cpp
  src/net/peers.h
  src/net/port/peer_manager.cpp
  src/test/peer_scorer_disconnect_cleanup_tests.cpp
Due: unittests, Network

fix(net): port peer manager IBD stall after early peers + headers path
  src/net/connman.h
  src/net/headers_manager.cpp
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_lifecycle_tests.cpp
Due: unittests, Network

test(net): IBD port mirror integration with GETDATA capture + negative control
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

v4.3.4 cut Block 2: delete 6 dead port::CPeerManager handlers
  Makefile
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_headers_sync_tests.cpp
  src/test/peer_manager_misbehavior_tests.cpp
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

v4.3.4 cut Block 3: legacy-path block-arrival -> chain selector regression gate
  Makefile
  src/test/legacy_block_arrival_chainsel_gate_tests.cpp
Due: none

v4.3.4 cut Block 3: make chain-selector gate pure routing
  src/test/legacy_block_arrival_chainsel_gate_tests.cpp
Due: none

v4.3.4 cut Block 3: use DilV genesis in regtest fixture
  src/test/legacy_block_arrival_chainsel_gate_tests.cpp
Due: none

v4.3.4 cut Block 4: delete port per-peer state cluster
  Makefile
  src/net/connman.h
  src/net/headers_manager.cpp
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_block_download_tests.cpp
  src/test/peer_manager_dual_dispatch_tests.cpp
  src/test/peer_manager_lifecycle_tests.cpp
  src/test/peer_manager_lock_order_invariants_tests.cpp
  src/test/peer_manager_lock_order_static_tests.cpp
  src/test/peer_manager_misbehavior_tests.cpp
  src/test/peer_manager_sync_state_tests.cpp
  src/test/peer_manager_three_node_integration_tests.cpp
  src/test/peer_scorer_disconnect_cleanup_tests.cpp
Due: unittests, Network

v4.3.4 cut Block 5: delete verack-path port hooks (errata E2)
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.3.4 cut Block 6: retire dual-dispatch and port message hooks
  Makefile
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/connman.cpp
  src/net/connman.h
  src/net/port/connman_adapter.cpp
  src/net/port/connman_adapter.h
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/legacy_block_arrival_chainsel_gate_tests.cpp
  src/test/peer_manager_wiring_prep_tests.cpp
  src/test/phase_9_telemetry_rpc_tests.cpp
Due: unittests, Network, RPC

v4.3.4 cut Block 7: delete port::CPeerManager class entirely
  Makefile
  src/net/headers_manager.cpp
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Network

v4.3.4 cut Block 8: retire --usenewpeerman flag
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

v4.3.4 cut Blocks 9+10: Makefile cleanup + doc sweep + F24 SSOT + audit annotations
  Makefile
  docs/runbooks/archive/usenewpeerman-flip-runbook.md
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/connman.h
  src/net/peers.h
  src/net/port/sync_coordinator.h
  src/net/port/sync_coordinator_adapter.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/node/fork_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

v4.3.4 cut: BLOCKER 3 test — match production hard-fail semantic
  src/test/chain_selector_tests.cpp
Due: none

v4.3.4 cut: four_node_local.sh — drop --usenewpeerman handling
  scripts/four_node_local.sh
Due: none
