Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

feat: add web-based miner GUI dashboard with integrated wallet
  START-MINER-GUI.bat
  package-linux-release.sh
  package-macos-release.sh
  package-windows-release-github.sh
  package-windows-release.bat
  src/api/miner_html.h
  src/miner/controller.cpp
  src/miner/controller.h
  src/rpc/server.cpp
  src/rpc/server.h
  start-miner-gui.sh
  website/miner.html
Due: unittests, RPC

fix: resolve IBD stalls for new miners (peers_best=0, capacity deadlock)
  src/net/peers.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: resolve permanent IBD stalls for new miners above checkpoints
  src/core/chainparams.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests

feat: fork detection & IBD stability hardening (Phase A+B)
  src/net/net.cpp
  src/net/net.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: prevent tx relay loops by tracking rejected transaction IDs
  src/net/net.cpp
  src/net/tx_relay.cpp
  src/net/tx_relay.h
Due: unittests, Network

fix: prevent premature sync declaration and duplicate seed connections
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: correct network hashrate calculation in stats API
  src/api/cached_stats.cpp
Due: unittests

fix: resolve "no suitable peers" stall when peers have stale heights
  src/node/ibd_coordinator.cpp
Due: unittests

fix: correct network hashrate calculation and faster block delivery timeout
  src/node/ibd_coordinator.cpp
Due: unittests

fix: resolve orphan block starvation causing permanent sync stalls
  src/node/ibd_coordinator.cpp
Due: unittests

fix: break fork-recovery stale hash loop causing permanent sync stalls
  src/node/block_processing.cpp
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: classify in-flight blocks as capacity stall to enable peer recovery
  src/node/ibd_coordinator.cpp
Due: unittests

fix: use actual block time for hashrate calculation instead of target
  src/api/cached_stats.cpp
  src/api/cached_stats.h
  src/node/dilithion-node.cpp
Due: unittests

fix: severity-based peer cooldown for capacity stalls vs hard timeouts
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: prevent incoming headers from resetting capacity stall recovery
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: check fork timeout in main loop to prevent permanent fork stalls
  src/node/ibd_coordinator.cpp
Due: unittests

fix: prevent orphan block re-request loop causing permanent IBD stalls
  Makefile
  src/net/protocol.cpp
  src/node/block_processing.cpp
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: prevent duplicate MIK registration PoW and IBD stalls for new miners
  src/core/chainparams.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

docs: update all READMEs and scripts for mainnet, fix new user experience
  README-LINUX.txt
  README-MAC.txt
  README-WINDOWS.txt
  SETUP-AND-START.bat
  START-MINING.bat
  setup-and-start.sh
  start-mining.sh
Due: none

fix: orphan-parent priority fetch and stale peer detection for IBD stalls
  src/net/block_tracker.h
  src/net/headers_manager.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: add timeout for WAITING_ON_PARENT_VALIDATION and respect IBD capacity limit
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: bind parent validation wait timer to specific parent identity
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: use authoritative CNode::IsConnected() instead of deprecated CPeer::IsConnected()
  src/node/ibd_coordinator.cpp
Due: unittests

fix: thread-safe MINING REWARD output and reduce IBD log spam
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/wallet/wallet.cpp
Due: unittests, Consensus, Wallet

feat: difficulty adjustment hard fork at height 20,160
  src/consensus/params.h
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/protocol.h
  src/node/dilithion-node.cpp
  src/test/consensus_validation_tests.cpp
  src/test/fuzz/fuzz_difficulty.cpp
Due: unittests, Consensus, Network

fix: compact encoding sign bit bug causing 18x difficulty overshoot
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/core/chainparams.cpp
  src/core/chainparams.h
Due: unittests, Consensus

fix: fork recovery stuck in infinite detection loop (never downloads blocks)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: web wallet QR code, RPC IPv4 binding, transaction loading, and rescan timeout
  src/api/http_server.cpp
  src/api/wallet_html.h
  src/consensus/chain.cpp
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/latency_fingerprint.cpp
  src/net/connman.cpp
  src/net/connman.h
  src/net/dns.cpp
  src/net/netaddress.cpp
  src/net/protocol.cpp
  src/net/protocol.h
  src/net/sock.cpp
  src/net/sock.h
  src/net/socket.cpp
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/websocket.cpp
  src/test/rpc_tests.cpp
  src/util/config_validator.cpp
  website/index.html
  website/wallet.html
Due: unittests, Consensus, Network, RPC, Utilities

feat: IPv6 dual-stack hardening, self-connection fix, and 144-test smoke suite
  Makefile
  src/net/connman.cpp
  src/net/sock.cpp
  src/rpc/server.cpp
  src/test/ipv6_smoke_tests.cpp
Due: unittests, Network, RPC

chore: update website download links and version references to v3.4.2
  website/index.html
  website/script.js
Due: none

fix: use portable INVALID_SOCKET_VALUE constant for Linux build
  src/net/sock.cpp
Due: unittests, Network

fix: wire VDF cooldown tracker into chainstate callbacks for all blocks
  src/consensus/vdf_validation.h
  src/node/dilithion-node.cpp
  src/vdf/cooldown_test.cpp
Due: unittests, Consensus

chore: update website download links and version references to v3.4.3
  website/index.html
  website/script.js
Due: none

feat: full Digital DNA implementation — testnet-ready (all 6 phases)
  Makefile
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/node_context.cpp
  src/core/node_context.h
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_detection_test.cpp
  src/digital_dna/dna_p2p_test.cpp
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/digital_dna/dna_registry_interface.h
  src/digital_dna/dna_serialization_test.cpp
  src/digital_dna/trust_score.cpp
  src/digital_dna/trust_score.h
  src/net/net.cpp
  src/net/net.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Digital DNA thread safety, BW validation, and runtime bug fixes
  src/core/node_context.cpp
  src/core/node_context.h
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/digital_dna/dna_p2p_test.cpp
  src/digital_dna/dna_serialization_test.cpp
  src/digital_dna/perspective_proof.cpp
  src/digital_dna/perspective_proof.h
  src/net/net.cpp
  src/net/net.h
  src/net/peers.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: lower difficulty fork + compact encoding fix to height 18500
  src/core/chainparams.cpp
Due: unittests

fix: isolate DNA collector storage to prevent NodeContext memory stomp
  src/core/node_context.cpp
  src/core/node_context.h
Due: unittests

fix: stop orphan re-request loop that caused DEDUP-based peer bans
  src/node/block_processing.cpp
Due: unittests

checkpoint: add block 18500, update assume-valid height
  src/core/chainparams.cpp
Due: unittests

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
