Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Add missing libgmp-10.dll to Windows release package
  libgmp-10.dll
  libgmpxx-4.dll
  package-windows-release-github.sh
  package-windows-release.bat
Due: none

fix: Refresh mining template periodically on testnet for min-difficulty
  src/node/dilithion-node.cpp
Due: unittests

fix: Encrypt MIK private key when wallet is encrypted (fixes MIK signing failure)
  src/wallet/wallet.cpp
Due: unittests, Wallet

fix: Throttle template refresh to 60s with direct UpdateTemplate
  src/node/dilithion-node.cpp
Due: unittests

diag: Disable periodic template refresh to isolate deadlock cause
  src/node/dilithion-node.cpp
Due: unittests

diag: Add logging to pinpoint block processing hang location
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus

feat: DFMP dynamic scaling + EDA template refresh
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/dfmp/mik.cpp
  src/dfmp/mik.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus

feat: Add holder count RPC + explorer stability fixes
  explorer/api/blocks.php
  explorer/api/rpc.php
  explorer/api/stats.php
  explorer/explorer.js
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Miner now includes payout heat in DFMP target calculation
  src/node/dilithion-node.cpp
Due: unittests

feat: DFMP v3.1 emergency parameter softening (activates at height 7168)
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: Build fixes + silence UTXO deserialization error spam
  Makefile
  src/digital_dna/bandwidth_proof.cpp
  src/digital_dna/bandwidth_proof.h
  src/digital_dna/behavioral_profile.cpp
  src/digital_dna/behavioral_profile.h
  src/digital_dna/clock_drift.cpp
  src/digital_dna/clock_drift.h
  src/digital_dna/memory_fingerprint.cpp
  src/digital_dna/memory_fingerprint.h
  src/node/utxo_set.cpp
  src/node/utxo_set.h
Due: unittests

Add root-level SECURITY.md for GitHub visibility
  SECURITY.md
Due: none

Remove bug bounty section from SECURITY.md
  SECURITY.md
Due: none

fix: Stop re-requesting orphan blocks that are already in DB
  src/digital_dna/ml_detector.cpp
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: sendtoaddress RPC accepts both array and object params
  src/dfmp/dfmp.h
  src/dfmp/mik.h
  src/rpc/server.cpp
  website/wallet.html
Due: unittests, RPC

feat: Size-based tx fees + fee confirmation dialog
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/wallet.cpp
  website/wallet.html
Due: unittests, Wallet, RPC

feat: Lower transaction fees - remove flat base, reduce per-byte rate
  src/consensus/fees.h
Due: unittests, Consensus

fix: Regenerate embedded wallet HTML with RPC send path
  src/api/wallet_html.h
Due: unittests

fix: Mining dashboard - correct ETA formula + persistent blocks found
  src/api/wallet_html.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  website/wallet.html
Due: unittests, RPC

fix: Adopt fork chain when it has more work (feed DB orphans to ForkManager)
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Digital DNA improvements + VDF proposal update
  Makefile
  VDF_LOTTERY_PROPOSAL.md
  libgcc_s_seh-1.dll
  libstdc++-6.dll
  libwinpthread-1.dll
  src/core/node_context.cpp
  src/core/node_context.h
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/latency_fingerprint.cpp
  src/digital_dna/latency_fingerprint.h
  src/digital_dna/perspective_proof.cpp
  src/digital_dna/perspective_proof.h
  src/digital_dna/timing_signature.cpp
  src/digital_dna/timing_signature.h
  src/net/protocol.h
Due: unittests, Network

fix: Add template tx rejection logging + fix RPC mining template refresh
  src/node/dilithion-node.cpp
Due: unittests

feat: Add digital DNA ml_detector and dna_registry_db modules
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/digital_dna/ml_detector.h
Due: unittests

fix: Session block counter reset bug + website mobile/content fixes
  src/miner/controller.h
  website/index.html
  website/script.js
  website/style.css
Due: unittests

fix: Persist sent tx history to wallet (v6 format) + return reorg txs to mempool
  src/consensus/chain.cpp
  src/core/chainparams.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Consensus, Wallet

fix: Wire up mempool_size metric for Prometheus/Grafana
  src/node/dilithion-node.cpp
Due: unittests

fix: Break infinite loop in fork recovery when blocks already in DB
  src/net/block_tracker.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Cache registration PoW nonce to avoid re-mining each block template
  src/node/dilithion-node.cpp
Due: unittests

feat: Wire Digital DNA collector + RPC into live node, fix VDF broadcast
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/digital_dna_rpc.h
  src/node/dilithion-node.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

docs: Update whitepaper to v3.0 and README with VDF + Digital DNA vision
  README.md
  WHITEPAPER.md
Due: none

feat: DFMP v3.2 anti-whale tightening + mining tools
  docs/BITCOINTALK-ANN.bbcode
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/miner/controller.cpp
  src/net/connman.cpp
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/net.cpp
  src/node/dilithion-node.cpp
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
  src/rpc/server.cpp
  website/index.html
  website/mining-calculator.html
  website/wallet.html
Due: unittests, Consensus, Network, RPC

fix: skip repeated reorg attempts to forks with DFMP-invalid blocks
  src/consensus/chain.cpp
Due: unittests, Consensus

docs: update website download links from v3.0.12 to v3.3.0
  website/index.html
  website/script.js
Due: none

feat: solo fork detection + protocol version enforcement (v3.3.0)
  src/net/net.cpp
  src/net/protocol.cpp
  src/net/protocol.h
  src/node/dilithion-node.cpp
Due: unittests, Network

docs: update website download links to v3.3.1
  website/index.html
  website/script.js
Due: none

feat: add testnet checkpoints up to height 86000 for IBD optimization
  src/core/chainparams.cpp
Due: unittests

fix: skip RandomX PoW check for VDF block headers in headers manager
  src/net/headers_manager.cpp
Due: unittests, Network

fix: Skip RandomX PoW check for VDF blocks in all validation paths
  src/net/headerssync.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/fork_manager.cpp
Due: unittests, Network
