Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Validate fork blocks before disconnecting chain (Bug #247)
  Makefile
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/block_processing.cpp
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
  src/node/fork_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: Bug #148 - Don't timeout VERSION_SENT nodes during handshake
  src/net/connman.cpp
Due: unittests, Network

fix: Use disconnect depth for MAX_REORG_DEPTH check, not connect length
  src/node/fork_manager.cpp
  src/node/fork_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Add temporary identity cache for fork pre-validation
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
  src/node/fork_manager.h
Due: unittests

fix: Resolve peer IP correctly when banning + RegisterNode bool return
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: Check RegisterNode return value at all call sites (Bug #148)
  src/net/connman.cpp
Due: unittests, Network

fix: Get addr from CNode in OnPeerHandshakeComplete to prevent null addr
  src/net/peers.cpp
Due: unittests, Network

fix: Update best_known_height when selecting headers sync peer for blocks
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Clear stale in-flight blocks from disconnected peers (Bug #246b)
  src/net/banman.cpp
  src/net/block_tracker.h
  src/node/ibd_coordinator.cpp
  src/rpc/server.cpp
Due: unittests, Network, RPC

fix: Request fork blocks from fork_point+1, not chain_height+1 (Bug #246c)
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: Defer MIK validation to ConnectTip for fork recovery (Bug #247)
  src/consensus/chain.cpp
  src/node/block_processing.cpp
  src/node/fork_manager.cpp
Due: unittests, Consensus

fix: Request fork block 1068 during fork recovery (Bug #247)
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Skip MIK validation for genesis block (height 0)
  src/consensus/chain.cpp
Due: unittests, Consensus

fix: Auto-switch headers sync peer when blocks fail MIK validation (Bug #248)
  src/core/node_context.h
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Don't fall back to headers_sync_peer during fork block selection (Bug #249)
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Identity DB chain-state consistency + fork MIK validation
  src/consensus/chain.cpp
  src/consensus/pow.cpp
  src/dfmp/identity_db.cpp
  src/dfmp/identity_db.h
  src/node/block_processing.cpp
  src/node/fork_manager.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus

fix: Remove MIK misbehavior + clear in-flight on validation failure (Bug #246)
  src/node/block_processing.cpp
Due: unittests

fix: Defer MIK validation for orphan blocks during IBD (Bug #246c)
  src/node/block_processing.cpp
Due: unittests

fix: Don't reset headers on MIK failure for orphan blocks (Bug #246d)
  src/node/block_processing.cpp
Due: unittests

fix: Re-enable MIK pre-registration during IBD (Bug #247)
  src/consensus/pow.cpp
Due: unittests, Consensus

fix: Also set firstSeen during MIK pre-registration (Bug #248)
  src/consensus/pow.cpp
Due: unittests, Consensus

fix: Use headers_sync_peer for fork block downloads (Bug #249b)
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Add --maxconnections flag for limiting peer connections
  src/node/dilithion-node.cpp
Due: unittests

fix: Disable listen socket when maxconnections <= 8 for single-peer sync
  src/node/dilithion-node.cpp
Due: unittests

fix: DFMP callbacks must run for ALL modes including relay-only (Bug #251)
  src/node/dilithion-node.cpp
Due: unittests

fix: Heat tracker startup init + DFMP validation improvements (Bug #250, #252)
  src/consensus/pow.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: Add failed block tracking + peer height updates (Bugs #254, #255)
  src/consensus/chain.cpp
  src/net/block_fetcher.cpp
  src/node/block_index.h
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus, Network

fix: Mark block failed in ProcessNewBlock when parent on active chain (Bug #255)
  src/node/block_processing.cpp
Due: unittests

debug: Add fork block matching debug logging (Bug #256)
  src/node/block_processing.cpp
Due: unittests

fix: Add 1-hour cooldown for timed-out peers in block selection (Bug #256)
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

bump: Protocol version to 70003
  src/net/protocol.h
Due: unittests, Network

feat: Add getmikdistribution and getfullmikdistribution RPCs
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Add nBits validation to prevent arbitrary difficulty attacks
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests

fix: Fork recovery uses chainwork comparison instead of waiting for all blocks
  src/node/block_processing.cpp
  src/node/fork_candidate.h
  src/node/fork_manager.cpp
Due: unittests

bump: Update website to v2.0.17
  website/index.html
  website/script.js
Due: none

fix: Use /releases/latest for release notes links on website
  website/index.html
Due: none

feat: Add mainnet checkpoint at block 2000
  src/core/chainparams.cpp
Due: unittests

fix: Add timeout to IsHeaderSyncInProgress() to prevent orphan block loop
  src/net/headers_manager.cpp
  src/net/headers_manager.h
Due: unittests, Network

fix: Allow multiple inbound connections from same IP (NAT support)
  src/net/connman.cpp
Due: unittests, Network

fix: Wire up OnOrphanBlockReceived() for Layer 2 fork detection
  src/node/block_processing.cpp
Due: unittests
