Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

fix(dna): resolve false positive Sybil cluster from empty perspective data
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/digital_dna_rpc.cpp
  src/digital_dna/perspective_proof.cpp
Due: unittests

fix(dna): fix thermal, bandwidth, and clock drift collection
  src/digital_dna/clock_drift.cpp
  src/digital_dna/timing_signature.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

chore: verbose logging cleanup, REST API features, bridge improvements
  SECURITY.md
  bridge/.env.example
  bridge/relayer/config.py
  bridge/relayer/relayer.py
  bridge/relayer/state_db.py
  bridge/relayer/test_relayer.py
  src/miner/controller.cpp
  src/miner/vdf_miner.cpp
  src/net/headers_manager.cpp
  src/net/net.cpp
  src/node/block_processing.cpp
  src/node/ibd_coordinator.cpp
  src/rpc/rest_api.cpp
  src/rpc/rest_api.h
  src/rpc/server.h
  src/test/rpc_auth_tests.cpp
  src/test/timestamp_tests.cpp
  src/util/logging.cpp
  src/util/logging.h
  src/wallet/mnemonic.cpp
  website/WHITEPAPER.html
Due: unittests, Network, Wallet, RPC, Utilities

chore: complete verbose logging cleanup across all network/sync code
  src/net/connman.cpp
  src/net/net.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix(logging): remove double timestamp, show mining address in banner
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/util/logging.cpp
Due: unittests, Utilities

fix(wallet): chain switching, password persistence, and UX improvements
  check-wallet-balance.cpp
  explorer/explorer.js
  src/api/wallet_html.h
  src/wallet/wallet.cpp
  website/js/local-wallet.js
  website/wallet.html
Due: unittests, Wallet

fix(dilv): raise dfmpAssumeValidHeight to 18700, add checkpoint (BUG #285)
  src/core/chainparams.cpp
Due: unittests

fix(consensus): add DFMP preflight to VDF distribution replacement (BUG #285)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/vdf_validation.cpp
  src/consensus/vdf_validation.h
  src/vdf/cooldown_test.cpp
  src/vdf/cooldown_tracker.cpp
  src/vdf/cooldown_tracker.h
Due: unittests, Consensus

fix(wallet): consolidation sends to wrong address, explorer shows immature as confirmed
  src/api/wallet_html.h
  src/rpc/rest_api.cpp
  src/rpc/server.cpp
Due: unittests, RPC

fix(linux): malloc_trim and arena limit to prevent OOM on long-running nodes
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(deploy): use absolute path in DilV wrapper to prevent wrong-version starts
  run-dilv-seed.sh
Due: none

docs(mining): improve VPN/datacenter error message and mining guides
  MINING_GUIDE_DILV.md
  MINING_GUIDE_LINUX.md
  MINING_GUIDE_MACOS.md
  MINING_GUIDE_WINDOWS.md
  src/rpc/server.cpp
Due: unittests, RPC

ux(mining): clear block lifecycle messages for both chains
  src/api/miner_html.h
  src/miner/dilithion-miner.cpp
  src/miner/vdf_miner.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

ux(logging): move noisy chain messages behind --verbose, wire up --quiet
  MINING_GUIDE_DILV.md
  src/consensus/chain.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests, Consensus

fix(node): ignore SIGPIPE to prevent exit 141 on peer socket close
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(wallet): persist sends immediately + expose wallet context in gettransaction
  src/rpc/server.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Due: unittests, Wallet, RPC

fix(wallet): persist custom RPC port per-chain across chain toggles
  website/wallet.html
Due: none

feat(mining): persist MIK registration PoW across resyncs
  Makefile
  src/core/globals.cpp
  src/dfmp/mik_registration_file.cpp
  src/dfmp/mik_registration_file.h
  src/net/net.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/util/chain_reset.cpp
  src/util/chain_reset.h
Due: unittests, Network, RPC, Utilities

fix(consensus): penalize future-timestamp peers, quiet VDF tip-swap logs, prune stale tips
  src/consensus/chain.cpp
  src/net/banman.h
  src/node/block_processing.cpp
Due: unittests, Consensus, Network

fix(wallet,rpc): size-aware coin selection + mempool-spent UTXO filter + estimator bugs
  src/consensus/fees.cpp
  src/consensus/tx_validation.h
  src/rpc/rest_api.cpp
  src/rpc/server.cpp
  src/wallet/wallet.cpp
Due: unittests, Consensus, Wallet, RPC

fix(wallet-js): floor fee rate at consensus minimum + bump SW cache
  website/js/connection-manager.js
  website/js/transaction-builder.js
  website/sw.js
Due: none

chore: pin line endings via .gitattributes
  .gitattributes
Due: none

feat(explorer): commit NYC's explorer API helpers into main
  explorer/api/financial.php
  explorer/api/metrics_helpers.php
  explorer/api/nodes.php
  explorer/api/stats.php
  explorer/api/warmup_total_tx.php
Due: none

feat(scripts): consolidate-wallet.py — Tier 1 consolidation driver
  scripts/consolidate-wallet.py
Due: none

fix(scripts): use http.client in consolidate-wallet.py
  scripts/consolidate-wallet.py
Due: none

test(mik): add persistence + chain-reset unit tests; reset-chain docs
  MINING_GUIDE_DILV.md
  MINING_GUIDE_LINUX.md
  MINING_GUIDE_MACOS.md
  MINING_GUIDE_WINDOWS.md
  Makefile
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/mik_registration_persistence_tests.cpp
Due: unittests

feat(dna): fix 3-gate DNA propagation — Phase 1 minimal
  .claude/contracts/dna_propagation_p1_minimal.md
  Makefile
  src/digital_dna/digital_dna.cpp
  src/digital_dna/digital_dna.h
  src/digital_dna/dna_registry_db.cpp
  src/digital_dna/dna_registry_db.h
  src/digital_dna/sample_rate_limiter.cpp
  src/digital_dna/sample_rate_limiter.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/dna_propagation_tests.cpp
Due: unittests

chore(gitignore): ignore dev cruft + fix UTF-16 corruption
  .gitignore
Due: none

chore: untrack 24 obsolete scratch .txt files (Phase 2b)
  # Dilithion Testnet Deployment Guid.txt
  .gitignore
  DISCORD-MESSAGE-FINAL.txt
  DISCORD-MESSAGE-READY-TO-SEND.txt
  Dilithion External Miner.txt
  Mining Output.txt
  QUICK-START-TOMORROW.txt
  TEST-ANALYSIS-SUMMARY.txt
  Wallet output.txt
  build-output.txt
  calc_sizes.txt
  commit_message.txt
  error.txt
  external miner log.txt
  gdb.txt
  genesis-error.txt
  genesis-output.txt
  genesis-v1.0.13-output.txt
  genesis-v1.0.14-mining.txt
  genesis_output_light.txt
  logo-base64.txt
  my_address.txt
  output.txt
  seed node ip.txt
  test.txt
Due: none

chore: untrack 20 obsolete scratch .bat files (Phase 2c)
  .gitignore
  DEBUG-EXE-ACCESS.bat
  DIAGNOSE-PACKAGE.bat
  FIX-WINDOWS-DEFENDER.bat
  SETUP-AND-START-FIXED.bat
  SETUP-AND-START-NO-COLOR.bat
  SETUP-AND-START-SIMPLE.bat
  START-MINING-FIXED.bat
  START-MINING-SIMPLE.bat
  TEST-DEBUG.bat
  TEST-IBD-FIX.bat
  TEST-IBD-MINING.bat
  TEST-IBD-SECOND-NODE.bat
  TEST-IBD-SYNC.bat
  TEST-PERSISTENCE.bat
  ULTRA-DEBUG.bat
  build_tests.bat
  mine-genesis-v1.0.14.bat
  run-test-simple.bat
  test-bug28.bat
  test-security-fixes.bat
Due: none

chore: add CODEOWNERS, dependabot, editorconfig
  .editorconfig
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

docs(security): soften P0 response SLA from 1h to 4 business hours
  SECURITY.md
Due: none

chore: untrack docs/ session artifacts + dated scripts
  .gitignore
  docker-compose-2025-11-07.yml
  docs/AUDIT-SESSION-SUMMARY-2025-10-28.md
  docs/BUG-147-IBD-OPTIMIZATION-PLAN.md
  docs/BUG-88-WINDOWS-STARTUP-CRASH-FIX.md
  docs/COMPLETE-NODE-SETUP-GUIDE-2025-11-08.md
  docs/COMPREHENSIVE-AUDIT-REPORT-2025-10-28.md
  docs/DAILY-HEALTH-CHECK-GUIDE-2025-11-10.md
  docs/DIGITAL-DNA-IMPROVEMENTS-PLAN.md
  docs/DIGITAL-DNA-PITCH.md
  docs/DIGITAL-DNA-SCORING-REVIEW.md
  docs/DIGITAL-OCEAN-SETUP-GUIDE-2025-11-07.md
  docs/FUZZER-BUILD-GUIDE-2025-11-08.md
  docs/FUZZING-11-11-COMPLETION-REPORT-2025-11-08.md
  docs/HD-WALLET-TEST-PLAN.md
  docs/IBD-REDESIGN-HANDOFF.md
  docs/LAUNCH-CHECKLIST.md
  docs/MAINNET-LAUNCH-CHECKLIST.md
  docs/MAINNET-MINING-GUIDE-2025-11-07.md
  docs/MAINNET-NODE-SETUP-2025-11-07.md
  docs/MAINNET-READINESS-STATUS.md
  docs/MAINNET-TASKS-BREAKDOWN.md
  docs/MAINNET-WALLET-GUIDE-2025-11-07.md
  docs/NEXT-SESSION-START.md
  docs/PHASE-1-GLIBC-COMPLETION-REPORT-2025-11-08.md
  docs/PHASE-4-DEPLOYMENT-COMPLETION-REPORT-2025-11-09.md
  docs/PHASE-5-CONTINUOUS-FUZZING.md
  docs/PHASE-5-CORPUS-BACKUP-2025-11-10.md
  docs/PHASE-5-COVERAGE-AND-CICD-2025-11-10.md
  docs/PHASE-5-CRASH-DEDUPLICATION-2025-11-10.md
  docs/PHASE-5-RESOURCE-MONITOR-FIX-2025-11-10.md
  docs/PHASE-5-ROADMAP.md
  docs/PRODUCTION-READINESS-2025-10-28.md
  docs/SECURITY-CHECKLIST-2025-11-07.md
  docs/THREAT-MODEL.md
  docs/TROUBLESHOOTING-2025-11-07.md
  docs/WINDOWS-PACKAGING-PERMANENT-SOLUTION.md
  scripts/install-mainnet-2025-11-07.sh
Due: none

docs: live README badges + refresh THREAT-MODEL for mainnet-live
  README.md
  docs/THREAT-MODEL.md
Due: none

docs: refresh disclaimers + add AUTHORS file
  AUTHORS
  README.md
Due: none

docs: rewrite docs/README.md as accurate index
  docs/README.md
Due: none

docs: add authoritative BUILDING.md
  docs/BUILDING.md
Due: none

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
