Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

Phase 6 PR6.5b.3: headers-sync delegation + GetHeadersSyncPeer body [queue: PR6.5b.3]
  Makefile
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_headers_sync_tests.cpp
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

Phase 6 PR6.5b.4: block-download accounting + block_fetcher fold-in [queue: PR6.5b.4]
  Makefile
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_block_download_tests.cpp
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

feat(index): wire CTxIndex into node startup [queue: TXINDEX-PR3]
  src/index/tx_index.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/tx_index_tests.cpp
Due: unittests

Phase 6 PR6.5b.5: stall + Tick + IsIBD/IsSynced bodies [queue: PR6.5b.5]
  Makefile
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_sync_state_tests.cpp
Due: unittests, Network

fix(index): close leveldb handle on N2 abort + log mkdir error [queue: TXINDEX-PR3-FIXUP]
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

fix(index): log WriteBlock/EraseBlock failures from wiring lambdas [queue: TXINDEX-PR3-FIXUP2]
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

Phase 6 PR6.5b.fixups-mechanical: cleanup 5 filed MEDIUM findings [queue: PR6.5b.fixups-mechanical]
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
Due: unittests, Network

feat(index): background reindex thread + C7 startup integrity check [queue: TXINDEX-PR4]
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/test/tx_index_tests.cpp
Due: unittests

Phase 6 PR6.5b.fixups-semantic: nTimeConnected field-split [queue: PR6.5b.fixups-semantic]
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

fix(index): close SEC-MD-1/2/3 single-threaded-caller invariant gaps [queue: TXINDEX-PR4-FIXUP]
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/test/tx_index_tests.cpp
Due: unittests

Phase 6 PR6.5b.test-hardening: clock+height test seams
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_sync_state_tests.cpp
Due: unittests, Network

fix(index): clear m_synced on re-spawn (SEC-MD-2 validation pass) [queue: TXINDEX-PR4-FIXUP2]
  src/index/tx_index.cpp
Due: unittests

feat(rpc): wire txindex fast-path into getrawtransaction/gettransaction [queue: TXINDEX-PR5]
  src/rpc/server.cpp
Due: unittests, RPC

fix(rpc): bound fast-path confirmations to >=0 [queue: TXINDEX-PR5-FIXUP]
  src/rpc/server.cpp
Due: unittests, RPC

Phase 6 PR6.5b.6: misbehavior + γ topology [queue: PR6.5b.6]
  Makefile
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_misbehavior_tests.cpp
  src/test/peer_manager_sync_state_tests.cpp
Due: unittests, Network

test(txindex): integration tests for fast-path RPC layer [queue: TXINDEX-PR6]
  Makefile
  src/test/tx_index_integration_tests.cpp
Due: none

test(txindex): harden 4 fragile cases + add architecture doc [queue: TXINDEX-PR7A]
  docs/TX-INDEX.md
  src/test/tx_index_integration_tests.cpp
  src/test/tx_index_tests.cpp
Due: none

Phase 6 PR6.5b.7-close-prep: doc + tests + governance [queue: PR6.5b.7]
  Makefile
  src/net/port/peer_manager.cpp
  src/test/peer_manager_lock_order_static_tests.cpp
  src/test/peer_manager_misbehavior_tests.cpp
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

fix(rpc): ASCII-only WARN log literal in txindex fall-through [queue: TXINDEX-PR7B]
  src/rpc/server.cpp
Due: unittests, RPC

docs(txindex): add operator runbook for -txindex deployment [queue: TXINDEX-PR7C]
  docs/TX-INDEX-RUNBOOK.md
Due: none

fix(index): ASCII-only WARN/info logs in tx_index.cpp [queue: TXINDEX-PR7D]
  docs/TX-INDEX-RUNBOOK.md
  src/index/tx_index.cpp
Due: unittests

Phase 6 sub-stream (b): add Makefile TSAN=1 build mode
  Makefile
Due: none

Phase 6 sub-stream (b): 6 multithreaded lock-order invariants tests
  Makefile
  src/test/peer_manager_lock_order_invariants_tests.cpp
Due: none

Phase 6 sub-stream (b): fix uint256.h include path
  src/test/peer_manager_lock_order_invariants_tests.cpp
Due: none

Phase 6 sub-stream (b): fix uint256 init in test helper
  src/test/peer_manager_lock_order_invariants_tests.cpp
Due: none

ci(coverage): -fprofile-update=atomic for concurrent-test instrumentation [queue: TXINDEX-PR7E]
  .github/workflows/ci.yml
Due: none

fix(node,docs): finish ASCII-only logs + correct TX-INDEX.md drift [queue: TXINDEX-PR7F]
  docs/TX-INDEX.md
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
Due: unittests

Phase 6 sub-stream (c): add IConnectionManager.PushMessage
  src/net/iconnection_manager.h
  src/net/port/connman_adapter.cpp
  src/net/port/connman_adapter.h
  src/net/port/peer_manager.cpp
  src/test/peer_manager_lock_order_invariants_tests.cpp
  src/test/peer_manager_misbehavior_tests.cpp
Due: unittests, Network

Phase 6 sub-stream (c): 5 three-node in-process integration tests
  Makefile
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

Phase 6 sub-stream (c): fix CMessageHeader.command access
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

Phase 6 sub-stream (c): fix Test 4 churn peer-id collision
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

Phase 6 sub-stream (c) red-team fixes: legacy_scorer + cmd truncation + dead includes
  src/test/peer_manager_lock_order_invariants_tests.cpp
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

Phase 6 sub-stream (c): align file header docblock with body
  src/test/peer_manager_three_node_integration_tests.cpp
Due: none

txindex Port -- Phase 1 (14 commits, fast-forward) (#32)
  .github/workflows/ci.yml
  Makefile
  docs/TX-INDEX-RUNBOOK.md
  docs/TX-INDEX.md
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/tx_index_integration_tests.cpp
  src/test/tx_index_tests.cpp
Due: unittests, RPC

build: gitignore autonomous mode transient files
  .gitignore
Due: none

docs(handoff): record morning-session results 2026-04-27
  HANDOFF_OVERNIGHT.md
Due: none

docs(mining): standardize version refs and MIK registration timing
  docs/mining/MINING_GUIDE_LINUX.md
  docs/mining/MINING_GUIDE_MACOS.md
  docs/mining/MINING_GUIDE_WINDOWS.md
Due: none

explorer: peer-extraction helper, cache TTL tuning, v0 endpoints
  docs/EXPLORER-API-REFERENCE.md
  docs/EXPLORER-API-UPDATE-2026-04-26.md
  docs/EXPLORER-STATS-INVENTORY.md
  explorer/api/_v0_shapes.php
  explorer/api/blocks.php
  explorer/api/charts.php
  explorer/api/financial.php
  explorer/api/holders.php
  explorer/api/metrics_helpers.php
  explorer/api/miners.php
  explorer/api/rpc.php
  explorer/api/stats.php
  explorer/api/stream.php
  explorer/api/supply.php
  explorer/api/transactions.php
  explorer/api/tx.php
Due: none

docs(strategy): scaling analysis + Soqucoin competitor snapshot
  docs/COMPETITOR-SOQUCOIN-2026-04-30.md
  docs/SCALING-ANALYSIS-2026-04-30.md
Due: none

docs(handoff): Cockatoo onboarding docs (setup + tools + wallet brief)
  docs/CLAUDE-SETUP-FOR-COCKATOO.md
  docs/CLAUDE-TOOLS-FOR-COCKATOO.md
  docs/WALLET-HANDOFF-FOR-COCKATOO.md
Due: none
