Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

feat: Week 7 fuzzing infrastructure - 9/11 fuzzers operational (Phase 1-2 complete)
  WEEK-7-FUZZING-ENHANCEMENTS-PLAN.md
  WEEK-7-FUZZING-STATUS-2025-11-06.md
  src/test/fuzz/fuzz_block.cpp
  src/test/fuzz/fuzz_compactsize.cpp
  src/test/fuzz/fuzz_difficulty.cpp
  src/test/fuzz/fuzz_merkle.cpp
  src/test/fuzz/fuzz_subsidy.cpp
  src/test/fuzz/fuzz_transaction.cpp
Due: none

docs: Add Week 5 coverage results and git push troubleshooting
  GIT-PUSH-TROUBLESHOOTING.md
  STATUS-2025-11-05-WEEK-5-RESULTS.md
  WEEK-5-COVERAGE-GAP-CLOSURE-PLAN.md
  WEEK-5-COVERAGE-GAP-STATUS-2025-11-06.md
  WEEK-5-IMPLEMENTATION-PLAN.md
  git-push-safe.sh
  run_smoke_tests.sh
Due: none

feat: Add GitHub Actions fuzzing extended campaigns (Phase 3)
  .github/workflows/fuzz-extended-campaigns.yml
  FUZZING-CAMPAIGNS-GUIDE.md
Due: none

fix: Remove invalid Dilithium build steps from fuzzing workflow
  .github/workflows/fuzz-extended-campaigns.yml
Due: none

fix: Add missing libleveldb-dev dependency to fuzzing workflow
  .github/workflows/fuzz-extended-campaigns.yml
Due: none

fix: Build Dilithium objects before fuzzer compilation in CI
  .github/workflows/fuzz-extended-campaigns.yml
Due: none

fix: Professional fuzzer build system refactor - object file architecture
  .github/workflows/fuzz-extended-campaigns.yml
  Makefile
Due: none

docs: Add comprehensive fuzzing infrastructure documentation
  Makefile
  STATUS-WEEK7-FUZZING-SUCCESS.md
  docs/FUZZING-BUILD-SYSTEM.md
Due: none

fix: Prevent Tier 3 fuzzer timeout cancellations with tier-specific durations
  .github/workflows/fuzz-extended-campaigns.yml
Due: none

docs: Update status report with Tier 3 timeout fix explanation
  STATUS-WEEK7-FUZZING-SUCCESS.md
Due: none

Add testnet seed nodes (NYC, London, Singapore)
  src/net/peers.cpp
Due: unittests, Network

Fix: Add proper IPv4 address parsing for --addnode/--connect
  src/node/dilithion-node.cpp
Due: unittests

feat: Auto-connect to seed nodes on startup
  src/node/dilithion-node.cpp
Due: unittests

chore: Add monitoring infrastructure files
  docker-compose-2025-11-07.yml
  monitoring/grafana-dashboard-2025-11-07.json
  monitoring/prometheus-2025-11-07.yml
Due: none

Add testnet monitoring configuration for 3-node setup
  monitoring/docker-compose-monitoring.yml
  monitoring/prometheus-testnet.yml
Due: none

Add security scan script for testnet validation
  scripts/security-scan-2025-11-07.sh
Due: none

Add testnet security scan results - all nodes pass
  TESTNET-SECURITY-SCAN-2025-11-08.md
Due: none

Add functional test results - block propagation not implemented
  TESTNET-FUNCTIONAL-TEST-2025-11-08.md
Due: none

debug: Add comprehensive exception handling to block broadcast
  src/node/dilithion-node.cpp
Due: unittests

fix: Add 5-second send timeout to prevent block broadcast hangs
  BLOCK-PROPAGATION-ROOT-CAUSE-2025-11-08.md
  src/net/net.cpp
Due: unittests, Network

fix: Set non-blocking mode for inbound connections to prevent send() blocking
  src/net/net.cpp
Due: unittests, Network

fix: Create database directory before LevelDB open
  src/node/blockchain_storage.cpp
Due: unittests

docs: Update mainnet readiness checklist with successful test results
  MAINNET-READINESS-CHECKLIST-2025-11-08.md
Due: none

feat: Implement async message broadcasting system
  Makefile
  src/net/async_broadcaster.cpp
  src/net/async_broadcaster.h
  src/node/dilithion-node.cpp
Due: unittests, Network

fix: Correct include for CNetMessage in async_broadcaster.h
  src/net/async_broadcaster.h
Due: unittests, Network

fix: Correct uint256.h include path in async_broadcaster.h
  src/net/async_broadcaster.h
Due: unittests, Network

fix: Use net.h for CConnectionManager in async_broadcaster.cpp
  src/net/async_broadcaster.cpp
Due: unittests, Network

fix: Rewrite async_broadcaster to use proper API - GetTimeMillis, CreateInvMessage, header.GetCommand()
  src/net/async_broadcaster.cpp
Due: unittests, Network

feat: Add HTTP API server for live dashboard stats
  Makefile
  src/api/http_server.cpp
  src/api/http_server.h
  src/node/dilithion-node.cpp
Due: unittests

fix: Correct HTTP API stats handler to use g_chainstate instead of blockchain
  src/node/dilithion-node.cpp
Due: unittests

fix: Prevent genesis block parent lookup in chain loading
  src/node/dilithion-node.cpp
Due: unittests

feat: Complete Phase 1 - GLIBC Compatibility for Production Fuzzing
  Dockerfile.fuzzer
  docs/FUZZER-BUILD-GUIDE-2025-11-08.md
  docs/PHASE-1-GLIBC-COMPLETION-REPORT-2025-11-08.md
  scripts/build-fuzzers-docker-2025-11-08.sh
  scripts/build-fuzzers-remote-2025-11-08.sh
  scripts/deploy-and-build-fuzzers-2025-11-08.sh
  scripts/deploy-fuzzers-2025-11-08.sh
Due: none

docs: Add testnet validation results and fuzzing completion report
  TESTNET-VALIDATION-RESULTS-2025-11-08.md
  docs/FUZZING-11-11-COMPLETION-REPORT-2025-11-08.md
  src/util/base58.cpp
  src/util/base58.h
Due: unittests, Utilities

docs: Add comprehensive session summary for Phase 1 completion
  SESSION-SUMMARY-2025-11-08.md
Due: none

refactor: Extract Base58 utility and fix fuzzer implementations
  Makefile
  src/test/fuzz/fuzz_address.cpp
  src/test/fuzz/fuzz_network_message.cpp
  src/wallet/wallet.cpp
Due: unittests, Wallet

feat: Add testnet monitoring scripts and fix fuzz.h include
  quick_snapshot.py
  src/test/fuzz/fuzz.h
  testnet_live_monitoring.sh
Due: none

chore: Add fuzzer binaries to .gitignore
  .gitignore
Due: none
