Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Use platform-specific RandomX build directory in Makefile
  Makefile
Due: none

fix: Check disk space after directory creation to avoid invalid values
  src/node/blockchain_storage.cpp
Due: unittests

fix: Restore correct testnet genesis hash for Chain ID implementation
  src/core/chainparams.cpp
Due: unittests

fix: Add RandomX LIGHT mode support for 2GB RAM nodes
  src/node/dilithion-node.cpp
  src/test/genesis_test.cpp
  src/test/randomx_mode_test.cpp
Due: unittests

fix: Use correct RandomX key to match genesis block
  src/node/dilithion-node.cpp
Due: unittests

fix: Add addr_recv and addr_from fields to P2P version message
  docs/research/version-message-fix-2025-11-11.md
  src/net/net.cpp
Due: unittests, Network

docs: Add comprehensive documentation for P2P version message fix
  docs/bugs/p2p-version-message-bug-2025-11-11.md
  docs/sessions/p2p-version-message-fix-session-2025-11-11.md
Due: none

fix: Register blockchain, chainstate, and mempool with RPC server
  docs/bugs/rpc-integration-bug-2025-11-11.md
  src/node/dilithion-node.cpp
Due: unittests

fix: Initialize UTXO set component during node startup
  src/node/dilithion-node.cpp
Due: unittests

fix: Use RandomX LIGHT mode for testnet mining on 2GB RAM nodes
  src/miner/controller.cpp
Due: unittests

fix: Serialize genesis coinbase transaction properly (Bug #4)
  src/node/genesis.cpp
Due: unittests

docs: Document Bug #4 - Genesis coinbase transaction serialization
  docs/bugs/genesis-transaction-serialization-bug-2025-11-12.md
  docs/sessions/overnight-progress-2025-11-12.md
Due: none

fix: Use RandomX FULL mode for genesis mining (100x faster)
  src/test/genesis_test.cpp
Due: none

fix: Use RandomX FULL mode for genesis mining on upgraded 4GB NYC node
  src/test/genesis_test.cpp
Due: none

fix: Update testnet genesis with Bug #4 fix (proper transaction serialization)
  src/core/chainparams.cpp
Due: unittests

fix: Initialize best block pointer when genesis exists but best block unset (Bug #5)
  src/node/dilithion-node.cpp
Due: unittests

perf: Enable RandomX FULL mode for NYC node (4GB RAM upgrade)
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: Use correct wallet address for coinbase crediting (Bug #6)
  src/node/dilithion-node.cpp
Due: unittests

fix: Add transaction count prefix to genesis block vtx (Bug #7)
  src/node/genesis.cpp
Due: unittests

fix: Use GetNextWorkRequired() for mining difficulty instead of hardcoded value (Bug #8)
  src/rpc/server.cpp
Due: unittests, RPC

fix: Use correct pointer after move for chain tip comparison (Bug #9)
  src/node/dilithion-node.cpp
Due: unittests

fix: Set mining_enabled flag in RPC startmining/stopmining to enable auto-restart (Bug #10)
  src/rpc/server.cpp
Due: unittests, RPC

debug: Add vtx hex dump logging to diagnose Bug #11 (100 extra bytes)
  src/node/utxo_set.cpp
Due: unittests

fix: Add transaction count prefix in BuildMiningTemplate (Bug #11)
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: Add missing iostream include for debug logging in controller.cpp
  src/miner/controller.cpp
Due: unittests

docs: Add comprehensive Bug #11 documentation (block serialization fix)
  docs/bugs/block-serialization-bug-2025-11-13.md
Due: none

docs: Add comprehensive E2E testing report (post-Bug #11 fix)
  docs/sessions/e2e-testing-session-2025-11-13.md
Due: none

fix: Switch RandomX to LIGHT mode for 2GB RAM compatibility
  src/miner/controller.cpp
Due: unittests

fix: Switch node startup RandomX to LIGHT mode for 2GB RAM compatibility
  src/node/dilithion-node.cpp
Due: unittests

feat: Auto-detect RAM for RandomX mode selection
  src/miner/controller.cpp
  src/node/dilithion-node.cpp
Due: unittests

fix: Add missing fstream include for RAM detection
  src/node/dilithion-node.cpp
Due: unittests

docs: Add comprehensive IBD and orphan block handling implementation plan (Bug #12)
  docs/bugs/ibd-orphan-block-fix-implementation-plan.md
  docs/research/p2p-bootstrap-research.md
  docs/sessions/ibd-implementation-session-2025-11-13.md
Due: none

feat: Implement Phase 1 - Headers-First Synchronization (Bug #12)
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/net.cpp
  src/net/net.h
  src/net/protocol.h
Due: unittests, Network

feat: Implement Phase 2 - Orphan Block Manager (Bug #12)
  Makefile
  src/net/orphan_manager.cpp
  src/net/orphan_manager.h
Due: unittests, Network

feat: Implement Phase 3 - Block Fetcher for Parallel Downloads (Bug #12)
  Makefile
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

feat: Implement Bitcoin Core-style IBD with orphan block handling (Bug #12)
  src/node/dilithion-node.cpp
Due: unittests

fix: Correct lambda captures and parameter order in orphan handling
  src/node/dilithion-node.cpp
Due: unittests

fix: Address CRITICAL security issues in IBD implementation
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/dilithion-node.cpp
Due: unittests, Consensus

fix: Add block_fetcher.cpp to Makefile build sources
  Makefile
Due: none
