Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

Phase 2 Day 2 PM (5/6): peer_scorer + banman integration tests (PR2.2 ready)
  Makefile
  src/test/peer_scorer_banman_integration_tests.cpp
Due: none

Phase 2 Cursor review: 4 CONCERNs fixed + Q16 wire-up; 5/5 disposed
  src/net/peers.cpp
  src/net/peers.h
  src/net/port/misbehavior_policy.h
  src/net/port/peer_scorer.cpp
  src/test/peer_scorer_banman_integration_tests.cpp
  src/test/peer_scorer_tests.cpp
Due: unittests, Network

Phase 3 Day 1 AM: chain-work helper + chainparams nMinimumChainWork
  src/consensus/chain_work.h
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/headerssync.cpp
  src/node/block_index.cpp
Due: unittests, Consensus, Network

Phase 3 Day 1 PM: header proof checkers + MaybePunishNodeFor* (PR3.1 ready)
  Makefile
  src/net/port/header_proof_checkers.h
  src/net/port/maybe_punish_node.h
  src/test/header_proof_checker_tests.cpp
Due: unittests, Network

PHASE-2.5-ADDRMAN-BIAS closed: n_attempts increments verified
  src/net/peers.h
  src/net/port/addrman_v2.cpp
  src/net/port/addrman_v2.h
  src/test/peer_scorer_banman_integration_tests.cpp
Due: unittests, Network

Phase 3 Day 2: HeadersSync wired through IHeaderProofChecker
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/headerssync.cpp
  src/net/headerssync.h
Due: unittests, Network

Phase 3 Day 3 (PR3.3): MaybePunishNodeForHeaders on production path
  src/net/net.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

Phase 3 PR3.4: Patch H deletion deferred to Phase 5
  src/net/headers_manager.cpp
Due: unittests, Network

Phase 4 Day 1: outbound connection classes (FullRelay + BlockRelay per chain)
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/connman.cpp
  src/net/connman.h
  src/net/node.h
Due: unittests, Network

Phase 3 Cursor review: BLOCKER fixed (chain-work 3rd copy) + Q5 doc drift
  src/net/headers_manager.cpp
  src/net/port/maybe_punish_node.h
Due: unittests, Network

Phase 5 Day 1 PM (PR5.1): chain_selector scaffold
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/port/chain_selector_impl.cpp
  src/consensus/port/chain_selector_impl.h
  src/core/node_context.cpp
  src/core/node_context.h
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 Day 2 AM (PR5.2.A): GetChainTips equivalence
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/port/chain_selector_impl.cpp
  src/test/getchaintips_equivalence_tests.cpp
Due: unittests, Consensus

Phase 5 Day 2 PM: ProcessNewHeader populates mapBlockIndex pre-validation
  src/consensus/port/chain_selector_impl.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 Day 3 AM (PR5.3): chain-selection algorithm core
  src/consensus/chain.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 Day 3 PM #1 (PR5.3): ActivateBestChainStep + Invalidate/Reconsider
  src/consensus/chain.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 Day 3 PM #2 (PR5.3): env-var gate + adapter wiring (no more assert(false))
  src/consensus/chain.cpp
  src/consensus/port/chain_selector_impl.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 PR5.3: red-team audit BLOCKER fixes (3 BLOCKERs + 2 CONCERNs)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/port/chain_selector_impl.cpp
  src/test/chain_selector_tests.cpp
Due: unittests, Consensus

Phase 5 Day 4 V1 (PR5.3): Patch B scenario tests via test-only hooks
  Makefile
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/test/chain_case_2_5_equivalence_tests.cpp
Due: unittests, Consensus

Phase 5 Day 4 V1 (PR5.3): three remaining V1 test suites
  Makefile
  src/test/chain_work_smoke_tests.cpp
  src/test/competing_sibling_below_checkpoint_tests.cpp
  src/test/reorg_wal_crash_injection_tests.cpp
Due: none

Phase 5 Day 5: regtest mode scaffold for V2 byte-equivalence testing
  Makefile
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/node/dilithion-node.cpp
  src/test/regtest_chainparams_smoke.cpp
Due: unittests

Phase 5 Day 5: leveldb_state_hash tool for V2 byte-equivalence
  Makefile
  src/tools/leveldb_state_hash.cpp
Due: unittests

Phase 5 Day 5 V2: byte-equivalence integration test PASSING
  src/core/chainparams.cpp
  src/node/dilv-node.cpp
  tools/run_phase5_v2_byte_equivalence.sh
Due: unittests

Phase 5 PR5.4: Patch B deletion + env-var default flip
  src/consensus/chain.cpp
Due: unittests, Consensus

Phase 5 PR5.6: Patch H deletion
  src/net/headers_manager.cpp
Due: unittests, Network

Phase 5 PR5.5: HeadersManager-side ForkManager retirement (5 sites)
  src/net/headers_manager.cpp
Due: unittests, Network

Phase 5 PR5.2.B: CChainTipsTracker retirement
  Makefile
  src/net/chain_tips_tracker.cpp
  src/net/chain_tips_tracker.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

Phase 5 red-team audit fixes: BLOCKER #1, #2 + Patch H restore
  src/consensus/chain.cpp
  src/net/headers_manager.cpp
Due: unittests, Consensus, Network

Phase 5 BLOCKER #3 fix: V2 script with real-evidence guards
  tools/run_phase5_v2_byte_equivalence.sh
Due: none

Phase 5 CONCERN #2 fix: setChainTips eviction-by-lowest-work cap
  src/net/headers_manager.cpp
Due: unittests, Network

Phase 5 red-team validation follow-ups: startup log + tiebreaker hardening
  src/consensus/chain.cpp
  src/net/headers_manager.cpp
Due: unittests, Consensus, Network

Phase 5 V2 documentation: regtest peering is pre-existing, not Phase 5
  tools/run_phase5_v2_byte_equivalence.sh
Due: none

Phase 6 PR6.1 + PR6.5a + PR6.2 + PR6.3 + PR6.5b skeleton (overnight + dual-validation fix-ups)
  HANDOFF_OVERNIGHT.md
  Makefile
  src/consensus/chain.h
  src/consensus/port/chain_selector_impl.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/net/peers.cpp
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/net/port/regtest_only.h
  src/net/port/sync_coordinator.h
  src/net/port/sync_coordinator_adapter.cpp
  src/net/port/sync_coordinator_adapter.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/rpc/server.cpp
  src/test/headers_manager_to_chain_selector_wiring_tests.cpp
Due: unittests, Consensus, Network, RPC

Phase 6 PR6.4: structural-coverage gates for Patch H deletion (5 tests + audit script)
  Makefile
  src/test/fast_path_2_boundary_tests.cpp
  tools/audit_mapblockindex_coverage.sh
Due: none

Phase 6 v1.5+ dual-validation fix-ups (A1 + B1 + 3 subagent defects)
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/consensus/port/chain_selector_impl.cpp
  src/core/chainparams.h
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/test/fast_path_2_boundary_tests.cpp
  src/test/headers_manager_to_chain_selector_wiring_tests.cpp
Due: unittests, Consensus, Network

Phase 6 PR6.5b.0: Phase 1/2 wiring prep — IConnectionManager adapter + NodeContext fields
  Makefile
  src/core/node_context.cpp
  src/core/node_context.h
  src/net/port/connman_adapter.cpp
  src/net/port/connman_adapter.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_wiring_prep_tests.cpp
Due: unittests, Network

Phase 6 PR6.5b.1a: --usenewpeerman flag + conditional CPeerManager construction
  Makefile
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_lifecycle_tests.cpp
Due: unittests

Phase 6 PR6.5b.1b: dual-dispatch connman peer-event integration
  Makefile
  src/core/node_context.cpp
  src/net/connman.cpp
  src/net/connman.h
  src/node/dilithion-node.cpp
  src/node/dilv-node.cpp
  src/test/peer_manager_dual_dispatch_tests.cpp
Due: unittests, Network

Phase 6 PR6.5b.2: ProcessMessage dispatch + version/verack/ping/pong [queue: PR6.5b.2]
  Makefile
  src/net/port/peer.h
  src/net/port/peer_manager.cpp
  src/net/port/peer_manager.h
  src/test/peer_manager_processmessage_tests.cpp
Due: unittests, Network

website: bridge maintenance banner for contract-level pause
  website/bridge.html
Due: none

feat(index): add CTxIndex core class + unit tests [queue: TXINDEX-PR1]
  Makefile
  src/index/tx_index.cpp
  src/index/tx_index.h
  src/test/tx_index_tests.cpp
Due: unittests
