Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

codecov.yml:

# Codecov Configuration for Dilithion
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage targets and thresholds
coverage:
  status:
    # Project-level coverage (overall codebase)
    project:
      default:
        target: 60%                    # Week 4 target: 60%+
        threshold: 5%                  # Allow 5% decrease
        if_ci_failed: error            # Fail if CI failed
        informational: false           # Block PR if not met

    # Patch-level coverage (new code in PR)
    patch:
      default:
        target: 70%                    # New code must be 70%+ covered
        threshold: 5%                  # Allow 5% deviation
        if_ci_failed: error
        informational: false           # Block PR if not met

  # Coverage precision
  precision: 2
  round: down

# Which files to track
ignore:
  - "depends/**/*"                     # External dependencies
  - "test/**/*"                        # Test code itself
  - "src/test/**/*"                    # C++ test files
  - "**/*.pb.h"                        # Generated protobuf headers
  - "**/*.pb.cc"                       # Generated protobuf source

# Component-based coverage tracking
flags:
  unittests:
    paths:
      - src/
    carryforward: true

# Comments on PRs
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default                    # Comment on every PR
  require_changes: false               # Always comment
  require_base: false                  # Comment even without base coverage
  require_head: true                   # Require head coverage

# Coverage comparison
comparisons:
  - base: main
    threshold: 1%                      # Flag if coverage drops >1%

# Component-specific targets (informational)
component_management:
  individual_components:
    # P0 - Consensus Critical (80%+ required)
    - component_id: consensus
      name: Consensus
      paths:
        - src/consensus/**
      target: 80%

    - component_id: primitives
      name: Primitives
      paths:
        - src/primitives/**
      target: 80%

    - component_id: crypto
      name: Cryptography
      paths:
        - src/crypto/**
      target: 80%

    # P1 - High Priority (70%+ required)
    - component_id: network
      name: Network
      paths:
        - src/net/**
      target: 70%

    - component_id: wallet
      name: Wallet
      paths:
        - src/wallet/**
      target: 70%

    - component_id: rpc
      name: RPC
      paths:
        - src/rpc/**
      target: 70%

    # P2 - Medium Priority (60%+ desired)
    - component_id: util
      name: Utilities
      paths:
        - src/util/**
      target: 60%

# GitHub checks integration
github_checks:
  annotations: true                    # Show annotations on PR diff

# Notification settings
slack_app: false
twitter: false

fix: Web wallet connection stability and Windows crash handler
  src/node/dilithion-node.cpp
  website/wallet.html
Due: unittests

chore: Update website to v2.0.5 and fix mainnet status
  website/WHITEPAPER.html
  website/index.html
  website/script.js
Due: none

fix: AddrMan heap corruption when deserializing peers.dat
  src/net/addrman.h
Due: unittests, Network

feat: Add miner address to getblock RPC response
  src/rpc/server.cpp
Due: unittests, RPC

chore: Update website to v2.0.6
  website/index.html
Due: none

fix: Update Discord invite link to permanent one
  website/index.html
Due: none

fix: Wallet duplicate ID and Grafana instant queries
  grafana-dashboard.json
  website/wallet.html
Due: none

fix: Remove hardcoded 128 thread limit, use consensus MAX_MINING_THREADS (256)
  src/util/config_validator.cpp
Due: unittests, Utilities

fix: Remove all hardcoded 64 thread limits, use 256 max
  package-windows-release-github.sh
  src/api/wallet_html.h
  src/miner/controller.cpp
  website/wallet.html
Due: unittests

chore: Update website to v2.0.8
  website/index.html
Due: none

chore: Update script.js version to v2.0.8
  website/script.js
Due: none

fix: DFMP IBD consensus bug - deterministic chain-based validation
  src/consensus/pow.cpp
  src/consensus/pow.h
  src/consensus/validation.cpp
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Consensus

fix: Move forward declarations to global namespace scope
  src/dfmp/dfmp.h
Due: unittests

fix: Add missing CBlockIndex forward declaration in pow.h
  src/consensus/pow.h
Due: unittests, Consensus

fix: Deserialize block transactions before extracting identity
  src/dfmp/dfmp.cpp
Due: unittests

fix: Include OpenSSL 3 libraries in Linux package
  package-linux-release.sh
Due: none

fix: IBD chain-scanning for MIK pubkey lookup
  src/consensus/pow.cpp
  src/dfmp/dfmp.cpp
  src/dfmp/dfmp.h
Due: unittests, Consensus

fix: Ensure correct height for MIK signature + add debug logging
  src/consensus/pow.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Consensus

fix: IBD checkpoint validation and orphan block handling
  src/core/chainparams.cpp
  src/dfmp/mik.cpp
  src/net/headers_manager.cpp
  src/node/block_processing.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Network

fix: P2P race condition causing IBD sync failures
  src/net/peers.cpp
Due: unittests, Network

fix: Critical IBD fix - DFMP assume-valid and P2P race condition
  src/consensus/pow.cpp
  src/core/chainparams.cpp
  src/core/chainparams.h
  src/net/peers.cpp
Due: unittests, Consensus, Network

fix: Skip MIK verification for historical blocks during IBD
  src/consensus/pow.cpp
Due: unittests, Consensus

chore: Increase dfmpAssumeValidHeight to 1000 (temp fix for IBD)
  src/core/chainparams.cpp
Due: unittests

fix: Add bad peer detection and better peer rotation for IBD
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Add bad peer tracking for headers sync to avoid stalling on unresponsive peers
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests

fix: Directly switch to better peer instead of going through selection loop
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Always send GETHEADERS after stall, even if same peer reselected
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Add block database diagnostic RPC commands
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

feat: Add requestblocks RPC to request missing blocks from all peers
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Save block to DB before activation (Bug #243)
  src/node/block_processing.cpp
Due: unittests

fix: Clear BLOCK_HAVE_DATA flag when erasing blocks (Bug #243 defense)
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Add checkpoint at height 1000 for DFMP enforcement
  src/core/chainparams.cpp
Due: unittests

feat: Add MIK persistence and getdfmpinfo RPC
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/wallet.cpp
Due: unittests, Wallet, RPC

fix: Keep fork blocks in database during fork recovery (critical safety fix)
  src/node/ibd_coordinator.cpp
Due: unittests

feat: Add getblocktrackerinfo RPC for sync diagnostics
  src/rpc/server.cpp
  src/rpc/server.h
Due: unittests, RPC

fix: Clear in-flight blocks when rotating sync peer
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Clear in-flight blocks on all sync peer transitions
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Check IsConnected() when validating sync peer
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Don't disconnect valid chain for weaker incoming fork (Bug #245)
  src/node/ibd_coordinator.cpp
Due: unittests

fix: Immediately disconnect peers on ban + 1h ban time (Bug #246)
  src/net/banman.h
  src/net/peers.cpp
  src/net/peers.h
  src/node/block_processing.cpp
Due: unittests, Network
