Repository WillBarton888/dilithion: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Consensus, Primitives, Cryptography, Network, Wallet, RPC, Utilities

debug: Add logging to OnWindowBlockConnected to trace window advancement
  src/net/block_fetcher.cpp
  src/node/block_validation_queue.cpp
Due: unittests, Network

fix: IBD STUCK FIX #12 - Erase mapHeightToPeer per-height not per-chunk
  src/net/block_fetcher.cpp
Due: unittests, Network

debug: Add detailed logging to RequestBlock and MarkBlockAsInFlight
  src/net/block_fetcher.cpp
  src/net/peers.cpp
Due: unittests, Network

debug: Add erase logging to MarkBlockAsReceived
  src/net/peers.cpp
Due: unittests, Network

debug: Add logging to IBD chunk assignment to trace 'no suitable peers'
  .claude/settings.local.json
  docs/analysis/IBD-STALL-EVERY-128-BLOCKS-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/node/ibd_coordinator.cpp
Due: unittests

fix: IBD HEADER FIX #1 - Request more headers when behind peer
  .claude/settings.local.json
  src/node/dilithion-node.cpp
Due: unittests

debug: Add filter counters to valid_heights empty log for diagnosis
  src/node/ibd_coordinator.cpp
Due: unittests

debug: Add logging to ProcessHeaders and UpdateBestHeader for IBD diagnosis
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add detailed logging for orphan header parent lookup failure
  src/net/headers_manager.cpp
Due: unittests, Network

fix: IBD HEADER FIX #2 - Do parent lookup BEFORE expectedHeight calculation
  src/net/headers_manager.cpp
Due: unittests, Network

debug: Add genesis hash comparison logging
  src/net/headers_manager.cpp
Due: unittests, Network

fix: IBD HEADER FIX #2 continued - Trust pprev from previous iteration
  src/net/headers_manager.cpp
Due: unittests, Network

fix: IBD BLOCK FIX #3 - Dual-hash block storage for IBD compatibility
  .claude/settings.local.json
  docs/analysis/IBD-ISSUES-DIAGNOSTIC-ANALYSIS.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX-CORRECTED.md
  docs/security/COMPREHENSIVE-SECURITY-AUDIT-2025-01-XX.md
  src/node/blockchain_storage.cpp
Due: unittests

fix: IBD BLOCK FIX #3 - Add migration for dual-hash block storage
  .claude/settings.local.json
  src/node/blockchain_storage.cpp
  src/node/blockchain_storage.h
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD BLOCK FIX #3 - Add GETDATA handler fallback for hash mismatch
  .claude/settings.local.json
  src/node/dilithion-node.cpp
Due: unittests

fix: IBD SIMPLIFICATION - Use RandomX hash everywhere
  src/net/headers_manager.cpp
  src/net/headers_manager.h
  src/node/blockchain_storage.cpp
  src/node/dilithion-node.cpp
Due: unittests, Network

debug: Add logging to identify source of unknown block requests
  src/node/dilithion-node.cpp
Due: unittests

fix: BUG #158 - Add fork detection and recovery to IBD
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
  src/node/ibd_coordinator.h
Due: unittests, Network

fix: BUG #159 - Add chain reorg to IBD fork recovery
  src/node/ibd_coordinator.cpp
Due: unittests

fix: BUG #159 complete - Force window reinitialization in fork recovery
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: BUG #159 - Handle missing undo data during IBD fork recovery
  src/consensus/chain.cpp
  src/consensus/chain.h
  src/node/ibd_coordinator.cpp
Due: unittests, Consensus

fix: BUG #159 - Delete orphan blocks from DB during fork recovery
  src/node/ibd_coordinator.cpp
Due: unittests

fix: BUG #160 - Fix IBD stall due to HasBlockIndex check in QueueMissingBlocks
  src/node/ibd_coordinator.cpp
Due: unittests

fix: BUG #160 (COMPLETE) - Mark BLOCK_HAVE_DATA as received not pending
  src/node/ibd_coordinator.cpp
Due: unittests

debug: BUG #161 - Add hash comparison logging to MarkBlockReceived
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #162 - Use GetHeight() for is_height_connected check
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #162 - Add is_height_connected callback to AdvanceWindow
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
Due: unittests, Network

fix: BUG #162 - Include chain.h for CChainState definition
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #162 - Include iostream in header for std::cout
  src/net/block_fetcher.h
Due: unittests, Network

fix: BUG #163 - Clean up mapBlocksInFlight by HEIGHT on block connect
  src/net/block_fetcher.cpp
Due: unittests, Network

fix: BUG #164 - Skip duplicate headers before computing RandomX hash
  src/net/headers_manager.cpp
Due: unittests, Network

fix: BUG #165 - Clean up mapBlocksInFlight when peer becomes unsuitable
  src/net/block_fetcher.cpp
  src/net/block_fetcher.h
  src/node/ibd_coordinator.cpp
Due: unittests, Network

fix: BUG #166 - Fix vBlocksInFlight desync causing permanent peer stall
  src/net/block_fetcher.cpp
  src/net/peers.cpp
  src/net/peers.h
Due: unittests, Network

fix: BUG #167 - Per-node message limit to prevent queue starvation
  src/net/connman.cpp
Due: unittests, Network

fix: BUG #167 - Limit headers messages per batch to prevent blocking
  src/net/connman.cpp
Due: unittests, Network

feat: IBD Redesign Phase 1 - Async message dispatch
  src/net/connman.cpp
  src/net/connman.h
Due: unittests, Network

Path conditions:
  unittests: any of: src/, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Consensus: any of: src/consensus/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Primitives: any of: src/primitives/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Cryptography: any of: src/crypto/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Network: any of: src/net/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Wallet: any of: src/wallet/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  RPC: any of: src/rpc/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
  Utilities: any of: src/util/**, but not: depends/**/*, test/**/*, src/test/**/*, **/*.pb.h, **/*.pb.cc
